Repository OKEAMAH/Git: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kaitai-struct-files, tezos-rust-sdk, tezos-rust-sdk-test-codec, install_python_focal, install_python_jammy, install_python_bullseye, script:snapshot_alpha_and_link, check_lift_limits_patch, lockfile_sync_check

kaitai-struct-files:
  stage: client-libs
  needs:
  - trigger
  image: ubuntu:latest
  script:
  - apt update && apt install -y nix-bin make git
  - nix-channel --add https://nixos.org/channels/nixpkgs-unstable nixpkgs
  - nix-channel --update
  ...

tezos-rust-sdk:
  stage: client-libs
  needs:
  - trigger
  image: rust:1.66.0
  script:
  - apt-get update -qy && apt-get install -y openssl libssl-dev clang
  - rustup update
  - rustup component add rustfmt clippy
  - cd contrib/tezos-rust-sdk
  - cargo check --locked
  - cargo build --release
  - cargo test
  - cargo fmt -- --check

tezos-rust-sdk-test-codec:
  stage: client-libs
  needs:
  - trigger
  image: registry.gitlab.com/tezos/opam-repository:runtime-build-dependencies--2703ff3a4dbbfa575a7a3d6dc2fff2a4b23c2045
  script:
  - cd contrib/tezos-rust-sdk/codec
  - cargo build
  - cd ../../..
  - make octez-codec
  - cd contrib/tezos-rust-sdk
  - bash codec/tests/test.bash

install_python_focal:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

install_python_jammy:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

install_python_bullseye:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

script:snapshot_alpha_and_link:
  stage: test
  before_script:
  - . ./scripts/version.sh
  needs:
  - build_x86_64-released
  - build_x86_64-exp-dev-extra
  script:
  - ./.gitlab/ci/jobs/test/script:snapshot_alpha_and_link.sh

check_lift_limits_patch:
  retry: 0
  needs:
  - trigger
  script:
  - '[ $(git apply --numstat src/bin_tps_evaluation/lift_limits.patch | cut -f3) = "src/proto_alpha/lib_protocol/main.ml" ]'
  - git apply src/bin_tps_evaluation/lift_limits.patch
  - dune build @src/proto_alpha/lib_protocol/check

lockfile_sync_check:
  needs: []
  variables:
    ARCH: x86_64
  script:
  - make lock
  - diff tezos.opam.locked /home/tezos/tezos.opam.locked

Proto: slash at the end of cycle
  src/proto_alpha/lib_protocol/delegate_cycles.ml
  src/proto_alpha/lib_protocol/delegate_slashed_deposits_storage.ml
  src/proto_alpha/lib_protocol/delegate_slashed_deposits_storage.mli
Due: script:snapshot_alpha_and_link

Proto/Tests: fix test_valid_double_attestation_evidence
  src/proto_alpha/lib_protocol/test/integration/consensus/test_double_attestation.ml
Due: script:snapshot_alpha_and_link

Proto/Tests: fix test_valid_double_attesting_followed_by_double_baking
  src/proto_alpha/lib_protocol/test/integration/consensus/test_double_baking.ml
Due: script:snapshot_alpha_and_link

Proto/Tests: fix test_two_double_attestation_evidences_leadsto_no_bake
  src/proto_alpha/lib_protocol/test/integration/consensus/test_double_attestation.ml
Due: script:snapshot_alpha_and_link

Proto/Tests: fix test_freeze_more_with_low_balance
  src/proto_alpha/lib_protocol/test/integration/consensus/test_double_attestation.ml
Due: script:snapshot_alpha_and_link

Proto/Tests: fix test double preattestation
  src/proto_alpha/lib_protocol/test/integration/consensus/test_double_preattestation.ml
Due: script:snapshot_alpha_and_link

Proto/Tests: fix test_valid_double_baking_evidence
  src/proto_alpha/lib_protocol/test/integration/consensus/test_double_baking.ml
Due: script:snapshot_alpha_and_link

Proto/Tests: fix test_valid_double_baking_followed_by_double_attesting
  src/proto_alpha/lib_protocol/test/integration/consensus/test_double_baking.ml
Due: script:snapshot_alpha_and_link

Proto/Tests: add baking_mode to bake_until_cycle
  src/proto_alpha/lib_protocol/test/helpers/block.ml
  src/proto_alpha/lib_protocol/test/helpers/block.mli
Due: script:snapshot_alpha_and_link

Proto/Tests: add baking_mode to bake_until_cycle_end
  src/proto_alpha/lib_protocol/test/helpers/block.ml
  src/proto_alpha/lib_protocol/test/helpers/block.mli
Due: script:snapshot_alpha_and_link

Proto/Tests: fix test_payload_producer_gets_evidence_rewards
  src/proto_alpha/lib_protocol/test/integration/consensus/test_double_baking.ml
Due: script:snapshot_alpha_and_link

Proto/Tests: fix comment
  src/proto_alpha/lib_protocol/test/integration/consensus/test_double_baking.ml
Due: script:snapshot_alpha_and_link

EVM/Eval: helper functions
  src/kernel_evm/evm_evaluation/src/helpers.rs
Due: none

EVM/Eval: deserialization functions
  src/kernel_evm/evm_evaluation/src/models/deserializer.rs
Due: none

Proto/Tests: fix test may_not_bake_again_after_full_deposit_slash
  src/proto_alpha/lib_protocol/test/integration/consensus/test_frozen_deposits.ml
Due: script:snapshot_alpha_and_link

EVM/Eval: main loop to retrieve tests and execute them
  src/kernel_evm/Cargo.lock
  src/kernel_evm/Cargo.toml
  src/kernel_evm/evm_evaluation/Cargo.toml
  src/kernel_evm/evm_evaluation/src/main.rs
Due: none

DAL/Node: Add an RPC to connect to a new point
  src/bin_dal_node/RPC_server.ml
  src/bin_dal_node/node_context.ml
  src/bin_dal_node/node_context.mli
  src/lib_dal_node/gossipsub/gossipsub.ml
  src/lib_dal_node/gossipsub/gossipsub.mli
  src/lib_dal_node_services/services.ml
  src/lib_dal_node_services/services.mli
Due: none

EVM/Eval: runner to parse/deserialize/execute tests
  src/kernel_evm/evm_evaluation/src/runner.rs
Due: none

EVM/Execution: add a set nonce feature to ethereum accounts
  src/kernel_evm/evm_execution/src/account_storage.rs
Due: none

EVM/Eval: structure models for deserialization
  src/kernel_evm/evm_evaluation/src/models/mod.rs
Due: none

evm/tx-pool: add transactions to the tx-pool
  src/bin_evm_proxy/lib_dev/tx_pool.ml
Due: none

Kaitai: add a test to demonstrate bug in id-generation logic
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_tuples.ml
Due: none

evm/tx-pool: initialize the tx-pool
  src/bin_evm_proxy/lib_dev/tx_pool.ml
Due: none

EVM: add an entry in changelog
  src/kernel_evm/CHANGES.md
Due: none

EVM/Makefile: exclude evm-evaluation from kernel's compilation
  kernels.mk
  src/kernel_evm/Cargo.lock
  src/kernel_evm/Makefile
Due: none

evm/tx-pool: new definition of tx-pool
  src/bin_evm_proxy/lib_dev/tx_pool.ml
Due: none

Kaitai: fix duplicate id in tuple of descr bug
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_tuples.ml
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: none

evm/tx-pool: get the nonce from a raw tx
  src/bin_evm_proxy/lib_dev/encodings/ethereum_types.ml
Due: none

Kaitai: add missing ksy files
  contrib/kaitai-struct-files/id_005__psbabym1__delegate__frozen_balance.ksy
  contrib/kaitai-struct-files/id_006__pscartha__delegate__frozen_balance.ksy
  contrib/kaitai-struct-files/id_007__psdelph1__delegate__frozen_balance.ksy
  contrib/kaitai-struct-files/id_008__ptedo2zk__delegate__frozen_balance.ksy
  contrib/kaitai-struct-files/id_009__psfloren__delegate__frozen_balance.ksy
  contrib/kaitai-struct-files/id_010__ptgranad__delegate__frozen_balance.ksy
  contrib/kaitai-struct-files/id_011__pthangz2__delegate__frozen_balance.ksy
  contrib/kaitai-struct-files/id_013__ptjakart__constants.ksy
  contrib/kaitai-struct-files/id_013__ptjakart__constants__parametric.ksy
Due: kaitai-struct-files

EVM: tick model fetch
  src/kernel_evm/kernel/src/tick_model.rs
Due: none

EVM: tick model register
  src/kernel_evm/kernel/src/block.rs
  src/kernel_evm/kernel/src/block_in_progress.rs
  src/kernel_evm/kernel/src/storage.rs
  src/kernel_evm/kernel/src/tick_model.rs
Due: none

EVM: tick model finalize block
  src/kernel_evm/kernel/src/block.rs
  src/kernel_evm/kernel/src/tick_model.rs
Due: none

evm/tx-pool: test submitting txs with high nonces
  tezt/tests/evm_rollup.ml
Due: none

evm/tx-pool: remove old tx-pool definition
  src/bin_evm_proxy/lib_dev/tx_pool.ml
Due: none

EVM: tick model for bloom filter
  src/kernel_evm/kernel/src/block_in_progress.rs
  src/kernel_evm/kernel/src/tick_model.rs
Due: none

evm/tx-pool: send tx from the pool to the batcher
  src/bin_evm_proxy/lib_dev/tx_pool.ml
Due: none

Rollup_client/tezt: remove state_current_level
  tezt/lib_tezos/sc_rollup_client.ml
  tezt/lib_tezos/sc_rollup_client.mli
  tezt/lib_tezos/sc_rollup_helpers.ml
  tezt/lib_tezos/sc_rollup_helpers.mli
  tezt/tests/sc_rollup.ml
Due: none

Rollup_client/regression: update regressions tests
  tezt/tests/expected/sc_rollup.ml/Alpha- arith - RPC API should work and be stable.out
  tezt/tests/expected/sc_rollup.ml/Alpha- wasm_2_0_0 - RPC API should work and be stable.out
  tezt/tests/expected/sc_rollup.ml/Nairobi- arith - RPC API should work and be stable.out
  tezt/tests/expected/sc_rollup.ml/Nairobi- wasm_2_0_0 - RPC API should work and be stable.out
  tezt/tests/expected/sc_rollup.ml/Oxford- arith - RPC API should work and be stable.out
  tezt/tests/expected/sc_rollup.ml/Oxford- wasm_2_0_0 - RPC API should work and be stable.out
Due: none

Proto/SORU: Define field for dal params in reveal_activation_level
  src/lib_smart_rollup/rollup_constants.ml
  src/lib_smart_rollup_node/test/helpers/helpers.ml
  src/proto_018_Proxford/lib_sc_rollup_layer2/sc_rollup_proto_types.ml
  src/proto_alpha/lib_parameters/default_parameters.ml
  src/proto_alpha/lib_protocol/alpha_context.mli
  src/proto_alpha/lib_protocol/constants_parametric_repr.ml
  src/proto_alpha/lib_protocol/constants_parametric_repr.mli
  src/proto_alpha/lib_protocol/raw_context.ml
  src/proto_alpha/lib_protocol/sc_rollup_PVM_sig.ml
  src/proto_alpha/lib_protocol/test/unit/test_sc_rollup_arith.ml
  src/proto_alpha/lib_sc_rollup_layer2/sc_rollup_proto_types.ml
  tezt/tests/expected/RPC_test.ml/Alpha- (mode client) RPC regression tests- misc_protocol.out
  tezt/tests/expected/RPC_test.ml/Alpha- (mode light) RPC regression tests- misc_protocol.out
  tezt/tests/expected/RPC_test.ml/Alpha- (mode proxy) RPC regression tests- misc_protocol.out
  tezt/tests/expected/RPC_test.ml/Alpha- (mode proxy_server_data_dir) RPC regression tests- misc_protocol.out
  tezt/tests/expected/RPC_test.ml/Alpha- (mode proxy_server_rpc) RPC regression tests- misc_protocol.out
Due: script:snapshot_alpha_and_link

Rollup_client/tezt: remove status
  tezt/lib_tezos/sc_rollup_client.ml
  tezt/lib_tezos/sc_rollup_client.mli
  tezt/lib_tezos/sc_rollup_helpers.ml
  tezt/lib_tezos/sc_rollup_helpers.mli
  tezt/tests/sc_rollup.ml
Due: none

Path conditions:
  kaitai-struct-files: any of: contrib/kaitai-struct-files/*, contrib/kaitai-struct-files/**/*
  tezos-rust-sdk: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  tezos-rust-sdk-test-codec: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  install_python_focal: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_jammy: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_bullseye: any of: docs/developer/install-python-debian-ubuntu.sh
  script:snapshot_alpha_and_link: any of: src/proto_alpha/**/*, scripts/snapshot_alpha_and_link.sh, scripts/snapshot_alpha.sh, scripts/user_activated_upgrade.sh
  check_lift_limits_patch: any of: src/bin_tps_evaluation/lift_limits.patch, src/proto_alpha/lib_protocol/main.ml
  lockfile_sync_check: any of: scripts/version.sh, tezos.opam.locked
