Repository OKEAMAH/Git: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kaitai-struct-files, tezos-rust-sdk, tezos-rust-sdk-test-codec, install_python_focal, install_python_jammy, install_python_bullseye, script:snapshot_alpha_and_link, check_lift_limits_patch, lockfile_sync_check

kaitai-struct-files:
  stage: client-libs
  needs:
  - trigger
  image:
    name: kaitai/ksv
    entrypoint:
    - ''
  script:
  - mkdir tmp && cp -a contrib/kaitai-struct-files/rust contrib/kaitai-struct-files/*ksy tmp
  - make -C contrib/kaitai-struct-files
  ...

tezos-rust-sdk:
  stage: client-libs
  needs:
  - trigger
  image: rust:1.66.0
  script:
  - apt-get update -qy && apt-get install -y openssl libssl-dev clang
  - rustup update
  - rustup component add rustfmt clippy
  - cd contrib/tezos-rust-sdk
  - cargo check --locked
  - cargo build --release
  - cargo test
  - cargo fmt -- --check

tezos-rust-sdk-test-codec:
  stage: client-libs
  needs:
  - trigger
  image: registry.gitlab.com/tezos/opam-repository:runtime-build-dependencies--2703ff3a4dbbfa575a7a3d6dc2fff2a4b23c2045
  script:
  - cd contrib/tezos-rust-sdk/codec
  - cargo build
  - cd ../../..
  - make octez-codec
  - cd contrib/tezos-rust-sdk
  - bash codec/tests/test.bash

install_python_focal:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

install_python_jammy:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

install_python_bullseye:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

script:snapshot_alpha_and_link:
  stage: test
  before_script:
  - . ./scripts/version.sh
  needs:
  - build_x86_64-released
  - build_x86_64-exp-dev-extra
  script:
  - ./.gitlab/ci/jobs/test/script:snapshot_alpha_and_link.sh

check_lift_limits_patch:
  retry: 0
  needs:
  - trigger
  script:
  - '[ $(git apply --numstat src/bin_tps_evaluation/lift_limits.patch | cut -f3) = "src/proto_alpha/lib_protocol/main.ml" ]'
  - git apply src/bin_tps_evaluation/lift_limits.patch
  - dune build @src/proto_alpha/lib_protocol/check

lockfile_sync_check:
  needs: []
  variables:
    ARCH: x86_64
  script:
  - make lock
  - diff tezos.opam.locked /home/tezos/tezos.opam.locked

MIR: Add CONS instruction
  contrib/mir/src/ast.rs
  contrib/mir/src/gas.rs
  contrib/mir/src/interpreter.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/syntax.lalrpop
  contrib/mir/src/typechecker.rs
Due: none

MIR: use MichelsonList to represent list values
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/michelson_list.rs
  contrib/mir/src/interpreter.rs
  contrib/mir/src/typechecker.rs
Due: none

MIR: add IF_CONS instruction
  contrib/mir/src/ast.rs
  contrib/mir/src/gas.rs
  contrib/mir/src/interpreter.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/syntax.lalrpop
  contrib/mir/src/typechecker.rs
Due: none

MIR: Add ITER instruction (for lists and maps)
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/parsed.rs
  contrib/mir/src/ast/typechecked.rs
  contrib/mir/src/gas.rs
  contrib/mir/src/interpreter.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/syntax.lalrpop
  contrib/mir/src/typechecker.rs
Due: none

MIR: parse and typecheck Or values
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/or.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/parser.rs
  contrib/mir/src/syntax.lalrpop
  contrib/mir/src/typechecker.rs
Due: none

MIR: implement comparability for Or values
  contrib/mir/src/ast/comparable.rs
  contrib/mir/src/ast/or.rs
Due: none

MIR: add IF_LEFT instruction
  contrib/mir/src/ast.rs
  contrib/mir/src/gas.rs
  contrib/mir/src/interpreter.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/syntax.lalrpop
  contrib/mir/src/typechecker.rs
Due: none

MIR: add or type
  contrib/mir/src/ast.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/parser.rs
  contrib/mir/src/syntax.lalrpop
Due: none

MIR: expose Instruction parser instead of InstructionBlock
  contrib/mir/src/interpreter.rs
  contrib/mir/src/lib.rs
  contrib/mir/src/parser.rs
  contrib/mir/src/syntax.lalrpop
  contrib/mir/src/typechecker.rs
Due: none

MIR: do not expose typechecker::typecheck* and interpreter::interpret
  contrib/mir/src/interpreter.rs
  contrib/mir/src/syntax.lalrpop
  contrib/mir/src/typechecker.rs
  contrib/mir/src/tzt.rs
  contrib/mir/src/tzt/expectation.rs
Due: none

MIR: check type property invariants
  contrib/mir/src/typechecker.rs
Due: none

MIR: implement all type properties
  contrib/mir/src/ast.rs
Due: none

MIR: consume gas in verify_ty
  contrib/mir/src/gas.rs
  contrib/mir/src/lib.rs
  contrib/mir/src/typechecker.rs
Due: none

MIR: consume gas when computing type properties
  contrib/mir/src/ast.rs
  contrib/mir/src/gas.rs
  contrib/mir/src/lib.rs
  contrib/mir/src/typechecker.rs
Due: none

fixup! Lin: Add comments for code reading
  src/lib_validation/block_validation.ml
  src/proto_alpha/lib_plugin/mempool.ml
  src/proto_alpha/lib_protocol/apply.ml
  src/proto_alpha/lib_protocol/operation_repr.ml
  src/proto_alpha/lib_protocol/validate.ml
Due: script:snapshot_alpha_and_link

EVM/Cargo: enable debug feature flag
  src/kernel_evm/evm_evaluation/Cargo.toml
  src/kernel_evm/evm_execution/Cargo.toml
Due: none

Increase size of serialization buffer
  contrib/kaitai-ocaml/src/print.ml
Due: none

do not fail on the first kaitai-struct-compiler error
  Makefile
Due: none

update ksy files
  contrib/kaitai-struct-files/alpha__operation.ksy
  contrib/kaitai-struct-files/alpha__operation__contents.ksy
  contrib/kaitai-struct-files/alpha__operation__contents_list.ksy
  contrib/kaitai-struct-files/alpha__operation__protocol_data.ksy
  contrib/kaitai-struct-files/alpha__operation__unsigned.ksy
  contrib/kaitai-struct-files/alpha__operation_with_legacy_attestation_name.ksy
  contrib/kaitai-struct-files/alpha__operation_with_legacy_attestation_name__unsigned.ksy
  contrib/kaitai-struct-files/alpha__parameters.ksy
  contrib/kaitai-struct-files/id_015__ptlimapt__operation.ksy
  contrib/kaitai-struct-files/id_015__ptlimapt__operation__contents.ksy
  contrib/kaitai-struct-files/id_015__ptlimapt__operation__contents_list.ksy
  contrib/kaitai-struct-files/id_015__ptlimapt__operation__protocol_data.ksy
  contrib/kaitai-struct-files/id_015__ptlimapt__operation__unsigned.ksy
  contrib/kaitai-struct-files/id_016__ptmumbai__operation.ksy
  contrib/kaitai-struct-files/id_016__ptmumbai__operation__contents.ksy
  contrib/kaitai-struct-files/id_016__ptmumbai__operation__contents_list.ksy
  contrib/kaitai-struct-files/id_016__ptmumbai__operation__protocol_data.ksy
  contrib/kaitai-struct-files/id_016__ptmumbai__operation__unsigned.ksy
  contrib/kaitai-struct-files/id_017__ptnairob__operation.ksy
  contrib/kaitai-struct-files/id_017__ptnairob__operation__contents.ksy
  contrib/kaitai-struct-files/id_017__ptnairob__operation__contents_list.ksy
  contrib/kaitai-struct-files/id_017__ptnairob__operation__protocol_data.ksy
  contrib/kaitai-struct-files/id_017__ptnairob__operation__unsigned.ksy
  contrib/kaitai-struct-files/id_018__proxford__operation.ksy
  contrib/kaitai-struct-files/id_018__proxford__operation__contents.ksy
  contrib/kaitai-struct-files/id_018__proxford__operation__contents_list.ksy
  contrib/kaitai-struct-files/id_018__proxford__operation__protocol_data.ksy
  contrib/kaitai-struct-files/id_018__proxford__operation__unsigned.ksy
  contrib/kaitai-struct-files/id_018__proxford__operation_with_attestation.ksy
  contrib/kaitai-struct-files/id_018__proxford__operation_with_attestation__unsigned.ksy
Due: kaitai-struct-files

fix duplicated enum name
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: none

tezt/scenario: import snapshot from file or download it
  src/bin_testnet_scenarios/helpers.ml
Due: none

Tests/Proto: add empty test file for direct ticket transfers
  manifest/main.ml
  src/proto_alpha/lib_protocol/test/integration/michelson/dune
  src/proto_alpha/lib_protocol/test/integration/michelson/test_ticket_direct_spending.ml
Due: script:snapshot_alpha_and_link

Proto: BROKEN Allow forging tickets from implicit to smart contracts
  src/proto_alpha/lib_protocol/script_interpreter.ml
Due: script:snapshot_alpha_and_link

Tests/Proto: test direct (implicit -> sc) transfer of ticket
  src/proto_alpha/lib_protocol/test/integration/michelson/test_ticket_direct_spending.ml
Due: script:snapshot_alpha_and_link

Proto/Parameters: add a feature flag for direct ticket spending
  src/proto_alpha/lib_parameters/default_parameters.ml
  src/proto_alpha/lib_protocol/alpha_context.mli
  src/proto_alpha/lib_protocol/constants_parametric_repr.ml
  src/proto_alpha/lib_protocol/constants_parametric_repr.mli
  src/proto_alpha/lib_protocol/constants_storage.ml
  src/proto_alpha/lib_protocol/constants_storage.mli
  src/proto_alpha/lib_protocol/raw_context.ml
Due: script:snapshot_alpha_and_link

Cleanup makefile
  Makefile
Due: none

prevalidator: add a hashtable for operations already handled
  src/lib_shell/prevalidator.ml
Due: none

fix parsing of meta
  contrib/kaitai-ocaml/src/parse.ml
  contrib/kaitai-ocaml/src/print.ml
Due: none

fix mu
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: none

remove isToplevel
  contrib/kaitai-ocaml/src/parse.ml
  contrib/kaitai-ocaml/src/types.ml
  contrib/kaitai-ocaml/src/types.mli
  contrib/lib_kaitai_of_data_encoding/helpers.ml
  contrib/lib_kaitai_of_data_encoding/helpers.mli
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_list.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_mu.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_unions.ml
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: none

Path conditions:
  kaitai-struct-files: any of: contrib/kaitai-struct-files/*, contrib/kaitai-struct-files/**/*
  tezos-rust-sdk: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  tezos-rust-sdk-test-codec: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  install_python_focal: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_jammy: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_bullseye: any of: docs/developer/install-python-debian-ubuntu.sh
  script:snapshot_alpha_and_link: any of: src/proto_alpha/**/*, scripts/snapshot_alpha_and_link.sh, scripts/snapshot_alpha.sh, scripts/user_activated_upgrade.sh
  check_lift_limits_patch: any of: src/bin_tps_evaluation/lift_limits.patch, src/proto_alpha/lib_protocol/main.ml
  lockfile_sync_check: any of: scripts/version.sh, tezos.opam.locked
