Repository OKEAMAH/Git: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kaitai-struct-files, tezos-rust-sdk, tezos-rust-sdk-test-codec, install_python_focal, install_python_jammy, install_python_bullseye, script:snapshot_alpha_and_link, check_lift_limits_patch, lockfile_sync_check

Path conditions:
  kaitai-struct-files: any of: contrib/kaitai-struct-files/*, contrib/kaitai-struct-files/**/*
  tezos-rust-sdk: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  tezos-rust-sdk-test-codec: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  install_python_focal: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_jammy: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_bullseye: any of: docs/developer/install-python-debian-ubuntu.sh
  script:snapshot_alpha_and_link: any of: src/proto_alpha/**/*, scripts/snapshot_alpha_and_link.sh, scripts/snapshot_alpha.sh, scripts/user_activated_upgrade.sh
  check_lift_limits_patch: any of: src/bin_tps_evaluation/lift_limits.patch, src/proto_alpha/lib_protocol/main.ml
  lockfile_sync_check: any of: scripts/version.sh, tezos.opam.locked

Proto/RPC: add tezt rpc regression test
  tezt/lib_tezos/RPC.ml
  tezt/lib_tezos/RPC.mli
  tezt/tests/RPC_test.ml
  tezt/tests/expected/RPC_test.ml/Alpha- (mode client) RPC regression tests- misc_protocol.out
  tezt/tests/expected/RPC_test.ml/Alpha- (mode light) RPC regression tests- misc_protocol.out
  tezt/tests/expected/RPC_test.ml/Alpha- (mode proxy) RPC regression tests- misc_protocol.out
  tezt/tests/expected/RPC_test.ml/Alpha- (mode proxy_server_data_dir) RPC regression tests- misc_protocol.out
  tezt/tests/expected/RPC_test.ml/Alpha- (mode proxy_server_rpc) RPC regression tests- misc_protocol.out
Due: none

Revert !9804: Proto: Migrate from Oxford
  src/proto_alpha/lib_protocol/constants_parametric_previous_repr.ml
  src/proto_alpha/lib_protocol/constants_parametric_previous_repr.mli
  src/proto_alpha/lib_protocol/init_storage.ml
  src/proto_alpha/lib_protocol/raw_context.ml
  src/proto_alpha/lib_protocol/raw_context.mli
  src/proto_alpha/lib_protocol/storage.ml
  src/proto_alpha/lib_protocol/storage.mli
  tezt/lib_tezos/protocol.ml
  tezt/tests/protocol_migration.ml
Due: script:snapshot_alpha_and_link

proto/stake_storage: introduce has_minimal_stake_and_frozen_stake
  src/proto_alpha/lib_protocol/stake_storage.ml
  src/proto_alpha/lib_protocol/stake_storage.mli
Due: script:snapshot_alpha_and_link

proto/delegate_sampler: filter retrieved stakes with minimal_frozen_stake
  src/proto_alpha/lib_protocol/delegate_sampler.ml
Due: script:snapshot_alpha_and_link

Scripts/CI: [rust-toolchain] is a tag in the [opam-repo] image
  .gitlab-ci.yml
  .gitlab/ci/jobs/build/common.yml
  .gitlab/ci/jobs/publish/kernel_sdk.yml
  .gitlab/ci/jobs/shared/templates.yml
  scripts/ci/docker_release.sh
  scripts/create_docker_image.sh
  scripts/version.sh
Due: lockfile_sync_check

Scripts: Bump opam-repo to version with [rust-toolchain]
  .gitlab-ci.yml
  scripts/version.sh
Due: lockfile_sync_check

Proto: add denunciations RPC
  src/proto_alpha/lib_protocol/alpha_context.ml
  src/proto_alpha/lib_protocol/alpha_context.mli
  src/proto_alpha/lib_protocol/alpha_services.ml
  src/proto_alpha/lib_protocol/alpha_services.mli
  src/proto_alpha/lib_protocol/denunciations_repr.mli
Due: script:snapshot_alpha_and_link

Proto/test: check denunciation RPC
  src/proto_alpha/lib_protocol/test/helpers/context.ml
  src/proto_alpha/lib_protocol/test/helpers/context.mli
  src/proto_alpha/lib_protocol/test/integration/consensus/test_double_attestation.ml
Due: script:snapshot_alpha_and_link

proto/stake_storage: Remove condition on frozen stake to enter active_delegates_with_minimal_stake
  src/proto_alpha/lib_protocol/stake_storage.ml
Due: script:snapshot_alpha_and_link

Rollup_node/Tezt: tests for sc_rollup migration
  tezt/tests/main.ml
  tezt/tests/sc_rollup_migration.ml
  tezt/tests/sc_rollup_migration.mli
Due: none

RISC-V: Sandbox
  .gitignore
  .gitlab/ci/jobs/build/kernels.yml
  .gitlab/ci/jobs/shared/templates.yml
  kernels.mk
  src/risc_v/sandbox/Cargo.lock
  src/risc_v/sandbox/Cargo.toml
  src/risc_v/sandbox/Makefile
  src/risc_v/sandbox/rust-toolchain
  src/risc_v/sandbox/src/cli.rs
  src/risc_v/sandbox/src/input.rs
  src/risc_v/sandbox/src/main.rs
  src/risc_v/sandbox/src/syscall.rs
Due: none

RISC-V Interpreter: Initialisation
  kernels.mk
  src/risc_v/interpreter/Cargo.lock
  src/risc_v/interpreter/Cargo.toml
  src/risc_v/interpreter/Makefile
  src/risc_v/interpreter/rust-toolchain
  src/risc_v/interpreter/src/lib.rs
Due: none

DAL/echo-kernel: improve dal echo kernel to ignore writing empty pages
  src/kernel_dal_echo/kernel/src/lib.rs
Due: none

proto/staking: move Staking module in the other side of alpha_context barrier
  src/proto_alpha/lib_protocol/TEZOS_PROTOCOL
  src/proto_alpha/lib_protocol/alpha_context.ml
  src/proto_alpha/lib_protocol/alpha_context.mli
  src/proto_alpha/lib_protocol/dune
  src/proto_alpha/lib_protocol/staking.ml
  src/proto_alpha/lib_protocol/staking.mli
Due: script:snapshot_alpha_and_link

proto/alpha_context: un-expose unused functions
  src/proto_alpha/lib_protocol/alpha_context.mli
Due: script:snapshot_alpha_and_link

Proto/Alpha_context: expose Staking_pseudotoken separately
  src/proto_alpha/lib_protocol/alpha_context.ml
  src/proto_alpha/lib_protocol/alpha_context.mli
  src/proto_alpha/lib_protocol/contract_services.ml
  src/proto_alpha/lib_protocol/contract_services.mli
  src/proto_alpha/lib_protocol/delegate_services.ml
  src/proto_alpha/lib_protocol/delegate_services.mli
  src/proto_alpha/lib_protocol/test/helpers/context.ml
  src/proto_alpha/lib_protocol/test/helpers/context.mli
Due: script:snapshot_alpha_and_link

proto/stake_storage: properly name folds
  src/proto_alpha/lib_protocol/delegate_cycles.ml
  src/proto_alpha/lib_protocol/stake_storage.ml
  src/proto_alpha/lib_protocol/stake_storage.mli
  src/proto_alpha/lib_protocol/vote_storage.ml
Due: script:snapshot_alpha_and_link

Rollup_node/Tezt: move helpers functions that commonly use for sc_rollup tests
  tezt/lib_tezos/sc_rollup_helpers.ml
  tezt/lib_tezos/sc_rollup_helpers.mli
  tezt/tests/sc_rollup.ml
  tezt/tests/sc_rollup.mli
Due: none

Proto/Operation_result: use tez symbol for tez only
  src/proto_alpha/lib_client/operation_result.ml
  src/proto_alpha/lib_protocol/receipt_repr.ml
Due: script:snapshot_alpha_and_link

Proto/Receipt: add Staking_delegator_numerator
  src/proto_alpha/lib_client/operation_result.ml
  src/proto_alpha/lib_protocol/alpha_context.mli
  src/proto_alpha/lib_protocol/receipt_repr.ml
  src/proto_alpha/lib_protocol/receipt_repr.mli
  src/proto_alpha/lib_protocol/staking_pseudotoken_repr.mli
Due: script:snapshot_alpha_and_link

Proto/Staking: add balance updates to request_unstake
  src/proto_alpha/lib_protocol/staking.ml
  src/proto_alpha/lib_protocol/staking_pseudotokens_storage.ml
  src/proto_alpha/lib_protocol/staking_pseudotokens_storage.mli
Due: script:snapshot_alpha_and_link

Proto: expose pseudotokens to z for tests
  src/proto_alpha/lib_protocol/alpha_context.ml
  src/proto_alpha/lib_protocol/alpha_context.mli
Due: script:snapshot_alpha_and_link

Proto/Staking: add balance updates to stake
  src/proto_alpha/lib_protocol/staking.ml
  src/proto_alpha/lib_protocol/staking_pseudotokens_storage.ml
  src/proto_alpha/lib_protocol/staking_pseudotokens_storage.mli
Due: script:snapshot_alpha_and_link

Proto/Staking_pseudotokens: plug balance updates
  src/proto_alpha/lib_protocol/staking_pseudotokens_storage.ml
Due: script:snapshot_alpha_and_link

Proto/Receipt: add Staking_pseudotoken to Token
  src/proto_alpha/lib_protocol/alpha_context.mli
  src/proto_alpha/lib_protocol/receipt_repr.ml
  src/proto_alpha/lib_protocol/receipt_repr.mli
  src/proto_alpha/lib_protocol/staking_pseudotoken_repr.mli
  src/proto_alpha/lib_protocol/test/integration/test_liquidity_baking.ml
Due: script:snapshot_alpha_and_link

Proto/Receipt: add Staking_delegate_denominator
  src/proto_alpha/lib_client/operation_result.ml
  src/proto_alpha/lib_protocol/alpha_context.mli
  src/proto_alpha/lib_protocol/receipt_repr.ml
  src/proto_alpha/lib_protocol/receipt_repr.mli
Due: script:snapshot_alpha_and_link

Proto/Tests: helpers for staking abstract balances
  src/proto_alpha/lib_protocol/test/helpers/context.ml
  src/proto_alpha/lib_protocol/test/helpers/context.mli
Due: script:snapshot_alpha_and_link

Proto/AI/Tests: move Block.bake earlier
  src/proto_alpha/lib_protocol/test/integration/test_adaptive_issuance_roundtrip.ml
Due: script:snapshot_alpha_and_link

Proto/AI/Tests: factorize Block.bake
  src/proto_alpha/lib_protocol/test/integration/test_adaptive_issuance_roundtrip.ml
Due: script:snapshot_alpha_and_link

Proto/AI/Tests: add staking abstract balances (part 2)
  src/proto_alpha/lib_protocol/test/helpers/adaptive_issuance_helpers.ml
Due: script:snapshot_alpha_and_link

Proto/Tests: expose Block.bake_with_metadata
  src/proto_alpha/lib_protocol/test/helpers/block.mli
Due: script:snapshot_alpha_and_link

Proto/Tests: make baking_mode optional for bake_with_metadata as well
  src/proto_alpha/lib_protocol/test/helpers/block.ml
  src/proto_alpha/lib_protocol/test/helpers/block.mli
Due: script:snapshot_alpha_and_link

Proto/AI/Tests: apply pseudotokens balance updates on bake
  src/proto_alpha/lib_protocol/test/integration/test_adaptive_issuance_roundtrip.ml
Due: script:snapshot_alpha_and_link

Proto/test: log pseudotoken updates
  src/proto_alpha/lib_protocol/test/integration/test_adaptive_issuance_roundtrip.ml
Due: script:snapshot_alpha_and_link

Proto/AI/Tests: add staking abstract balances
  src/proto_alpha/lib_protocol/test/helpers/adaptive_issuance_helpers.ml
Due: script:snapshot_alpha_and_link

EVM/Tezt: allow running migration tests with a config
  tezt/lib_tezos/sc_rollup_helpers.ml
  tezt/lib_tezos/sc_rollup_helpers.mli
  tezt/tests/evm_rollup.ml
Due: none

Proto/test/ai: destruct account
  src/proto_alpha/lib_protocol/test/helpers/adaptive_issuance_helpers.ml
Due: script:snapshot_alpha_and_link

EVM/Kernel: remove block hash from tx receipt, object and BIP
  src/kernel_evm/ethereum/src/transaction.rs
  src/kernel_evm/kernel/src/block_in_progress.rs
Due: none

Proto/test: add op result in bake_with_metadata
  src/proto_alpha/lib_protocol/test/helpers/block.ml
  src/proto_alpha/lib_protocol/test/helpers/block.mli
  src/proto_alpha/lib_protocol/test/integration/test_adaptive_issuance_launch.ml
Due: script:snapshot_alpha_and_link

EVM/Proxy: add the block hash to the receipt and tx object
  src/bin_evm_proxy/lib_dev/encodings/ethereum_types.ml
  src/bin_evm_proxy/lib_dev/rollup_node.ml
Due: none
