Repository OKEAMAH/Git: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kaitai-struct-files, tezos-rust-sdk, tezos-rust-sdk-test-codec, install_python_focal, install_python_jammy, install_python_bullseye, script:snapshot_alpha_and_link, check_lift_limits_patch, lockfile_sync_check

Path conditions:
  kaitai-struct-files: any of: contrib/kaitai-struct-files/*, contrib/kaitai-struct-files/**/*
  tezos-rust-sdk: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  tezos-rust-sdk-test-codec: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  install_python_focal: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_jammy: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_bullseye: any of: docs/developer/install-python-debian-ubuntu.sh
  script:snapshot_alpha_and_link: any of: src/proto_alpha/**/*, scripts/snapshot_alpha_and_link.sh, scripts/snapshot_alpha.sh, scripts/user_activated_upgrade.sh
  check_lift_limits_patch: any of: src/bin_tps_evaluation/lift_limits.patch, src/proto_alpha/lib_protocol/main.ml
  lockfile_sync_check: any of: scripts/version.sh, tezos.opam.locked

Proto/stake/tests: stake from unstake forbidden if slashed
  src/proto_alpha/lib_protocol/test/helpers/adaptive_issuance_helpers.ml
  src/proto_alpha/lib_protocol/test/integration/test_adaptive_issuance_roundtrip.ml
Due: script:snapshot_alpha_and_link

Proto/stake/tests: remove from init when stake from unstake
  src/proto_alpha/lib_protocol/test/helpers/adaptive_issuance_helpers.ml
  src/proto_alpha/lib_protocol/test/integration/test_adaptive_issuance_roundtrip.ml
Due: script:snapshot_alpha_and_link

Proto/stake/tests: disable some more tests with autostaking
  src/proto_alpha/lib_protocol/test/integration/test_adaptive_issuance_roundtrip.ml
Due: script:snapshot_alpha_and_link

rollup/node: add private_operator mode
  src/lib_smart_rollup_node/batcher.ml
  src/lib_smart_rollup_node/configuration.ml
  src/lib_smart_rollup_node/configuration.mli
  src/lib_smart_rollup_node/publisher.ml
  src/lib_smart_rollup_node/refutation_coordinator.ml
  tezt/lib_tezos/sc_rollup_node.ml
  tezt/tests/sc_rollup.ml
Due: none

rollup/doc: add documentation for private_operator mode
  docs/shell/smart_rollup_node.rst
Due: none

MIR: remove indirections when ensuring type properties
  contrib/mir/src/ast.rs
  contrib/mir/src/typechecker.rs
Due: none

proto/delegate_staking_parameters: accessors to autostaking status
  src/proto_alpha/lib_protocol/delegate_staking_parameters.ml
  src/proto_alpha/lib_protocol/delegate_staking_parameters.mli
Due: script:snapshot_alpha_and_link

proto/storage: add a table in storage to register autostakers
  src/proto_alpha/lib_protocol/storage.ml
  src/proto_alpha/lib_protocol/storage.mli
Due: script:snapshot_alpha_and_link

proto/alpha_context: expose autostaking accessors
  src/proto_alpha/lib_protocol/alpha_context.mli
Due: script:snapshot_alpha_and_link

WIP: proto/costs: set_autostaking gas
  src/proto_alpha/lib_protocol/adaptive_issuance_costs.ml
  src/proto_alpha/lib_protocol/adaptive_issuance_costs.mli
Due: script:snapshot_alpha_and_link

proto/apply: add pseudo-operation for (de)activating autostaking
  src/proto_alpha/lib_protocol/apply.ml
Due: script:snapshot_alpha_and_link

proto/apply: add Invalid_autostaking_sender error
  src/proto_alpha/lib_protocol/apply.ml
Due: script:snapshot_alpha_and_link

MIR: Add ITER instruction (for lists and maps)
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/parsed.rs
  contrib/mir/src/ast/typechecked.rs
  contrib/mir/src/gas.rs
  contrib/mir/src/interpreter.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/syntax.lalrpop
  contrib/mir/src/typechecker.rs
Due: none

MIR: parse and typecheck Or values
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/or.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/parser.rs
  contrib/mir/src/syntax.lalrpop
  contrib/mir/src/typechecker.rs
Due: none

MIR: add or type
  contrib/mir/src/ast.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/parser.rs
  contrib/mir/src/syntax.lalrpop
Due: none

MIR: implement comparability for Or values
  contrib/mir/src/ast/comparable.rs
  contrib/mir/src/ast/or.rs
Due: none

MIR: add IF_LEFT instruction
  contrib/mir/src/ast.rs
  contrib/mir/src/gas.rs
  contrib/mir/src/interpreter.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/syntax.lalrpop
  contrib/mir/src/typechecker.rs
Due: none

MIR: do not expose typechecker::typecheck* and interpreter::interpret
  contrib/mir/src/interpreter.rs
  contrib/mir/src/typechecker.rs
  contrib/mir/src/tzt/expectation.rs
Due: none

MIR: expose Instruction parser instead of InstructionBlock
  contrib/mir/src/interpreter.rs
  contrib/mir/src/lib.rs
  contrib/mir/src/parser.rs
  contrib/mir/src/syntax.lalrpop
  contrib/mir/src/typechecker.rs
  contrib/mir/src/tzt.rs
Due: none

MIR: remove unnecessary allow(dead_code) annotations
  contrib/mir/src/interpreter.rs
  contrib/mir/src/parser.rs
  contrib/mir/src/typechecker.rs
  contrib/mir/src/tzt.rs
Due: none

MIR: implement all type properties
  contrib/mir/src/ast.rs
Due: none

fixup! Add new Auth_source manager op (does not compile)
  src/proto_alpha/lib_protocol/alpha_context.mli
  src/proto_alpha/lib_protocol/apply.ml
  src/proto_alpha/lib_protocol/apply.mli
  src/proto_alpha/lib_protocol/apply_results.ml
  src/proto_alpha/lib_protocol/apply_results.mli
  src/proto_alpha/lib_protocol/contract_storage.ml
  src/proto_alpha/lib_protocol/operation_repr.ml
  src/proto_alpha/lib_protocol/operation_repr.mli
  src/proto_alpha/lib_protocol/validate.ml
Due: script:snapshot_alpha_and_link

start merkle
  src/lib_kzg/merkle.ml
Due: none

MIR: remove now-unnecessary comparable checks
  contrib/mir/src/typechecker.rs
Due: none

MIR: consume gas when computing type properties
  contrib/mir/src/ast.rs
  contrib/mir/src/gas.rs
  contrib/mir/src/lib.rs
  contrib/mir/src/typechecker.rs
Due: none

MIR: check type property invariants
  contrib/mir/src/typechecker.rs
Due: none

MIR: consume gas in verify_ty
  contrib/mir/src/gas.rs
  contrib/mir/src/lib.rs
  contrib/mir/src/typechecker.rs
Due: none

MIR: remove indirections when ensuring type properties
  contrib/mir/src/ast.rs
  contrib/mir/src/typechecker.rs
  contrib/mir/src/typechecker/type_props.rs
Due: none

Apply 5 suggestion(s) to 3 file(s)
  docs/shell/smart_rollup_node.rst
  src/lib_smart_rollup_node/configuration.ml
  src/lib_smart_rollup_node/configuration.mli
Due: none

youpi
  manifest/main.ml
  src/lib_kzg/merkle.ml
  src/lib_plonk/test/dune
  src/lib_plonk/test/main.ml
  src/lib_plonk/test/test_merkle.ml
Due: none

batch update
  src/lib_kzg/merkle.ml
Due: none

Kaitai: Ee2 testing kaitai translation with `kaitai_e2e.sh`
  contrib/lib_kaitai_of_data_encoding/test/README.md
  contrib/lib_kaitai_of_data_encoding/test/expected/ground_uint16.ksy
  contrib/lib_kaitai_of_data_encoding/test/expected/ground_uint8.ksy
  contrib/lib_kaitai_of_data_encoding/test/input/invalid/ground_uint16/01.hex
  contrib/lib_kaitai_of_data_encoding/test/input/invalid/ground_uint8/01.hex
  contrib/lib_kaitai_of_data_encoding/test/input/valid/ground_uint16/01.hex
  contrib/lib_kaitai_of_data_encoding/test/input/valid/ground_uint8/01.hex
  contrib/lib_kaitai_of_data_encoding/test/input/valid/ground_uint8/02.hex
  contrib/lib_kaitai_of_data_encoding/test/input/valid/ground_uint8/03.hex
  contrib/lib_kaitai_of_data_encoding/test/kaitai_e2e.sh
  contrib/lib_kaitai_of_data_encoding/test/parse_and_print.js
Due: none

Kaitai/test: Assert translation against prevalidated files
  contrib/lib_kaitai_of_data_encoding/test/expected/ground_uint16.ksy
  contrib/lib_kaitai_of_data_encoding/test/expected/ground_uint8.ksy
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_ground_types.ml
Due: none

CI: Run Kaitai e2e job using client libs docker image
  .gitlab-ci.yml
  .gitlab/ci/jobs/test/misc_checks.yml
  scripts/version.sh
Due: lockfile_sync_check

youpi
  src/lib_kzg/merkle.ml
  src/lib_plonk/test/test_merkle.ml
Due: none

WIP
  src/lib_kzg/merkle.ml
Due: none

hourra
  src/lib_kzg/merkle.ml
Due: none

CI: Link tezos/opam-repository client libs docker image
  .gitlab-ci.yml
  scripts/version.sh
Due: lockfile_sync_check

\o/
  src/lib_kzg/merkle.ml
  src/lib_plonk/test/test_merkle.ml
Due: none
