Repository OKEAMAH/Git: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kaitai-struct-files, tezos-rust-sdk, tezos-rust-sdk-test-codec, install_python_focal, install_python_jammy, install_python_bullseye, script:snapshot_alpha_and_link, check_lift_limits_patch, lockfile_sync_check

kaitai-struct-files:
  stage: client-libs
  needs:
  - trigger
  image:
    name: kaitai/ksv
    entrypoint:
    - ''
  script:
  - mkdir tmp && cp -a contrib/kaitai-struct-files/rust contrib/kaitai-struct-files/*ksy tmp
  - make -C contrib/kaitai-struct-files
  ...

tezos-rust-sdk:
  stage: client-libs
  needs:
  - trigger
  image: rust:1.66.0
  script:
  - apt-get update -qy && apt-get install -y openssl libssl-dev clang
  - rustup update
  - rustup component add rustfmt clippy
  - cd contrib/tezos-rust-sdk
  - cargo check --locked
  - cargo build --release
  - cargo test
  - cargo fmt -- --check

tezos-rust-sdk-test-codec:
  stage: client-libs
  needs:
  - trigger
  image: registry.gitlab.com/tezos/opam-repository:runtime-build-dependencies--2703ff3a4dbbfa575a7a3d6dc2fff2a4b23c2045
  script:
  - cd contrib/tezos-rust-sdk/codec
  - cargo build
  - cd ../../..
  - make octez-codec
  - cd contrib/tezos-rust-sdk
  - bash codec/tests/test.bash

install_python_focal:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

install_python_jammy:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

install_python_bullseye:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

script:snapshot_alpha_and_link:
  stage: test
  before_script:
  - . ./scripts/version.sh
  needs:
  - build_x86_64-released
  - build_x86_64-exp-dev-extra
  script:
  - ./.gitlab/ci/jobs/test/script:snapshot_alpha_and_link.sh

check_lift_limits_patch:
  retry: 0
  needs:
  - trigger
  script:
  - '[ $(git apply --numstat src/bin_tps_evaluation/lift_limits.patch | cut -f3) = "src/proto_alpha/lib_protocol/main.ml" ]'
  - git apply src/bin_tps_evaluation/lift_limits.patch
  - dune build @src/proto_alpha/lib_protocol/check

lockfile_sync_check:
  needs: []
  variables:
    ARCH: x86_64
  script:
  - make lock
  - diff tezos.opam.locked /home/tezos/tezos.opam.locked

MIR: Log empty line on message handling
  contrib/mir/src/rollup/kernel.rs
Due: none

MIR: Fix logs mentioning messages
  contrib/mir/src/rollup/kernel.rs
Due: none

MIR: Add `rollup_util` umbrella module
  contrib/mir/src/rollup_util.rs
Due: none

MIR: fixup! MIR: Add logging helper
  contrib/mir/src/rollup_util/log.rs
Due: none

MIR: Add a log function for debug purposes
  contrib/mir/src/rollup_util/log.rs
Due: none

MIR: Add logging helper
  contrib/mir/src/rollup/demo.rs
  contrib/mir/src/rollup/kernel.rs
  contrib/mir/src/rollup_util.rs
  contrib/mir/src/rollup_util/log.rs
Due: none

MIR: fixup! MIR: Add a log function for debug purposes
  contrib/mir/src/rollup_util/log.rs
Due: none

wip
  src/lib_kzg/verkle.ml
Due: none

test
  src/lib_plonk/test/test_verkle.ml
Due: none

MIR: proto: entrypoint newtype
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/michelson_address.rs
  contrib/mir/src/ast/michelson_address/entrypoint.rs
  contrib/mir/src/typechecker.rs
Due: none

tezos-rust-sdk: plug CI
  .gitlab-ci.yml
  .gitlab/ci/jobs/contrib/tezos_rust_sdk.yml
Due: none

fix typo: tezos-rust-sdk: crago -> cargo
  contrib/tezos-rust-sdk/tezos-core/README.md
  contrib/tezos-rust-sdk/tezos-michelson/README.md
  contrib/tezos-rust-sdk/tezos-operation/README.md
  contrib/tezos-rust-sdk/tezos-rpc/README.md
Due: tezos-rust-sdk, tezos-rust-sdk-test-codec

tezos-rust-sdk: remove irrelevant files
  contrib/tezos-rust-sdk/.github/workflows/ci.yml
  contrib/tezos-rust-sdk/.gitlab-ci.yml
Due: tezos-rust-sdk, tezos-rust-sdk-test-codec

tezos-rust-sdk: remove some irrelevant files
  contrib/tezos-rust-sdk/.gitlab/issue_templates/Bug.md
  contrib/tezos-rust-sdk/.gitlab/issue_templates/Epic.md
  contrib/tezos-rust-sdk/.gitlab/issue_templates/Feature.md
  contrib/tezos-rust-sdk/.gitlab/issue_templates/Task.md
Due: tezos-rust-sdk, tezos-rust-sdk-test-codec

rust-client-lib: improve CI
  .gitlab-ci.yml
  .gitlab/ci/jobs/contrib/tezos_rust_sdk.yml
Due: none

Contrib: add `tezos-rust-sdk`-based codec; support u16, i32, i64, N, Z
  contrib/tezos-rust-sdk/Cargo.lock
  contrib/tezos-rust-sdk/Cargo.toml
  contrib/tezos-rust-sdk/codec/Cargo.toml
  contrib/tezos-rust-sdk/codec/README.md
  contrib/tezos-rust-sdk/codec/src/codec.rs
Due: tezos-rust-sdk, tezos-rust-sdk-test-codec

Contrib: Rust-based codec: add tests
  contrib/tezos-rust-sdk/codec/tests/test.bash
Due: tezos-rust-sdk, tezos-rust-sdk-test-codec

Contrib: Rust-based codec: CI: add test
  .gitlab/ci/jobs/contrib/tezos_rust_sdk.yml
Due: none

Contrib: rust-based codec: better CI rules
  .gitlab/ci/jobs/contrib/tezos_rust_sdk.yml
Due: none

Kaitai: CI: add kaitai-struct-files job, using ubuntu img
  .gitlab-ci.yml
  .gitlab/ci/jobs/contrib/kaitai_struct_files.yml
Due: none

Kaitai: CI: add kaitai-struct-files job, using ksv img
  .gitlab/ci/jobs/contrib/kaitai_struct_files.yml
Due: none

WIP: trying to use kaitai-generated rust
  contrib/tezos-rust-sdk/Cargo.lock
  contrib/tezos-rust-sdk/codec/Cargo.toml
  contrib/tezos-rust-sdk/codec/src/codec.rs
Due: tezos-rust-sdk, tezos-rust-sdk-test-codec

WIP: Kaitai: add C++ and JS generation
  contrib/kaitai-struct-files/Makefile
  contrib/kaitai-struct-files/rust/src/kaitai_stream.rs
  contrib/kaitai-struct-files/rust/src/lib.rs
Due: kaitai-struct-files

add new test
  src/lib_kzg/verkle.ml
  src/lib_plonk/test/test_verkle.ml
Due: none

test
  src/lib_kzg/verkle.ml
  src/lib_plonk/test/test_verkle.ml
Due: none

lcc
  src/lib_smart_rollup_node/metrics.ml
  src/lib_smart_rollup_node/metrics.mli
  src/lib_smart_rollup_node/node_context.ml
Due: none

set LCC at rollup node start
  src/lib_smart_rollup_node/rollup_node_daemon.ml
Due: none

lib_smart_rollup_node: metrics about garbage collection
  src/lib_smart_rollup_node/metrics.ml
  src/lib_smart_rollup_node/metrics.mli
  src/lib_smart_rollup_node/node_context.ml
Due: none

lib_smart_rollup_node/etherlink: add metrics related to Etherlink
  src/lib_smart_rollup_node/interpreter.ml
  src/lib_smart_rollup_node/metrics.ml
  src/lib_smart_rollup_node/metrics.mli
  src/lib_smart_rollup_node/pvm_plugin_sig.ml
  src/lib_smart_rollup_node/wasm_2_0_0_dump.ml
  src/lib_smart_rollup_node/wasm_2_0_0_dump.mli
  src/proto_017_PtNairob/lib_sc_rollup_node/pvm_plugin.ml
  src/proto_018_Proxford/lib_sc_rollup_node/pvm_plugin.ml
  src/proto_alpha/lib_sc_rollup_node/pvm_plugin.ml
Due: script:snapshot_alpha_and_link

Batcher info
  src/lib_smart_rollup_node/batcher.ml
  src/lib_smart_rollup_node/metrics.ml
  src/lib_smart_rollup_node/metrics.mli
Due: none

injector worker queue size (by operation tag)
  src/lib_injector/injector_functor.ml
  src/lib_injector/injector_server.ml
  src/lib_injector/injector_sigs.ml
  src/lib_injector/metrics.ml
  src/lib_injector/metrics.mli
  src/lib_smart_rollup_node/injector.ml
  src/lib_smart_rollup_node/metrics.ml
  src/lib_smart_rollup_node/metrics.mli
Due: none

injector tables of injected/included ops
  src/lib_injector/injector_functor.ml
  src/lib_injector/metrics.ml
  src/lib_injector/metrics.mli
Due: none

fix inbox internal/external messages
  src/lib_smart_rollup_node/metrics.ml
  src/lib_smart_rollup_node/metrics.mli
  src/proto_017_PtNairob/lib_sc_rollup_node/inbox.ml
  src/proto_018_Proxford/lib_sc_rollup_node/inbox.ml
  src/proto_alpha/lib_sc_rollup_node/inbox.ml
Due: script:snapshot_alpha_and_link

add genesis hash metric
  src/lib_smart_rollup_node/metrics.ml
  src/lib_smart_rollup_node/metrics.mli
  src/lib_smart_rollup_node/rollup_node_daemon.ml
Due: none

debug
  src/proto_alpha/lib_sc_rollup_node/inbox.ml
Due: script:snapshot_alpha_and_link

WIP test
  .gitlab/ci/jobs/test/misc_opam_checks.yml
  .gitlab/ci/pipelines/before_merging.yml
Due: none

fixup! Remove entrypoints scanning
  src/proto_alpha/lib_protocol/apply.ml
Due: script:snapshot_alpha_and_link

Path conditions:
  kaitai-struct-files: any of: contrib/kaitai-struct-files/*, contrib/kaitai-struct-files/**/*
  tezos-rust-sdk: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  tezos-rust-sdk-test-codec: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  install_python_focal: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_jammy: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_bullseye: any of: docs/developer/install-python-debian-ubuntu.sh
  script:snapshot_alpha_and_link: any of: src/proto_alpha/**/*, scripts/snapshot_alpha_and_link.sh, scripts/snapshot_alpha.sh, scripts/user_activated_upgrade.sh
  check_lift_limits_patch: any of: src/bin_tps_evaluation/lift_limits.patch, src/proto_alpha/lib_protocol/main.ml
  lockfile_sync_check: any of: scripts/version.sh, tezos.opam.locked
