Repository OKEAMAH/Git: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kaitai-struct-files, tezos-rust-sdk, tezos-rust-sdk-test-codec, install_python_focal, install_python_jammy, install_python_bullseye, script:snapshot_alpha_and_link, check_lift_limits_patch, lockfile_sync_check

Path conditions:
  kaitai-struct-files: any of: contrib/kaitai-struct-files/*, contrib/kaitai-struct-files/**/*
  tezos-rust-sdk: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  tezos-rust-sdk-test-codec: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  install_python_focal: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_jammy: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_bullseye: any of: docs/developer/install-python-debian-ubuntu.sh
  script:snapshot_alpha_and_link: any of: src/proto_alpha/**/*, scripts/snapshot_alpha_and_link.sh, scripts/snapshot_alpha.sh, scripts/user_activated_upgrade.sh
  check_lift_limits_patch: any of: src/bin_tps_evaluation/lift_limits.patch, src/proto_alpha/lib_protocol/main.ml
  lockfile_sync_check: any of: scripts/version.sh, tezos.opam.locked

MIR: parse (and ignore) instruction annotations
  contrib/mir/src/parser.rs
  contrib/mir/src/syntax.lalrpop
Due: none

MIR: parse (and ignore) type annotations
  contrib/mir/src/parser.rs
  contrib/mir/src/syntax.lalrpop
Due: none

MIR: update known parser differences from Octez
  contrib/mir/DESIGN.md
Due: none

MIR: add ADD: int : nat overload
  contrib/mir/src/ast/typechecked.rs
  contrib/mir/src/interpreter.rs
  contrib/mir/src/typechecker.rs
Due: none

MIR: add ADD: nat : int overload
  contrib/mir/src/ast/typechecked.rs
  contrib/mir/src/interpreter.rs
  contrib/mir/src/typechecker.rs
Due: none

Kaitai: Mimic `assert fail` in e2e testing on invalid input
  contrib/lib_kaitai_of_data_encoding/test/input/invalid/ground_uint8/01.hex
  contrib/lib_kaitai_of_data_encoding/test/input/valid/ground_uint8/01.hex
  contrib/lib_kaitai_of_data_encoding/test/input/valid/ground_uint8/02.hex
  contrib/lib_kaitai_of_data_encoding/test/input/valid/ground_uint8/03.hex
  contrib/lib_kaitai_of_data_encoding/test/kaitai_e2e.sh
Due: none

Kaitai: Add TODOs inside `kaitai_e2e.sh` script
  contrib/lib_kaitai_of_data_encoding/test/kaitai_e2e.sh
Due: none

Kaitai: `kaitai_e2e.sh` loops over multiple encodings
  contrib/lib_kaitai_of_data_encoding/test/expected/ground_uint16.ksy
  contrib/lib_kaitai_of_data_encoding/test/input/invalid/ground_uint16/01.hex
  contrib/lib_kaitai_of_data_encoding/test/input/valid/ground_uint16/01.hex
  contrib/lib_kaitai_of_data_encoding/test/kaitai_e2e.sh
Due: none

WIP: Proto/Michelson: add attributes in metadata
  src/proto_alpha/lib_protocol/script_ir_translator.ml
  src/proto_alpha/lib_protocol/script_typed_ir.ml
  src/proto_alpha/lib_protocol/script_typed_ir.mli
Due: script:snapshot_alpha_and_link

MIR: implement separate lexer
  contrib/mir/Cargo.lock
  contrib/mir/Cargo.toml
  contrib/mir/src/lexer.rs
  contrib/mir/src/main.rs
  contrib/mir/src/parser.rs
  contrib/mir/src/syntax.lalrpop
Due: none

MIR: reduce Prim definition boilerplate with some macros
  contrib/mir/src/lexer.rs
Due: none

MIR: move lexer-specific bits to the lexer module
  contrib/mir/src/lexer.rs
  contrib/mir/src/parser.rs
Due: none

MIR: fix some lints
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/comparable.rs
  contrib/mir/src/interpreter.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/main.rs
  contrib/mir/src/parser.rs
  contrib/mir/src/stack.rs
  contrib/mir/src/syntax.lalrpop
  contrib/mir/src/typechecker.rs
Due: none

MIR: parse full contracts (no views yet)
  contrib/mir/src/ast.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/parser.rs
  contrib/mir/src/syntax.lalrpop
Due: none

MIR: treat atomic instructions specially in parser
  contrib/mir/src/parser.rs
  contrib/mir/src/syntax.lalrpop
Due: none

MIR: Add common traits to Stage trait's types
  contrib/mir/src/ast.rs
Due: none

MIR: implement contract typecheck/interpret as assoc. functions
  contrib/mir/src/interpreter.rs
  contrib/mir/src/main.rs
  contrib/mir/src/typechecker.rs
Due: none

MIR: implement some Rust types to michelson value conversion
  contrib/mir/src/ast.rs
Due: none

MIR: expose typecheck and interpret as associated functions
  contrib/mir/src/interpreter.rs
  contrib/mir/src/typechecker.rs
Due: none

MIR: use enum isomorphic to Option<Stack<T>> in the typechecker
  contrib/mir/src/main.rs
  contrib/mir/src/stack.rs
  contrib/mir/src/typechecker.rs
Due: none

MIR: reduce nesting in the typechecker
  contrib/mir/src/typechecker.rs
Due: none

MIR: use Prim for instr in NoMatchingOverload
  contrib/mir/src/main.rs
  contrib/mir/src/typechecker.rs
Due: none

MIR: minor parser clean-up
  contrib/mir/src/parser.rs
  contrib/mir/src/syntax.lalrpop
Due: none

MIR: Reduce the number of boxes
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/comparable.rs
  contrib/mir/src/gas.rs
  contrib/mir/src/interpreter.rs
  contrib/mir/src/typechecker.rs
Due: none

MIR: improve test coverage
  contrib/mir/src/interpreter.rs
  contrib/mir/src/parser.rs
  contrib/mir/src/stack.rs
  contrib/mir/src/typechecker.rs
Due: none

MIR: disable coverage report for the generated syntax.rs
  contrib/mir/src/syntax.lalrpop
Due: none

MIR: carry type in Failwith
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/parsed.rs
  contrib/mir/src/ast/typechecked.rs
  contrib/mir/src/interpreter.rs
  contrib/mir/src/parser.rs
  contrib/mir/src/syntax.lalrpop
  contrib/mir/src/typechecker.rs
Due: none

Proto/SORU: Add case for requesting reveal_dal_parameters
  src/bin_wasm_debugger/commands.ml
  src/proto_alpha/lib_protocol/alpha_context.mli
  src/proto_alpha/lib_protocol/sc_rollup_PVM_sig.ml
  src/proto_alpha/lib_protocol/sc_rollup_arith.ml
  src/proto_alpha/lib_protocol/sc_rollup_proof_repr.ml
  src/proto_alpha/lib_protocol/test/helpers/sc_rollup_helpers.ml
  src/proto_alpha/lib_sc_rollup_node/fueled_pvm.ml
  src/proto_alpha/lib_sc_rollup_node/wasm_2_0_0_pvm.ml
Due: script:snapshot_alpha_and_link

Proto/SORU: Introduce Sc_rollup_dal_parameters_repr
  src/proto_alpha/lib_protocol/TEZOS_PROTOCOL
  src/proto_alpha/lib_protocol/alpha_context.ml
  src/proto_alpha/lib_protocol/alpha_context.mli
  src/proto_alpha/lib_protocol/dune
  src/proto_alpha/lib_protocol/sc_rollup_dal_parameters_repr.ml
  src/proto_alpha/lib_protocol/sc_rollup_dal_parameters_repr.mli
Due: script:snapshot_alpha_and_link

Proto/SORU: Add case for response of reveal_dal_parameters
  src/proto_alpha/lib_protocol/alpha_context.mli
  src/proto_alpha/lib_protocol/sc_rollup_PVM_sig.ml
  src/proto_alpha/lib_protocol/sc_rollup_arith.ml
  src/proto_alpha/lib_protocol/sc_rollup_wasm.ml
Due: script:snapshot_alpha_and_link

EVM/Execution: account for ticks during a contract call execution
  src/kernel_evm/evm_execution/src/handler.rs
  src/kernel_evm/evm_execution/src/lib.rs
  src/kernel_evm/kernel/src/apply.rs
Due: none

EVM/Kernel: use the estimated ticks of opcode for the block in progress
  src/kernel_evm/evm_execution/src/lib.rs
  src/kernel_evm/evm_execution/src/precompiles.rs
  src/kernel_evm/kernel/src/apply.rs
  src/kernel_evm/kernel/src/block.rs
  src/kernel_evm/kernel/src/block_in_progress.rs
  src/kernel_evm/kernel/src/simulation.rs
  src/kernel_evm/kernel/src/tick_model.rs
Due: none

[opam-repos]: bump to upgrade [openssl] in [rust-toolchain]
  .gitlab-ci.yml
  scripts/version.sh
Due: lockfile_sync_check

fixup! Proto/SORU: Add case for requesting reveal_dal_parameters
  src/proto_alpha/lib_protocol/sc_rollup_proof_repr.ml
Due: script:snapshot_alpha_and_link

fixup! Add number_of_slots
  src/proto_alpha/lib_protocol/sc_rollup_dal_parameters_repr.ml
  src/proto_alpha/lib_protocol/sc_rollup_dal_parameters_repr.mli
Due: script:snapshot_alpha_and_link

wip (does not compile)
  src/lib_smart_rollup/rollup_constants.ml
  src/proto_018_Proxford/lib_sc_rollup_layer2/sc_rollup_proto_types.ml
  src/proto_alpha/lib_parameters/default_parameters.ml
  src/proto_alpha/lib_protocol/alpha_context.mli
  src/proto_alpha/lib_protocol/constants_parametric_repr.ml
  src/proto_alpha/lib_protocol/constants_parametric_repr.mli
  src/proto_alpha/lib_protocol/raw_context.ml
  src/proto_alpha/lib_protocol/sc_rollup_PVM_sig.ml
  src/proto_alpha/lib_sc_rollup_layer2/sc_rollup_proto_types.ml
Due: script:snapshot_alpha_and_link

MIR: Add a Tzt module with types to represent Tzt test entities
  contrib/mir/src/gas.rs
  contrib/mir/src/interpreter.rs
  contrib/mir/src/lib.rs
  contrib/mir/src/typechecker.rs
  contrib/mir/src/tzt.rs
Due: none

MIR: Disable unintential doctest strings
  contrib/mir/src/ast.rs
  contrib/mir/src/gas.rs
  contrib/mir/src/irrefutable_match.rs
Due: none

MIR: Amend grammar to parse Tzt file to the new Tzt types
  contrib/mir/src/lexer.rs
  contrib/mir/src/syntax.lalrpop
Due: none
