Repository OKEAMAH/Git: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kaitai-struct-files, tezos-rust-sdk, tezos-rust-sdk-test-codec, install_python_focal, install_python_jammy, install_python_bullseye, script:snapshot_alpha_and_link, check_lift_limits_patch, lockfile_sync_check

Path conditions:
  kaitai-struct-files: any of: contrib/kaitai-struct-files/*, contrib/kaitai-struct-files/**/*
  tezos-rust-sdk: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  tezos-rust-sdk-test-codec: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  install_python_focal: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_jammy: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_bullseye: any of: docs/developer/install-python-debian-ubuntu.sh
  script:snapshot_alpha_and_link: any of: src/proto_alpha/**/*, scripts/snapshot_alpha_and_link.sh, scripts/snapshot_alpha.sh, scripts/user_activated_upgrade.sh
  check_lift_limits_patch: any of: src/bin_tps_evaluation/lift_limits.patch, src/proto_alpha/lib_protocol/main.ml
  lockfile_sync_check: any of: scripts/version.sh, tezos.opam.locked

add sign delay to baker sign site
  src/proto_017_PtNairob/lib_delegate/baking_actions.ml
  src/proto_018_Proxford/lib_delegate/baking_actions.ml
  src/proto_alpha/lib_delegate/baking_actions.ml
Due: script:snapshot_alpha_and_link

RBT: generic reset_block_section function for profilers
  src/lib_shell/block_validator.ml
  src/lib_shell_services/shell_profiling.ml
Due: none

RBT: generic reset_block_section for baking_profiler
  src/proto_alpha/lib_delegate/baking_profiler.ml
  src/proto_alpha/lib_delegate/node_rpc.ml
Due: script:snapshot_alpha_and_link

light renaming for consistency
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: none

support shifted range
  contrib/kaitai-ocaml/src/types.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_ranges.ml
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: none

Kaitai: Register additional custom enodings for testing
  contrib/bin_codec_kaitai/additional_registrations.ml
  contrib/kaitai-struct-files/test__fixed_list_of_bool.ksy
  contrib/kaitai-struct-files/test__fixed_list_of_fixed_list_of_bool.ksy
  contrib/kaitai-struct-files/test__fixed_list_of_fixed_list_of_uint8.ksy
  contrib/kaitai-struct-files/test__fixed_list_of_uint8.ksy
  contrib/kaitai-struct-files/test__list_of_bool.ksy
  contrib/kaitai-struct-files/test__list_of_fixed_list_of_bool.ksy
  contrib/kaitai-struct-files/test__list_of_fixed_list_of_uint8.ksy
  contrib/kaitai-struct-files/test__list_of_uint8.ksy
  contrib/kaitai-struct-files/test__medium_float_range.ksy
  contrib/kaitai-struct-files/test__medium_int_range.ksy
  contrib/kaitai-struct-files/test__nested_list_of_bool.ksy
  contrib/kaitai-struct-files/test__nested_list_of_uint8.ksy
  contrib/kaitai-struct-files/test__small_float_range.ksy
  contrib/kaitai-struct-files/test__small_int_range.ksy
  contrib/kaitai-struct-files/test__variable_list_of_bool.ksy
  contrib/kaitai-struct-files/test__variable_list_of_uint8.ksy
Due: kaitai-struct-files

lib_bls12_381: update js/wasm bindings
  src/lib_bls12_381/blst.js
  src/lib_bls12_381/blst.wasm
Due: none

test showing failure to generate distinct ids for tups of defs
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_tuples.ml
Due: none

Rollup node: detect other cases of connection errors
  src/lib_crawler/layer_1.ml
Due: none

Tests: retry command 10 times in migration tests
  tezt/tests/sc_rollup.ml
Due: none

Tests: mark migration refutation tests as non flaky any more
  tezt/tests/sc_rollup.ml
Due: none

Proto/Alpha_context: expose Staking_pseudotoken separately
  src/proto_alpha/lib_protocol/alpha_context.ml
  src/proto_alpha/lib_protocol/alpha_context.mli
  src/proto_alpha/lib_protocol/contract_services.ml
  src/proto_alpha/lib_protocol/contract_services.mli
  src/proto_alpha/lib_protocol/delegate_services.ml
  src/proto_alpha/lib_protocol/delegate_services.mli
  src/proto_alpha/lib_protocol/test/helpers/context.ml
  src/proto_alpha/lib_protocol/test/helpers/context.mli
Due: script:snapshot_alpha_and_link

Proto/Staking: add balance updates to stake
  src/proto_alpha/lib_protocol/alpha_context.mli
  src/proto_alpha/lib_protocol/staking.ml
  src/proto_alpha/lib_protocol/staking_pseudotokens_storage.ml
  src/proto_alpha/lib_protocol/staking_pseudotokens_storage.mli
Due: script:snapshot_alpha_and_link

Proto/Staking: add balance updates to request_unstake
  src/proto_alpha/lib_protocol/alpha_context.mli
  src/proto_alpha/lib_protocol/staking.ml
  src/proto_alpha/lib_protocol/staking_pseudotokens_storage.ml
  src/proto_alpha/lib_protocol/staking_pseudotokens_storage.mli
Due: script:snapshot_alpha_and_link

Proto/Receipt: add Staking_pseudotoken to Token
  src/proto_alpha/lib_protocol/alpha_context.mli
  src/proto_alpha/lib_protocol/receipt_repr.ml
  src/proto_alpha/lib_protocol/receipt_repr.mli
  src/proto_alpha/lib_protocol/staking_pseudotoken_repr.mli
  src/proto_alpha/lib_protocol/test/integration/test_liquidity_baking.ml
Due: script:snapshot_alpha_and_link

Proto/Receipt: add Staking_delegator_numerator
  src/proto_alpha/lib_client/operation_result.ml
  src/proto_alpha/lib_protocol/alpha_context.mli
  src/proto_alpha/lib_protocol/receipt_repr.ml
  src/proto_alpha/lib_protocol/receipt_repr.mli
  src/proto_alpha/lib_protocol/staking_pseudotoken_repr.mli
Due: script:snapshot_alpha_and_link

Proto/Receipt: add Staking_delegate_denominator
  src/proto_alpha/lib_client/operation_result.ml
  src/proto_alpha/lib_protocol/alpha_context.mli
  src/proto_alpha/lib_protocol/receipt_repr.ml
  src/proto_alpha/lib_protocol/receipt_repr.mli
Due: script:snapshot_alpha_and_link

Proto/Staking_pseudotokens: plug balance updates
  src/proto_alpha/lib_protocol/staking_pseudotokens_storage.ml
Due: script:snapshot_alpha_and_link

Proto/Operation_result: use tez symbol for tez only
  src/proto_alpha/lib_client/operation_result.ml
  src/proto_alpha/lib_protocol/receipt_repr.ml
Due: script:snapshot_alpha_and_link

Proto: expose pseudotokens to z for tests
  src/proto_alpha/lib_protocol/alpha_context.ml
  src/proto_alpha/lib_protocol/alpha_context.mli
Due: script:snapshot_alpha_and_link

Proto/AI/Tests: move Block.bake earlier
  src/proto_alpha/lib_protocol/test/integration/test_adaptive_issuance_roundtrip.ml
Due: script:snapshot_alpha_and_link

Proto/AI/Tests: add staking abstract balances (part 2)
  src/proto_alpha/lib_protocol/test/helpers/adaptive_issuance_helpers.ml
Due: script:snapshot_alpha_and_link

Proto/AI/Tests: add staking abstract balances
  src/proto_alpha/lib_protocol/test/helpers/adaptive_issuance_helpers.ml
Due: script:snapshot_alpha_and_link

Proto/Tests: expose Block.bake_with_metadata
  src/proto_alpha/lib_protocol/test/helpers/block.mli
Due: script:snapshot_alpha_and_link

Proto/Tests: helpers for staking abstract balances
  src/proto_alpha/lib_protocol/test/helpers/context.ml
  src/proto_alpha/lib_protocol/test/helpers/context.mli
Due: script:snapshot_alpha_and_link

Proto/AI/Tests: factorize Block.bake
  src/proto_alpha/lib_protocol/test/integration/test_adaptive_issuance_roundtrip.ml
Due: script:snapshot_alpha_and_link

Proto/Tests: make baking_mode optional for bake_with_metadata as well
  src/proto_alpha/lib_protocol/test/helpers/block.ml
  src/proto_alpha/lib_protocol/test/helpers/block.mli
Due: script:snapshot_alpha_and_link

Proto/AI/Tests: apply pseudotokens balance updates on bake
  src/proto_alpha/lib_protocol/test/integration/test_adaptive_issuance_roundtrip.ml
Due: script:snapshot_alpha_and_link

Start potatoeification
  scripts/user_activated_upgrade.sh
Due: script:snapshot_alpha_and_link

CI/unit.yml: move unit templates to common
  .gitlab/ci/jobs/test/common.yml
  .gitlab/ci/jobs/test/unit.yml
Due: none

Scripts: add [gitlab/run_pipeline.sh]
  scripts/gitlab/run_pipeline.sh
Due: none

CI: Add FLAKE_TEST pipeline
  .gitlab-ci.yml
  .gitlab/ci/jobs/test/tezt_flake.yml
  .gitlab/ci/jobs/test/unit_flake.sh
  .gitlab/ci/jobs/test/unit_flake.yml
  .gitlab/ci/jobs/test/unit_js_flake.yml
  .gitlab/ci/pipelines/flake_test.yml
  .gitlab/ci/pipelines/flake_test_variables.yml
Due: none

fixup! Proto/AI/Tests: add staking abstract balances (part 2)
  src/proto_alpha/lib_protocol/test/helpers/adaptive_issuance_helpers.ml
Due: script:snapshot_alpha_and_link

MIR: fixup! MIR: Add high-level storage operations
  contrib/mir/src/rollup_util/storage.rs
Due: none

lib_plompiler: remove ignore_carry from addition
  src/lib_plompiler/gadget_blake2s.ml
  src/lib_plompiler/lang_stdlib.ml
  src/lib_plonk/test_plompiler/test_core.ml
  src/lib_plonk/test_plompiler/test_lookup.ml
Due: none
