Repository OKEAMAH/Git: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kaitai-struct-files, tezos-rust-sdk, tezos-rust-sdk-test-codec, install_python_focal, install_python_jammy, install_python_bullseye, script:snapshot_alpha_and_link, check_lift_limits_patch, lockfile_sync_check

Path conditions:
  kaitai-struct-files: any of: contrib/kaitai-struct-files/*, contrib/kaitai-struct-files/**/*
  tezos-rust-sdk: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  tezos-rust-sdk-test-codec: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  install_python_focal: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_jammy: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_bullseye: any of: docs/developer/install-python-debian-ubuntu.sh
  script:snapshot_alpha_and_link: any of: src/proto_alpha/**/*, scripts/snapshot_alpha_and_link.sh, scripts/snapshot_alpha.sh, scripts/user_activated_upgrade.sh
  check_lift_limits_patch: any of: src/bin_tps_evaluation/lift_limits.patch, src/proto_alpha/lib_protocol/main.ml
  lockfile_sync_check: any of: scripts/version.sh, tezos.opam.locked

augment environement variable with output directory option
  src/bin_node/node_replay_command.ml
  src/bin_node/node_run_command.ml
  src/proto_017_PtNairob/lib_delegate/client_daemon.ml
  src/proto_alpha/lib_delegate/client_daemon.ml
Due: script:snapshot_alpha_and_link

yes-node
  src/lib_crypto/signature_v0.ml
  src/lib_crypto/signature_v1.ml
Due: none

baker: fix signing delay
  src/proto_017_PtNairob/lib_delegate/baking_actions.ml
Due: none

Support mu
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_mu.ml
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: none

add sign delay to baker sign site
  src/proto_017_PtNairob/lib_delegate/baking_actions.ml
  src/proto_018_Proxford/lib_delegate/baking_actions.ml
  src/proto_alpha/lib_delegate/baking_actions.ml
Due: script:snapshot_alpha_and_link

MIR: rewrite macro handling
  contrib/mir/src/ast.rs
  contrib/mir/src/interpreter.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/parser.rs
  contrib/mir/src/parser/macros.rs
  contrib/mir/src/syntax.lalrpop
  contrib/mir/src/typechecker.rs
  contrib/mir/src/tzt/expectation.rs
Due: none

Support string-enum
  contrib/kaitai-struct-files/alpha__parameters.ksy
  contrib/kaitai-struct-files/alpha__script__expr.ksy
  contrib/kaitai-struct-files/alpha__script__prim.ksy
  contrib/kaitai-struct-files/id_005__psbabym1__script__expr.ksy
  contrib/kaitai-struct-files/id_005__psbabym1__script__prim.ksy
  contrib/kaitai-struct-files/id_006__pscartha__script__expr.ksy
  contrib/kaitai-struct-files/id_006__pscartha__script__prim.ksy
  contrib/kaitai-struct-files/id_007__psdelph1__script__expr.ksy
  contrib/kaitai-struct-files/id_007__psdelph1__script__prim.ksy
  contrib/kaitai-struct-files/id_008__ptedo2zk__script__expr.ksy
  contrib/kaitai-struct-files/id_008__ptedo2zk__script__prim.ksy
  contrib/kaitai-struct-files/id_009__psfloren__script__expr.ksy
  contrib/kaitai-struct-files/id_009__psfloren__script__prim.ksy
  contrib/kaitai-struct-files/id_010__ptgranad__script__expr.ksy
  contrib/kaitai-struct-files/id_010__ptgranad__script__prim.ksy
  contrib/kaitai-struct-files/id_011__pthangz2__script__expr.ksy
  contrib/kaitai-struct-files/id_011__pthangz2__script__prim.ksy
  contrib/kaitai-struct-files/id_012__psithaca__script__expr.ksy
  contrib/kaitai-struct-files/id_012__psithaca__script__prim.ksy
  contrib/kaitai-struct-files/id_013__ptjakart__script__expr.ksy
  contrib/kaitai-struct-files/id_013__ptjakart__script__prim.ksy
  contrib/kaitai-struct-files/id_014__ptkathma__script__expr.ksy
  contrib/kaitai-struct-files/id_014__ptkathma__script__prim.ksy
  contrib/kaitai-struct-files/id_015__ptlimapt__script__expr.ksy
  contrib/kaitai-struct-files/id_015__ptlimapt__script__prim.ksy
  contrib/kaitai-struct-files/id_016__ptmumbai__script__expr.ksy
  contrib/kaitai-struct-files/id_016__ptmumbai__script__prim.ksy
  contrib/kaitai-struct-files/id_017__ptnairob__script__expr.ksy
  contrib/kaitai-struct-files/id_017__ptnairob__script__prim.ksy
  contrib/kaitai-struct-files/id_018__proxford__parameters.ksy
  contrib/kaitai-struct-files/id_018__proxford__script__expr.ksy
  contrib/kaitai-struct-files/id_018__proxford__script__prim.ksy
  contrib/kaitai-struct-files/p2p_peer__pool_event.ksy
  contrib/kaitai-struct-files/p2p_peer__state.ksy
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_unions.ml
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: kaitai-struct-files

CI: Clean up: rm .gitlab/ci/jobs/publish/common.yml etc Reason: common.yml should be updated or deleted. Currently, it's dead-code that was waiting for protocol Lima.
  .gitlab/ci/jobs/prepare_release/docker_merge_manifests_release.yml
  .gitlab/ci/jobs/prepare_release/docker_merge_manifests_test.yml
  .gitlab/ci/jobs/publish/common.yml
  .gitlab/ci/jobs/publish/deb_packages_stable_amd64.yml
  .gitlab/ci/jobs/publish/deb_packages_unstable_amd64.yml
  .gitlab/ci/jobs/publish/docker_promote_to_latest_release.yml
  .gitlab/ci/jobs/publish/docker_promote_to_latest_test.yml
  .gitlab/ci/jobs/publish/gitlab:release.yml
  .gitlab/ci/jobs/publish/opam.yml
  .gitlab/ci/jobs/publish/rpm_packages_stable_amd64.yml
  .gitlab/ci/jobs/publish/rpm_packages_unstable_amd64.yml
Due: none

Proto: update interpreter related gas values.
  src/proto_alpha/lib_protocol/gas_parameters.json
Due: script:snapshot_alpha_and_link

Proto: update interpreter related gas cost functions.
  src/proto_alpha/lib_protocol/michelson_v1_gas_costs_generated.ml
Due: script:snapshot_alpha_and_link

Proto: update translator related gas values.
  src/proto_alpha/lib_protocol/gas_parameters.json
Due: script:snapshot_alpha_and_link

Proto: update translator related gas cost functions.
  src/proto_alpha/lib_protocol/michelson_v1_gas_costs_generated.ml
Due: script:snapshot_alpha_and_link

MIR: fixup! MIR: Add high-level storage operations
  contrib/mir/src/rollup_util/storage.rs
Due: none

support delayed
  contrib/kaitai-struct-files/alpha__errors.ksy
  contrib/kaitai-struct-files/id_005__psbabym1__errors.ksy
  contrib/kaitai-struct-files/id_006__pscartha__errors.ksy
  contrib/kaitai-struct-files/id_007__psdelph1__errors.ksy
  contrib/kaitai-struct-files/id_008__ptedo2zk__errors.ksy
  contrib/kaitai-struct-files/id_009__psfloren__errors.ksy
  contrib/kaitai-struct-files/id_010__ptgranad__errors.ksy
  contrib/kaitai-struct-files/id_011__pthangz2__errors.ksy
  contrib/kaitai-struct-files/id_012__psithaca__errors.ksy
  contrib/kaitai-struct-files/id_013__ptjakart__errors.ksy
  contrib/kaitai-struct-files/id_014__ptkathma__errors.ksy
  contrib/kaitai-struct-files/id_015__ptlimapt__errors.ksy
  contrib/kaitai-struct-files/id_016__ptmumbai__errors.ksy
  contrib/kaitai-struct-files/id_017__ptnairob__errors.ksy
  contrib/kaitai-struct-files/id_018__proxford__errors.ksy
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: kaitai-struct-files

make list translation into a separate function (prepare for array)
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: none

support arrays
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: none

RBT: add missing reset_block_section in profiled components
  src/proto_017_PtNairob/lib_delegate/baking_nonces.ml
  src/proto_017_PtNairob/lib_delegate/baking_profiler.ml
  src/proto_017_PtNairob/lib_delegate/baking_scheduling.ml
  src/proto_018_Proxford/lib_delegate/baking_nonces.ml
  src/proto_018_Proxford/lib_delegate/baking_profiler.ml
  src/proto_018_Proxford/lib_delegate/baking_scheduling.ml
  src/proto_alpha/lib_delegate/baking_nonces.ml
  src/proto_alpha/lib_delegate/baking_scheduling.ml
Due: script:snapshot_alpha_and_link

RBT: enable record_timestamp in toplevel profiled sections
  src/lib_shell/chain_validator.ml
  src/lib_shell_services/shell_profiling.ml
  src/proto_017_PtNairob/lib_delegate/baking_profiler.ml
  src/proto_018_Proxford/lib_delegate/baking_profiler.ml
  src/proto_alpha/lib_delegate/baking_profiler.ml
Due: script:snapshot_alpha_and_link

RBT: record timestamp on op_worker profiler
  src/proto_017_PtNairob/lib_delegate/operation_worker.ml
  src/proto_018_Proxford/lib_delegate/operation_worker.ml
  src/proto_alpha/lib_delegate/operation_worker.ml
Due: script:snapshot_alpha_and_link

RBT: introduce record_timestamp mechanism in the profiler
  src/lib_base/profiler.ml
  src/lib_base/profiler.mli
  src/lib_base/unix/simple_profiler.ml
Due: none

add failure message when failing to generate a ksy
  contrib/bin_codec_kaitai/commands.ml
  contrib/lib_kaitai_of_data_encoding/helpers.ml
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: none

EVM/Tests: e2e test of inter contract call
  src/kernel_evm/solidy_examples/caller_caller.sol
  tezt/tests/evm_kernel_inputs/callee.abi
  tezt/tests/evm_kernel_inputs/callee.bin
  tezt/tests/evm_kernel_inputs/caller.abi
  tezt/tests/evm_kernel_inputs/caller.bin
  tezt/tests/evm_rollup.ml
Due: none

Prevalidator: Add probs in already_handled function
  src/lib_shell/prevalidator.ml
Due: none

Prevalidator: Add probs in update_advertised_mempool_fields
  src/lib_shell/prevalidator.ml
Due: none

EVM/Kernel: debugger sections to benchmark migration
  src/kernel_evm/kernel/src/migration.rs
  src/kernel_evm/kernel/src/storage.rs
Due: none

Kernel SDK/Micheline encoding: more details in comments
  src/kernel_sdk/encoding/src/michelson/micheline.rs
Due: none

Kernel SDK/Micheline encoding: put no-arg case first
  src/kernel_sdk/encoding/src/michelson/micheline.rs
Due: none

Kernel SDK/Micheline encoding: add tests for the no-arg case
  src/kernel_sdk/encoding/src/michelson/micheline.rs
Due: none

Kernel SDK/Micheline encoding/Test: use the Pair prim
  src/kernel_sdk/encoding/src/michelson/micheline.rs
Due: none

Kernel SDK/Micheline encoding: typo
  src/kernel_sdk/encoding/src/michelson/micheline.rs
Due: none

Kernel SDK/Micheline encoding: add support for 1-arg primitives
  src/kernel_sdk/encoding/src/michelson/micheline.rs
Due: none

use id_tag instead of re-computing it
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: none

plug protocol profilers
  src/proto_017_PtNairob/lib_protocol/apply.ml
  src/proto_017_PtNairob/lib_protocol/baking.ml
  src/proto_017_PtNairob/lib_protocol/delegate_cycles.ml
  src/proto_017_PtNairob/lib_protocol/script_cache.ml
  src/proto_017_PtNairob/lib_protocol/script_interpreter.ml
  src/proto_017_PtNairob/lib_protocol/script_ir_translator.ml
  src/proto_alpha/lib_protocol/apply.ml
  src/proto_alpha/lib_protocol/baking.ml
  src/proto_alpha/lib_protocol/delegate_cycles.ml
  src/proto_alpha/lib_protocol/script_cache.ml
  src/proto_alpha/lib_protocol/script_interpreter.ml
  src/proto_alpha/lib_protocol/script_ir_translator.ml
Due: script:snapshot_alpha_and_link

plug profiler in env
  src/lib_protocol_environment/environment_V10.ml
  src/lib_protocol_environment/environment_V11.ml
  src/lib_protocol_environment/environment_V9.ml
  src/lib_protocol_environment/environment_profiler.ml
  src/lib_protocol_environment/sigs/v10.in.ml
  src/lib_protocol_environment/sigs/v10.ml
  src/lib_protocol_environment/sigs/v10/profiler.mli
  src/lib_protocol_environment/sigs/v11.in.ml
  src/lib_protocol_environment/sigs/v11.ml
  src/lib_protocol_environment/sigs/v11/profiler.mli
  src/lib_protocol_environment/sigs/v9.in.ml
  src/lib_protocol_environment/sigs/v9.ml
  src/lib_protocol_environment/sigs/v9/profiler.mli
  src/lib_protocol_environment/tezos_protocol_environment.ml
Due: none

Scripts: add patch that simulate an artificial signing delay using SIGN_DELAY envar
  scripts/signing-delay.patch
Due: none

plug mempool profiler
  src/lib_shell/prevalidator.ml
Due: none

introduce shell profilers
  src/bin_node/node_replay_command.ml
  src/bin_node/node_run_command.ml
  src/lib_shell/profiler_directory.ml
  src/lib_shell_services/profiler_services.ml
  src/lib_shell_services/shell_profiling.ml
Due: none
