Repository OKEAMAH/Git: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kaitai-struct-files, tezos-rust-sdk, tezos-rust-sdk-test-codec, install_python_focal, install_python_jammy, install_python_bullseye, script:snapshot_alpha_and_link, check_lift_limits_patch, lockfile_sync_check

kaitai-struct-files:
  stage: client-libs
  needs:
  - trigger
  image:
    name: kaitai/ksv
    entrypoint:
    - ''
  script:
  - mkdir tmp && cp -a contrib/kaitai-struct-files/rust contrib/kaitai-struct-files/*ksy tmp
  - make -C contrib/kaitai-struct-files
  ...

tezos-rust-sdk:
  stage: client-libs
  needs:
  - trigger
  image: rust:1.66.0
  script:
  - apt-get update -qy && apt-get install -y openssl libssl-dev clang
  - rustup update
  - rustup component add rustfmt clippy
  - cd contrib/tezos-rust-sdk
  - cargo check --locked
  - cargo build --release
  - cargo test
  - cargo fmt -- --check

tezos-rust-sdk-test-codec:
  stage: client-libs
  needs:
  - trigger
  image: registry.gitlab.com/tezos/opam-repository:runtime-build-dependencies--2703ff3a4dbbfa575a7a3d6dc2fff2a4b23c2045
  script:
  - cd contrib/tezos-rust-sdk/codec
  - cargo build
  - cd ../../..
  - make octez-codec
  - cd contrib/tezos-rust-sdk
  - bash codec/tests/test.bash

install_python_focal:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

install_python_jammy:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

install_python_bullseye:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

script:snapshot_alpha_and_link:
  stage: test
  before_script:
  - . ./scripts/version.sh
  needs:
  - build_x86_64-released
  - build_x86_64-exp-dev-extra
  script:
  - ./.gitlab/ci/jobs/test/script:snapshot_alpha_and_link.sh

check_lift_limits_patch:
  retry: 0
  needs:
  - trigger
  script:
  - '[ $(git apply --numstat src/bin_tps_evaluation/lift_limits.patch | cut -f3) = "src/proto_alpha/lib_protocol/main.ml" ]'
  - git apply src/bin_tps_evaluation/lift_limits.patch
  - dune build @src/proto_alpha/lib_protocol/check

lockfile_sync_check:
  needs: []
  variables:
    ARCH: x86_64
  script:
  - make lock
  - diff tezos.opam.locked /home/tezos/tezos.opam.locked

plug p2p reader profiler
  src/lib_shell/p2p_reader.ml
Due: none

plug chain validator profiler
  src/lib_shell/chain_validator.ml
  src/lib_shell/peer_validator.ml
Due: none

plug store merge profiler
  src/lib_store/unix/block_store.ml
  src/lib_store/unix/cemented_block_store.ml
Due: none

plug store profiler
  src/lib_store/unix/store.ml
Due: none

RBT: generic reset_block_section function for profilers
  src/lib_shell/block_validator.ml
  src/lib_shell_services/shell_profiling.ml
Due: none

RBT: use full block hash name for separation in baker_profiling.txt
  src/proto_017_PtNairob/lib_delegate/baking_scheduling.ml
  src/proto_alpha/lib_delegate/baking_scheduling.ml
Due: script:snapshot_alpha_and_link

RBT: profile every calls to call_service
  manifest/main.ml
  src/lib_rpc_http/RPC_client.ml
  src/lib_rpc_http/RPC_profiler.ml
  src/lib_rpc_http/RPC_profiler.mli
  src/lib_rpc_http/dune
  src/proto_017_PtNairob/lib_delegate/client_daemon.ml
  src/proto_017_PtNairob/lib_delegate/dune
  src/proto_018_Proxford/lib_delegate/dune
  src/proto_alpha/lib_delegate/client_daemon.ml
  src/proto_alpha/lib_delegate/dune
Due: script:snapshot_alpha_and_link

RBT: switch to full block hash for section in profiling report
  src/proto_017_PtNairob/lib_delegate/baking_nonces.ml
  src/proto_018_Proxford/lib_delegate/baking_nonces.ml
  src/proto_alpha/lib_delegate/baking_nonces.ml
Due: script:snapshot_alpha_and_link

plug RPC profiler
  src/bin_node/node_run_command.ml
  src/lib_shell/chain_validator.ml
  src/lib_shell_services/shell_profiling.ml
Due: none

augment environement variable with output directory option
  src/bin_node/node_replay_command.ml
  src/bin_node/node_run_command.ml
  src/proto_017_PtNairob/lib_delegate/client_daemon.ml
  src/proto_alpha/lib_delegate/client_daemon.ml
Due: script:snapshot_alpha_and_link

fixup! RBT: generic reset_block_section function for profilers
  src/lib_shell/block_validator.ml
  src/lib_store/unix/store.ml
Due: none

RBT: generic reset_block_section for baking_profiler
  src/proto_alpha/lib_delegate/baking_profiler.ml
  src/proto_alpha/lib_delegate/node_rpc.ml
Due: script:snapshot_alpha_and_link

Profiler: add a timestamp to all toplevel record section
  src/lib_base/unix/simple_profiler.ml
Due: none

RBT: block section for merge profiler
  src/lib_store/unix/block_store.ml
Due: none

yes-node
  src/lib_crypto/signature_v0.ml
  src/lib_crypto/signature_v1.ml
Due: none

add sign delay to baker sign site
  src/proto_017_PtNairob/lib_delegate/baking_actions.ml
  src/proto_018_Proxford/lib_delegate/baking_actions.ml
  src/proto_alpha/lib_delegate/baking_actions.ml
Due: script:snapshot_alpha_and_link

Kaitai: complete kaitai serialization
  contrib/kaitai-ocaml/src/print.ml
  contrib/kaitai-ocaml/src/types.ml
  contrib/kaitai-ocaml/src/types.mli
  contrib/lib_kaitai_of_data_encoding/ground.ml
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: none

Kaitai: complete kaitai parser
  contrib/kaitai-ocaml/src/dune
  contrib/kaitai-ocaml/src/lexer.mll
  contrib/kaitai-ocaml/src/parse.ml
  contrib/kaitai-ocaml/src/parser.mly
  dune-project
  manifest/main.ml
  manifest/manifest.ml
  manifest/manifest.mli
Due: none

Baker: introduce time to forge block timeout kind
  src/proto_alpha/lib_delegate/baking_state.ml
  src/proto_alpha/lib_delegate/baking_state.mli
  src/proto_alpha/lib_delegate/state_transitions.ml
Due: script:snapshot_alpha_and_link

Baker: transition time_to_forge_block handler
  src/proto_alpha/lib_delegate/baking_actions.ml
  src/proto_alpha/lib_delegate/baking_actions.mli
  src/proto_alpha/lib_delegate/baking_events.ml
  src/proto_alpha/lib_delegate/state_transitions.ml
Due: script:snapshot_alpha_and_link

Baker: add next_forged_block in level state
  src/proto_alpha/lib_delegate/baking_scheduling.ml
  src/proto_alpha/lib_delegate/baking_state.ml
  src/proto_alpha/lib_delegate/baking_state.mli
  src/proto_alpha/lib_delegate/state_transitions.ml
Due: script:snapshot_alpha_and_link

Baker: compute wait to forge timeout
  src/proto_alpha/lib_delegate/baking_events.ml
  src/proto_alpha/lib_delegate/baking_scheduling.ml
Due: script:snapshot_alpha_and_link

fixup: don't set next proposed block when forge
  src/proto_alpha/lib_delegate/state_transitions.ml
Due: script:snapshot_alpha_and_link

Baker: decouple forge from inject action
  src/proto_alpha/lib_delegate/baking_actions.ml
  src/proto_alpha/lib_delegate/baking_actions.mli
  src/proto_alpha/lib_delegate/baking_events.ml
  src/proto_alpha/lib_delegate/baking_lib.ml
  src/proto_alpha/lib_delegate/state_transitions.ml
Due: script:snapshot_alpha_and_link

Kaitai: change UserType definition
  contrib/kaitai-ocaml/src/parse.ml
  contrib/kaitai-ocaml/src/types.ml
  contrib/kaitai-ocaml/src/types.mli
  contrib/lib_kaitai_of_data_encoding/ground.ml
  contrib/lib_kaitai_of_data_encoding/helpers.ml
  contrib/lib_kaitai_of_data_encoding/helpers.mli
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: none

Kaitai: fail if printing kaitai doesn't roundtrip
  contrib/kaitai-ocaml/src/print.ml
Due: none

Baker: nairobi backport
  src/proto_017_PtNairob/lib_delegate/baking_actions.ml
  src/proto_017_PtNairob/lib_delegate/baking_actions.mli
  src/proto_017_PtNairob/lib_delegate/baking_events.ml
  src/proto_017_PtNairob/lib_delegate/baking_lib.ml
  src/proto_017_PtNairob/lib_delegate/baking_scheduling.ml
  src/proto_017_PtNairob/lib_delegate/baking_state.ml
  src/proto_017_PtNairob/lib_delegate/baking_state.mli
  src/proto_017_PtNairob/lib_delegate/state_transitions.ml
Due: none

fixup! Kaitai: complete kaitai parser
  contrib/kaitai-ocaml/src/lexer.mll
  contrib/kaitai-ocaml/src/parser.mly
Due: none

fixup! Kaitai: complete kaitai parser
  contrib/kaitai-ocaml/test/basic.ml
Due: none

Kaitai: fix parser/printer for instanceSpec
  contrib/kaitai-ocaml/src/parse.ml
  contrib/kaitai-ocaml/src/print.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_ranges.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_unions.ml
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: none

fixup! Kaitai: complete kaitai parser
  contrib/kaitai-ocaml/src/parse.ml
  contrib/kaitai-ocaml/src/print.ml
  contrib/kaitai-ocaml/src/types.mli
Due: none

EVM/Plugin: add new encodings
  src/bin_evm_node/lib_dev/encodings/plugin.ml
  src/bin_evm_node/lib_prod/encodings/plugin.ml
Due: none

DAL/GS Worker: define some stats
  src/lib_gossipsub/gossipsub_intf.ml
  src/lib_gossipsub/gossipsub_worker.ml
Due: none

Dal/GS Worker: count the number of regular/bootstrap (dis)connections
  src/lib_gossipsub/gossipsub_worker.ml
Due: none

DAL/GS Worker: update the stats for the number of topics
  src/lib_gossipsub/gossipsub_worker.ml
Due: none

sort enums
  contrib/kaitai-struct-files/alpha__block_header.ksy
  contrib/kaitai-struct-files/alpha__block_header__contents.ksy
  contrib/kaitai-struct-files/alpha__block_header__protocol_data.ksy
  contrib/kaitai-struct-files/alpha__block_header__unsigned.ksy
  contrib/kaitai-struct-files/alpha__fitness.ksy
  contrib/kaitai-struct-files/id_009__psfloren__operation.ksy
  contrib/kaitai-struct-files/id_009__psfloren__operation__contents.ksy
  contrib/kaitai-struct-files/id_009__psfloren__operation__contents_list.ksy
  contrib/kaitai-struct-files/id_009__psfloren__operation__protocol_data.ksy
  contrib/kaitai-struct-files/id_009__psfloren__operation__unsigned.ksy
  contrib/kaitai-struct-files/id_010__ptgranad__operation.ksy
  contrib/kaitai-struct-files/id_010__ptgranad__operation__contents.ksy
  contrib/kaitai-struct-files/id_010__ptgranad__operation__contents_list.ksy
  contrib/kaitai-struct-files/id_010__ptgranad__operation__protocol_data.ksy
  contrib/kaitai-struct-files/id_010__ptgranad__operation__unsigned.ksy
  contrib/kaitai-struct-files/id_011__pthangz2__operation.ksy
  contrib/kaitai-struct-files/id_011__pthangz2__operation__contents.ksy
  contrib/kaitai-struct-files/id_011__pthangz2__operation__contents_list.ksy
  contrib/kaitai-struct-files/id_011__pthangz2__operation__protocol_data.ksy
  contrib/kaitai-struct-files/id_011__pthangz2__operation__unsigned.ksy
  contrib/kaitai-struct-files/id_012__psithaca__fitness.ksy
  contrib/kaitai-struct-files/id_013__ptjakart__fitness.ksy
  contrib/kaitai-struct-files/id_014__ptkathma__fitness.ksy
  contrib/kaitai-struct-files/id_015__ptlimapt__fitness.ksy
  contrib/kaitai-struct-files/id_016__ptmumbai__fitness.ksy
  contrib/kaitai-struct-files/id_017__ptnairob__fitness.ksy
  contrib/kaitai-struct-files/id_018__proxford__block_header.ksy
  contrib/kaitai-struct-files/id_018__proxford__block_header__contents.ksy
  contrib/kaitai-struct-files/id_018__proxford__block_header__protocol_data.ksy
  contrib/kaitai-struct-files/id_018__proxford__block_header__unsigned.ksy
  contrib/kaitai-struct-files/id_018__proxford__fitness.ksy
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: kaitai-struct-files

Dal/GS Worker: count the number of sent grafts
  src/lib_gossipsub/gossipsub_worker.ml
Due: none

Dal/GS Worker: count the number of sent/(valid & fresh) received msgs
  src/lib_gossipsub/gossipsub_worker.ml
Due: none

Dal/Gs Worker: count the number of sent/received IWant messages
  src/lib_gossipsub/gossipsub_worker.ml
Due: none

DAL/GS Worker: refactor handle_prune to plug received prunes stats
  src/lib_gossipsub/gossipsub_worker.ml
Due: none

Path conditions:
  kaitai-struct-files: any of: contrib/kaitai-struct-files/*, contrib/kaitai-struct-files/**/*
  tezos-rust-sdk: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  tezos-rust-sdk-test-codec: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  install_python_focal: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_jammy: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_bullseye: any of: docs/developer/install-python-debian-ubuntu.sh
  script:snapshot_alpha_and_link: any of: src/proto_alpha/**/*, scripts/snapshot_alpha_and_link.sh, scripts/snapshot_alpha.sh, scripts/user_activated_upgrade.sh
  check_lift_limits_patch: any of: src/bin_tps_evaluation/lift_limits.patch, src/proto_alpha/lib_protocol/main.ml
  lockfile_sync_check: any of: scripts/version.sh, tezos.opam.locked
