Repository OKEAMAH/Git: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kaitai-struct-files, tezos-rust-sdk, tezos-rust-sdk-test-codec, install_python_focal, install_python_jammy, install_python_bullseye, script:snapshot_alpha_and_link, check_lift_limits_patch, lockfile_sync_check

Path conditions:
  kaitai-struct-files: any of: contrib/kaitai-struct-files/*, contrib/kaitai-struct-files/**/*
  tezos-rust-sdk: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  tezos-rust-sdk-test-codec: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  install_python_focal: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_jammy: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_bullseye: any of: docs/developer/install-python-debian-ubuntu.sh
  script:snapshot_alpha_and_link: any of: src/proto_alpha/**/*, scripts/snapshot_alpha_and_link.sh, scripts/snapshot_alpha.sh, scripts/user_activated_upgrade.sh
  check_lift_limits_patch: any of: src/bin_tps_evaluation/lift_limits.patch, src/proto_alpha/lib_protocol/main.ml
  lockfile_sync_check: any of: scripts/version.sh, tezos.opam.locked

Rollup node: protect L2 chain update by lockfile
  src/lib_smart_rollup_node/node_context.ml
  src/lib_smart_rollup_node/node_context.mli
  src/lib_smart_rollup_node/rollup_node_daemon.ml
Due: none

doc: add doc rules
  docs/README.rst
  docs/developer/guidelines.rst
Due: none

EVM: add bloom size to bench script data
  src/kernel_evm/benchmarks/scripts/run_benchmarks.js
Due: none

Rollup node: protect GC with a lock file
  src/lib_smart_rollup_node/node_context.ml
  src/lib_smart_rollup_node/node_context.mli
Due: none

Rollup node/Store: small fix in wait_gc_completion
  src/lib_layer2_store/indexed_store.ml
Due: none

doc: separate doc and code guidelines
  docs/developer/guidelines.rst
Due: none

doc: add code rule
  docs/developer/guidelines.rst
Due: none

doc: fixes and rephrasings
  docs/developer/guidelines.rst
Due: none

proto: autostaking feature flag
  src/proto_alpha/lib_parameters/default_parameters.ml
  src/proto_alpha/lib_protocol/alpha_context.mli
  src/proto_alpha/lib_protocol/constants_parametric_repr.ml
  src/proto_alpha/lib_protocol/constants_parametric_repr.mli
  src/proto_alpha/lib_protocol/constants_storage.ml
  src/proto_alpha/lib_protocol/constants_storage.mli
  src/proto_alpha/lib_protocol/raw_context.ml
Due: script:snapshot_alpha_and_link

MIR: Make the lexer ignore/skip the comments
  contrib/mir/src/lexer.rs
Due: none

proto/stake_context: optimal frozen
  src/proto_alpha/lib_protocol/stake_context.ml
  src/proto_alpha/lib_protocol/stake_context.mli
Due: script:snapshot_alpha_and_link

Proto/test: fix timings between two cycles
  src/proto_alpha/lib_protocol/test/helpers/block.ml
  src/proto_alpha/lib_protocol/test/helpers/block.mli
  src/proto_alpha/lib_protocol/test/integration/test_adaptive_issuance_roundtrip.ml
Due: script:snapshot_alpha_and_link

contrib/kaitai-struct-file: update parametric constants
  contrib/kaitai-struct-files/alpha__constants.ksy
  contrib/kaitai-struct-files/alpha__constants__parametric.ksy
Due: kaitai-struct-files

MIR: Add typecheck failure expectation
  contrib/mir/src/lexer.rs
  contrib/mir/src/syntax.lalrpop
  contrib/mir/src/tzt.rs
  contrib/mir/src/tzt/expectation.rs
  contrib/mir/tzt_runner/main.rs
Due: none

tezt/RPC: reset regression trace (proto parametric const)
  tezt/tests/expected/RPC_test.ml/Alpha- (mode client) RPC regression tests- misc_protocol.out
  tezt/tests/expected/RPC_test.ml/Alpha- (mode light) RPC regression tests- misc_protocol.out
  tezt/tests/expected/RPC_test.ml/Alpha- (mode proxy) RPC regression tests- misc_protocol.out
  tezt/tests/expected/RPC_test.ml/Alpha- (mode proxy_server_data_dir) RPC regression tests- misc_protocol.out
  tezt/tests/expected/RPC_test.ml/Alpha- (mode proxy_server_rpc) RPC regression tests- misc_protocol.out
Due: none

MIR: Make errors more readable
  contrib/mir/src/tzt.rs
  contrib/mir/src/tzt/expectation.rs
  contrib/mir/tzt_runner/main.rs
Due: none

proto/test/AI: comment stake operation in reward test
  src/proto_alpha/lib_protocol/test/integration/test_adaptive_issuance_roundtrip.ml
Due: script:snapshot_alpha_and_link

proto/tests/consensus_key: reset RPC regression tests
  tezt/tests/expected/consensus_key.ml/Alpha- Test drain delegate with (baker - delegate - consensus - destination).out
  tezt/tests/expected/consensus_key.ml/Alpha- Test drain delegate with (baker - delegate - consensus -- destination).out
  tezt/tests/expected/consensus_key.ml/Alpha- Test drain delegate with (baker -- delegate - consensus - destination).out
  tezt/tests/expected/consensus_key.ml/Alpha- Test drain delegate with (baker -- delegate - consensus -- destination).out
  tezt/tests/expected/consensus_key.ml/Alpha- Test register with consensus key.out
  tezt/tests/expected/consensus_key.ml/Alpha- Test set consensus key - baker is delegate.out
  tezt/tests/expected/consensus_key.ml/Alpha- Test set consensus key - baker is not delegate.out
Due: none

proto/delegate_cycles: deactivate autostake on AI activation
  src/proto_alpha/lib_protocol/delegate_cycles.ml
Due: script:snapshot_alpha_and_link

proto/delegate_cycles: activate auto-freezer
  src/proto_alpha/lib_protocol/delegate_cycles.ml
Due: script:snapshot_alpha_and_link

proto/delegate_cycles: use Autostaking feature flag
  src/proto_alpha/lib_protocol/delegate_cycles.ml
Due: script:snapshot_alpha_and_link

proto/delegate_cycles: function to automatically adjust frozen stake
  src/proto_alpha/lib_protocol/delegate_cycles.ml
Due: script:snapshot_alpha_and_link

proto/test/AI: Log autostaking
  src/proto_alpha/lib_protocol/test/integration/test_adaptive_issuance_roundtrip.ml
Due: script:snapshot_alpha_and_link

proto/test/AI: adapt AI test to autostaking
  src/proto_alpha/lib_protocol/test/integration/test_adaptive_issuance_roundtrip.ml
Due: script:snapshot_alpha_and_link

proto/test/helpers/block: type name cleaning
  src/proto_alpha/lib_protocol/test/helpers/block.mli
Due: script:snapshot_alpha_and_link

proto/test/helpers/block: autostaked amount getter
  src/proto_alpha/lib_protocol/test/helpers/block.ml
  src/proto_alpha/lib_protocol/test/helpers/block.mli
Due: script:snapshot_alpha_and_link

proto/test/AI: add autostaking tests
  src/proto_alpha/lib_protocol/test/integration/test_adaptive_issuance_roundtrip.ml
Due: script:snapshot_alpha_and_link

proto/test/helpers: expose adaptive_issuance conf in context builder
  src/proto_alpha/lib_protocol/test/helpers/block.ml
  src/proto_alpha/lib_protocol/test/helpers/block.mli
  src/proto_alpha/lib_protocol/test/helpers/context.ml
  src/proto_alpha/lib_protocol/test/helpers/context.mli
Due: script:snapshot_alpha_and_link

proto/test/double_baking: take autostaking into account
  src/proto_alpha/lib_protocol/test/integration/consensus/test_double_baking.ml
Due: script:snapshot_alpha_and_link

proto/test/helpers/block: more exposure of blocks metadata
  src/proto_alpha/lib_protocol/test/helpers/block.ml
  src/proto_alpha/lib_protocol/test/helpers/block.mli
Due: script:snapshot_alpha_and_link

proto/test/AI: fix test static rate
  src/proto_alpha/lib_protocol/test/integration/test_adaptive_issuance_roundtrip.ml
Due: script:snapshot_alpha_and_link

proto/test/AI: force AI activation, move apply_end_cycle after rewards
  src/proto_alpha/lib_protocol/test/integration/test_adaptive_issuance_roundtrip.ml
Due: script:snapshot_alpha_and_link

proto/test/AI: allow custom comparison with balance snapshot
  src/proto_alpha/lib_protocol/test/integration/test_adaptive_issuance_roundtrip.ml
Due: script:snapshot_alpha_and_link

proto/test/frozen_deposits: deactivate tests that need set-deposit
  src/proto_alpha/lib_protocol/test/integration/consensus/test_frozen_deposits.ml
Due: script:snapshot_alpha_and_link

proto/test/frozen_deposits: adapt tests to autostaking
  src/proto_alpha/lib_protocol/test/integration/consensus/test_frozen_deposits.ml
Due: script:snapshot_alpha_and_link

proto/test/consensus/preattestation: deactivate autostaking
  src/proto_alpha/lib_protocol/test/integration/consensus/test_double_preattestation.ml
Due: script:snapshot_alpha_and_link

proto/test/test_adaptive_issuance_launch: adapte to new bake_until signature
  src/proto_alpha/lib_protocol/test/integration/test_adaptive_issuance_launch.ml
Due: script:snapshot_alpha_and_link

proto/tests/adaptive_issuance_launch: deactivate autostaking
  src/proto_alpha/lib_protocol/test/integration/test_adaptive_issuance_launch.ml
Due: script:snapshot_alpha_and_link

proto/test/consensus/participation: adapt tests to autostaking
  src/proto_alpha/lib_protocol/test/integration/consensus/test_participation.ml
Due: script:snapshot_alpha_and_link

proto/test/consensus/double_attestation: adapt tests to autostaking
  src/proto_alpha/lib_protocol/test/integration/consensus/test_double_attestation.ml
Due: script:snapshot_alpha_and_link
