Repository OKEAMAH/Git: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kaitai-struct-files, tezos-rust-sdk, tezos-rust-sdk-test-codec, install_python_focal, install_python_jammy, install_python_bullseye, script:snapshot_alpha_and_link, check_lift_limits_patch, lockfile_sync_check

Path conditions:
  kaitai-struct-files: any of: contrib/kaitai-struct-files/*, contrib/kaitai-struct-files/**/*
  tezos-rust-sdk: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  tezos-rust-sdk-test-codec: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  install_python_focal: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_jammy: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_bullseye: any of: docs/developer/install-python-debian-ubuntu.sh
  script:snapshot_alpha_and_link: any of: src/proto_alpha/**/*, scripts/snapshot_alpha_and_link.sh, scripts/snapshot_alpha.sh, scripts/user_activated_upgrade.sh
  check_lift_limits_patch: any of: src/bin_tps_evaluation/lift_limits.patch, src/proto_alpha/lib_protocol/main.ml
  lockfile_sync_check: any of: scripts/version.sh, tezos.opam.locked

plug shell profiler barrier
  src/lib_shell/chain_validator.ml
Due: none

plug requester profiler
  manifest/main.ml
  opam/octez-libs.opam
  src/lib_base/index.mld
  src/lib_requester/dune
  src/lib_requester/requester.ml
  src/lib_requester/test/dune
  src/lib_shell/dune
  src/lib_shell/index.mld
  src/lib_shell/test/dune
Due: none

plug store profiler
  src/lib_store/unix/store.ml
Due: none

mempool: improve mempool profiler reports
  src/lib_shell/chain_validator.ml
  src/lib_shell/prevalidator.ml
Due: none

Prevalidator: Add probs in already_handled function
  src/lib_shell/prevalidator.ml
Due: none

Prevalidator: Add probs in update_advertised_mempool_fields
  src/lib_shell/prevalidator.ml
Due: none

plug block validator profiler
  src/lib_shell/block_validator.ml
  src/lib_shell/block_validator_process.ml
  src/lib_validation/block_validation.ml
  src/lib_validation/external_validation.ml
  src/lib_validation/external_validation.mli
  src/lib_validation/external_validator.ml
Due: none

plug store merge profiler
  src/lib_store/unix/block_store.ml
  src/lib_store/unix/cemented_block_store.ml
Due: none

plug p2p reader profiler
  src/lib_shell/p2p_reader.ml
Due: none

plug chain validator profiler
  src/lib_shell/chain_validator.ml
  src/lib_shell/peer_validator.ml
Due: none

plug RPC profiler
  src/bin_node/node_run_command.ml
  src/lib_shell/chain_validator.ml
  src/lib_shell_services/shell_profiling.ml
Due: none

RBT: use full block hash name for separation in baker_profiling.txt
  src/proto_017_PtNairob/lib_delegate/baking_scheduling.ml
  src/proto_alpha/lib_delegate/baking_scheduling.ml
Due: script:snapshot_alpha_and_link

RBT: profile every calls to call_service
  manifest/main.ml
  src/lib_rpc_http/RPC_client.ml
  src/lib_rpc_http/RPC_profiler.ml
  src/lib_rpc_http/RPC_profiler.mli
  src/lib_rpc_http/dune
  src/proto_017_PtNairob/lib_delegate/client_daemon.ml
  src/proto_017_PtNairob/lib_delegate/dune
  src/proto_018_Proxford/lib_delegate/dune
  src/proto_alpha/lib_delegate/client_daemon.ml
  src/proto_alpha/lib_delegate/dune
Due: script:snapshot_alpha_and_link

plug baker profilers
  src/proto_017_PtNairob/lib_delegate/baking_actions.ml
  src/proto_017_PtNairob/lib_delegate/baking_nonces.ml
  src/proto_017_PtNairob/lib_delegate/baking_profiler.ml
  src/proto_017_PtNairob/lib_delegate/baking_scheduling.ml
  src/proto_017_PtNairob/lib_delegate/baking_simulator.ml
  src/proto_017_PtNairob/lib_delegate/baking_state.ml
  src/proto_017_PtNairob/lib_delegate/baking_state.mli
  src/proto_017_PtNairob/lib_delegate/block_forge.ml
  src/proto_017_PtNairob/lib_delegate/client_daemon.ml
  src/proto_017_PtNairob/lib_delegate/node_rpc.ml
  src/proto_017_PtNairob/lib_delegate/operation_selection.ml
  src/proto_017_PtNairob/lib_delegate/operation_worker.ml
  src/proto_017_PtNairob/lib_delegate/state_transitions.ml
  src/proto_018_Proxford/lib_delegate/baking_actions.ml
  src/proto_018_Proxford/lib_delegate/baking_nonces.ml
  src/proto_018_Proxford/lib_delegate/baking_profiler.ml
  src/proto_018_Proxford/lib_delegate/baking_scheduling.ml
  src/proto_018_Proxford/lib_delegate/baking_simulator.ml
  src/proto_018_Proxford/lib_delegate/baking_state.ml
  src/proto_018_Proxford/lib_delegate/baking_state.mli
  src/proto_018_Proxford/lib_delegate/block_forge.ml
  src/proto_018_Proxford/lib_delegate/client_daemon.ml
  src/proto_018_Proxford/lib_delegate/node_rpc.ml
  src/proto_018_Proxford/lib_delegate/operation_selection.ml
  src/proto_018_Proxford/lib_delegate/operation_worker.ml
  src/proto_018_Proxford/lib_delegate/state_transitions.ml
  src/proto_alpha/lib_delegate/baking_actions.ml
  src/proto_alpha/lib_delegate/baking_nonces.ml
  src/proto_alpha/lib_delegate/baking_profiler.ml
  src/proto_alpha/lib_delegate/baking_scheduling.ml
  src/proto_alpha/lib_delegate/baking_simulator.ml
  src/proto_alpha/lib_delegate/baking_state.ml
  src/proto_alpha/lib_delegate/baking_state.mli
  src/proto_alpha/lib_delegate/block_forge.ml
  src/proto_alpha/lib_delegate/client_daemon.ml
  src/proto_alpha/lib_delegate/node_rpc.ml
  src/proto_alpha/lib_delegate/operation_selection.ml
  src/proto_alpha/lib_delegate/operation_worker.ml
  src/proto_alpha/lib_delegate/state_transitions.ml
Due: script:snapshot_alpha_and_link

fixup! RBT: generic reset_block_section function for profilers
  src/lib_shell/block_validator.ml
  src/lib_store/unix/store.ml
Due: none

RBT: generic reset_block_section function for profilers
  src/lib_shell/block_validator.ml
  src/lib_shell_services/shell_profiling.ml
Due: none

RBT: switch to full block hash for section in profiling report
  src/proto_017_PtNairob/lib_delegate/baking_nonces.ml
  src/proto_018_Proxford/lib_delegate/baking_nonces.ml
  src/proto_alpha/lib_delegate/baking_nonces.ml
Due: script:snapshot_alpha_and_link

RBT: generic reset_block_section for baking_profiler
  src/proto_alpha/lib_delegate/baking_profiler.ml
  src/proto_alpha/lib_delegate/node_rpc.ml
Due: script:snapshot_alpha_and_link

augment environement variable with output directory option
  src/bin_node/node_replay_command.ml
  src/bin_node/node_run_command.ml
  src/proto_017_PtNairob/lib_delegate/client_daemon.ml
  src/proto_alpha/lib_delegate/client_daemon.ml
Due: script:snapshot_alpha_and_link

add sign delay to baker sign site
  src/proto_017_PtNairob/lib_delegate/baking_actions.ml
  src/proto_018_Proxford/lib_delegate/baking_actions.ml
  src/proto_alpha/lib_delegate/baking_actions.ml
Due: script:snapshot_alpha_and_link

RBT: block section for merge profiler
  src/lib_store/unix/block_store.ml
Due: none

yes-node
  src/lib_crypto/signature_v0.ml
  src/lib_crypto/signature_v1.ml
Due: none

Profiler: add a timestamp to all toplevel record section
  src/lib_base/unix/simple_profiler.ml
Due: none

client-libs: remove unused path field
  contrib/kaitai-ocaml/src/parse.ml
  contrib/kaitai-ocaml/src/types.ml
  contrib/kaitai-ocaml/src/types.mli
  contrib/lib_kaitai_of_data_encoding/ground.ml
  contrib/lib_kaitai_of_data_encoding/helpers.ml
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: none

Kaitai: emit doc for enums
  contrib/kaitai-ocaml/src/print.ml
  contrib/kaitai-struct-files/alpha__operation__internal.ksy
  contrib/kaitai-struct-files/alpha__script__expr.ksy
  contrib/kaitai-struct-files/id_005__psbabym1__contract__big_map_diff.ksy
  contrib/kaitai-struct-files/id_005__psbabym1__script__expr.ksy
  contrib/kaitai-struct-files/id_006__pscartha__contract__big_map_diff.ksy
  contrib/kaitai-struct-files/id_006__pscartha__script__expr.ksy
  contrib/kaitai-struct-files/id_007__psdelph1__contract__big_map_diff.ksy
  contrib/kaitai-struct-files/id_007__psdelph1__script__expr.ksy
  contrib/kaitai-struct-files/id_008__ptedo2zk__contract__big_map_diff.ksy
  contrib/kaitai-struct-files/id_008__ptedo2zk__script__expr.ksy
  contrib/kaitai-struct-files/id_009__psfloren__contract__big_map_diff.ksy
  contrib/kaitai-struct-files/id_009__psfloren__script__expr.ksy
  contrib/kaitai-struct-files/id_010__ptgranad__contract__big_map_diff.ksy
  contrib/kaitai-struct-files/id_010__ptgranad__script__expr.ksy
  contrib/kaitai-struct-files/id_011__pthangz2__contract__big_map_diff.ksy
  contrib/kaitai-struct-files/id_011__pthangz2__script__expr.ksy
  contrib/kaitai-struct-files/id_012__psithaca__contract__big_map_diff.ksy
  contrib/kaitai-struct-files/id_012__psithaca__script__expr.ksy
  contrib/kaitai-struct-files/id_013__ptjakart__script__expr.ksy
  contrib/kaitai-struct-files/id_014__ptkathma__operation__internal.ksy
  contrib/kaitai-struct-files/id_014__ptkathma__script__expr.ksy
  contrib/kaitai-struct-files/id_015__ptlimapt__operation__internal.ksy
  contrib/kaitai-struct-files/id_015__ptlimapt__script__expr.ksy
  contrib/kaitai-struct-files/id_016__ptmumbai__operation__internal.ksy
  contrib/kaitai-struct-files/id_016__ptmumbai__script__expr.ksy
  contrib/kaitai-struct-files/id_017__ptnairob__operation__internal.ksy
  contrib/kaitai-struct-files/id_017__ptnairob__script__expr.ksy
  contrib/kaitai-struct-files/id_018__proxford__operation__internal.ksy
  contrib/kaitai-struct-files/id_018__proxford__script__expr.ksy
Due: kaitai-struct-files

Kaitai: use deriving sexp
  contrib/kaitai-ocaml/src/dune
  contrib/kaitai-ocaml/src/types.ml
  contrib/kaitai-ocaml/src/types.mli
  manifest/main.ml
  opam/kaitai.opam
  opam/virtual/octez-deps.opam
  package.json
Due: none

fixup! Kaitai: use deriving sexp
  contrib/kaitai-ocaml/src/dune
  contrib/kaitai-ocaml/src/types.ml
  manifest/main.ml
  opam/kaitai.opam
  opam/virtual/octez-deps.opam
Due: none

introduce shell profilers
  src/bin_node/node_replay_command.ml
  src/bin_node/node_run_command.ml
  src/lib_shell/profiler_directory.ml
  src/lib_shell_services/profiler_services.ml
  src/lib_shell_services/shell_profiling.ml
Due: none

plug profiler in env
  src/lib_protocol_environment/environment_V10.ml
  src/lib_protocol_environment/environment_V11.ml
  src/lib_protocol_environment/environment_V9.ml
  src/lib_protocol_environment/environment_profiler.ml
  src/lib_protocol_environment/sigs/v10.in.ml
  src/lib_protocol_environment/sigs/v10.ml
  src/lib_protocol_environment/sigs/v10/profiler.mli
  src/lib_protocol_environment/sigs/v11.in.ml
  src/lib_protocol_environment/sigs/v11.ml
  src/lib_protocol_environment/sigs/v11/profiler.mli
  src/lib_protocol_environment/sigs/v9.in.ml
  src/lib_protocol_environment/sigs/v9.ml
  src/lib_protocol_environment/sigs/v9/profiler.mli
  src/lib_protocol_environment/tezos_protocol_environment.ml
Due: none

plug protocol profilers
  src/proto_017_PtNairob/lib_protocol/apply.ml
  src/proto_017_PtNairob/lib_protocol/baking.ml
  src/proto_017_PtNairob/lib_protocol/delegate_cycles.ml
  src/proto_017_PtNairob/lib_protocol/script_cache.ml
  src/proto_017_PtNairob/lib_protocol/script_interpreter.ml
  src/proto_017_PtNairob/lib_protocol/script_ir_translator.ml
  src/proto_alpha/lib_protocol/apply.ml
  src/proto_alpha/lib_protocol/baking.ml
  src/proto_alpha/lib_protocol/delegate_cycles.ml
  src/proto_alpha/lib_protocol/script_cache.ml
  src/proto_alpha/lib_protocol/script_interpreter.ml
  src/proto_alpha/lib_protocol/script_ir_translator.ml
Due: script:snapshot_alpha_and_link

Scripts: add patch that simulate an artificial signing delay using SIGN_DELAY envar
  scripts/signing-delay.patch
Due: none

plug mempool profiler
  src/lib_shell/prevalidator.ml
Due: none
