Repository OKEAMAH/Git: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_get_contracts, kaitai-struct-files, tezos-rust-sdk, tezos-rust-sdk-test-codec, documentation:linkcheck, install_python_focal, install_python_jammy, install_python_bullseye, script:snapshot_alpha_and_link, oc.install_bin_focal, oc.install_bin_jammy, oc.install_bin_rc_focal, oc.install_bin_rc_jammy, oc.install_bin_fedora_37, oc.install_bin_rc_fedora_37, oc.compile_release_sources_bullseye, oc.compile_sources_bullseye, test_kernels, oc.test-liquidity-baking-scripts, kaitai_checks, oc.check_lift_limits_patch, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long, lockfile_sync_check

build_get_contracts:
  script:
  - dune build @devtools/get_contracts/check

kaitai-struct-files:
  stage: client-libs
  needs:
  - trigger
  image: ubuntu:latest
  script:
  - apt update && apt install -y nix-bin make git
  - nix-channel --add https://nixos.org/channels/nixpkgs-unstable nixpkgs
  - nix-channel --update
  ...

tezos-rust-sdk:
  stage: client-libs
  needs:
  - trigger
  image: rust:1.66.0
  script:
  - apt-get update -qy && apt-get install -y openssl libssl-dev clang
  - rustup update
  - rustup component add rustfmt clippy
  - cd contrib/tezos-rust-sdk
  - cargo check --locked
  - cargo build --release
  - cargo test
  - cargo fmt -- --check

tezos-rust-sdk-test-codec:
  stage: client-libs
  needs:
  - trigger
  image: registry.gitlab.com/tezos/opam-repository:runtime-build-dependencies--2703ff3a4dbbfa575a7a3d6dc2fff2a4b23c2045
  script:
  - cd contrib/tezos-rust-sdk/codec
  - cargo build
  - cd ../../..
  - make octez-codec
  - cd contrib/tezos-rust-sdk
  - bash codec/tests/test.bash

documentation:linkcheck:
  stage: doc
  needs: []
  before_script:
  - . ./scripts/version.sh
  - . $HOME/.venv/bin/activate
  script:
  - make all
  - make -C docs redirectcheck
  - make -C docs linkcheck
  allow_failure: true

install_python_focal:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

install_python_jammy:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

install_python_bullseye:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

script:snapshot_alpha_and_link:
  stage: test
  before_script:
  - . ./scripts/version.sh
  needs:
  - build_x86_64-released
  - build_x86_64-exp-dev-extra
  script:
  - ./.gitlab/ci/jobs/test/script:snapshot_alpha_and_link.sh

oc.install_bin_focal:
  stage: test
  needs:
  - trigger
  script:
  - ./docs/introduction/install-bin-ubuntu.sh
  image: public.ecr.aws/lts/ubuntu:20.04_stable

oc.install_bin_jammy:
  stage: test
  needs:
  - trigger
  script:
  - ./docs/introduction/install-bin-ubuntu.sh
  image: public.ecr.aws/lts/ubuntu:22.04_stable

oc.install_bin_rc_focal:
  stage: test
  needs:
  - trigger
  script:
  - ./docs/introduction/install-bin-ubuntu.sh rc
  image: public.ecr.aws/lts/ubuntu:20.04_stable

oc.install_bin_rc_jammy:
  stage: test
  needs:
  - trigger
  script:
  - ./docs/introduction/install-bin-ubuntu.sh rc
  image: public.ecr.aws/lts/ubuntu:22.04_stable

Scripts: add [gitlab/run_pipeline.sh]
  scripts/gitlab/run_pipeline.sh
Due: none

CI: Add FLAKE_TEST pipeline
  .gitlab-ci.yml
  .gitlab/ci/jobs/test/tezt_flake.yml
  .gitlab/ci/jobs/test/unit_flake.sh
  .gitlab/ci/jobs/test/unit_flake.yml
  .gitlab/ci/jobs/test/unit_js_flake.yml
  .gitlab/ci/pipelines/flake_test.yml
  .gitlab/ci/pipelines/flake_test_variables.yml
Due: kaitai_checks, oc.check_lift_limits_patch

WIP
  src/lib_smart_rollup_node/context.ml
  src/lib_smart_rollup_node/context.mli
  src/lib_smart_rollup_node/interpreter.ml
  src/lib_smart_rollup_node/irmin_context.ml
  src/lib_smart_rollup_node/irmin_context.mli
  src/lib_smart_rollup_node/outbox_execution.ml
  src/lib_smart_rollup_node/protocol_plugin_sig.ml
  src/lib_smart_rollup_node/protocol_plugins.ml
  src/lib_smart_rollup_node/publisher.ml
  src/lib_smart_rollup_node/pvm_plugin_sig.ml
  src/lib_smart_rollup_node/refutation_game.ml
  src/lib_smart_rollup_node/rollup_node_daemon.ml
  src/lib_smart_rollup_node/rpc_directory.ml
  src/lib_smart_rollup_node/simulation.ml
  src/lib_smart_rollup_node/wasm_2_0_0_dump.ml
  src/proto_017_PtNairob/lib_sc_rollup_node/RPC_directory.ml
  src/proto_017_PtNairob/lib_sc_rollup_node/RPC_directory.mli
  src/proto_017_PtNairob/lib_sc_rollup_node/daemon_helpers.ml
  src/proto_017_PtNairob/lib_sc_rollup_node/daemon_helpers.mli
  src/proto_017_PtNairob/lib_sc_rollup_node/dal_pages_request.ml
  src/proto_017_PtNairob/lib_sc_rollup_node/dal_pages_request.mli
  src/proto_017_PtNairob/lib_sc_rollup_node/dal_slots_tracker.ml
  src/proto_017_PtNairob/lib_sc_rollup_node/dal_slots_tracker.mli
  src/proto_017_PtNairob/lib_sc_rollup_node/fueled_pvm.ml
  src/proto_017_PtNairob/lib_sc_rollup_node/inbox.ml
  src/proto_017_PtNairob/lib_sc_rollup_node/inbox.mli
  src/proto_017_PtNairob/lib_sc_rollup_node/layer1_helpers.ml
  src/proto_017_PtNairob/lib_sc_rollup_node/layer1_helpers.mli
  src/proto_017_PtNairob/lib_sc_rollup_node/outbox.ml
  src/proto_017_PtNairob/lib_sc_rollup_node/outbox.mli
  src/proto_017_PtNairob/lib_sc_rollup_node/pvm_plugin.ml
  src/proto_017_PtNairob/lib_sc_rollup_node/pvm_plugin.mli
  src/proto_017_PtNairob/lib_sc_rollup_node/pvm_rpc.ml
  src/proto_017_PtNairob/lib_sc_rollup_node/pvm_sig.ml
  src/proto_017_PtNairob/lib_sc_rollup_node/refutation_game_helpers.ml
  src/proto_017_PtNairob/lib_sc_rollup_node/refutation_game_helpers.mli
  src/proto_017_PtNairob/lib_sc_rollup_node/rollup_node_plugin.ml
  src/proto_017_PtNairob/lib_sc_rollup_node/wasm_2_0_0_rpc.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

WIP
  src/proto_017_PtNairob/lib_sc_rollup_node/fueled_pvm.ml
  src/proto_017_PtNairob/lib_sc_rollup_node/rollup_node_plugin.ml
  src/proto_018_Proxford/lib_sc_rollup_node/RPC_directory.ml
  src/proto_018_Proxford/lib_sc_rollup_node/RPC_directory.mli
  src/proto_018_Proxford/lib_sc_rollup_node/daemon_helpers.ml
  src/proto_018_Proxford/lib_sc_rollup_node/daemon_helpers.mli
  src/proto_018_Proxford/lib_sc_rollup_node/dal_pages_request.ml
  src/proto_018_Proxford/lib_sc_rollup_node/dal_pages_request.mli
  src/proto_018_Proxford/lib_sc_rollup_node/dal_slots_tracker.ml
  src/proto_018_Proxford/lib_sc_rollup_node/dal_slots_tracker.mli
  src/proto_018_Proxford/lib_sc_rollup_node/fueled_pvm.ml
  src/proto_018_Proxford/lib_sc_rollup_node/inbox.ml
  src/proto_018_Proxford/lib_sc_rollup_node/inbox.mli
  src/proto_018_Proxford/lib_sc_rollup_node/layer1_helpers.ml
  src/proto_018_Proxford/lib_sc_rollup_node/layer1_helpers.mli
  src/proto_018_Proxford/lib_sc_rollup_node/outbox.ml
  src/proto_018_Proxford/lib_sc_rollup_node/outbox.mli
  src/proto_018_Proxford/lib_sc_rollup_node/pvm_plugin.ml
  src/proto_018_Proxford/lib_sc_rollup_node/pvm_plugin.mli
  src/proto_018_Proxford/lib_sc_rollup_node/pvm_rpc.ml
  src/proto_018_Proxford/lib_sc_rollup_node/pvm_sig.ml
  src/proto_018_Proxford/lib_sc_rollup_node/refutation_game_helpers.ml
  src/proto_018_Proxford/lib_sc_rollup_node/refutation_game_helpers.mli
  src/proto_018_Proxford/lib_sc_rollup_node/rollup_node_plugin.ml
  src/proto_018_Proxford/lib_sc_rollup_node/wasm_2_0_0_rpc.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

WIP
  src/proto_alpha/lib_sc_rollup_node/RPC_directory.ml
  src/proto_alpha/lib_sc_rollup_node/RPC_directory.mli
  src/proto_alpha/lib_sc_rollup_node/daemon_helpers.ml
  src/proto_alpha/lib_sc_rollup_node/daemon_helpers.mli
  src/proto_alpha/lib_sc_rollup_node/dal_pages_request.ml
  src/proto_alpha/lib_sc_rollup_node/dal_pages_request.mli
  src/proto_alpha/lib_sc_rollup_node/dal_slots_tracker.ml
  src/proto_alpha/lib_sc_rollup_node/dal_slots_tracker.mli
  src/proto_alpha/lib_sc_rollup_node/fueled_pvm.ml
  src/proto_alpha/lib_sc_rollup_node/inbox.ml
  src/proto_alpha/lib_sc_rollup_node/inbox.mli
  src/proto_alpha/lib_sc_rollup_node/layer1_helpers.ml
  src/proto_alpha/lib_sc_rollup_node/layer1_helpers.mli
  src/proto_alpha/lib_sc_rollup_node/outbox.ml
  src/proto_alpha/lib_sc_rollup_node/outbox.mli
  src/proto_alpha/lib_sc_rollup_node/pvm_plugin.ml
  src/proto_alpha/lib_sc_rollup_node/pvm_plugin.mli
  src/proto_alpha/lib_sc_rollup_node/pvm_rpc.ml
  src/proto_alpha/lib_sc_rollup_node/pvm_sig.ml
  src/proto_alpha/lib_sc_rollup_node/refutation_game_helpers.ml
  src/proto_alpha/lib_sc_rollup_node/refutation_game_helpers.mli
  src/proto_alpha/lib_sc_rollup_node/wasm_2_0_0_rpc.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

regenerate
  contrib/kaitai-struct-files/alpha__frozen_staker.ksy
  contrib/kaitai-struct-files/alpha__operation_with_attestation.ksy
  contrib/kaitai-struct-files/alpha__operation_with_attestation__unsigned.ksy
  contrib/kaitai-struct-files/alpha__unstaked_frozen_staker.ksy
Due: kaitai-struct-files, kaitai_checks

fmt
  contrib/kaitai-ocaml/src/print.ml
Due: kaitai_checks

Kernel/EVM: check chain id in stage two
  src/kernel_evm/kernel/src/apply.rs
Due: build_get_contracts, documentation:linkcheck, test_kernels, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

EVM/Kernel: fix wrong nonce test
  src/kernel_evm/kernel/src/apply.rs
Due: build_get_contracts, documentation:linkcheck, test_kernels, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

EVM/Kernel: move max gas check to stage two
  src/kernel_evm/kernel/src/apply.rs
  src/kernel_evm/kernel/src/blueprint.rs
Due: build_get_contracts, documentation:linkcheck, test_kernels, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Kernel/EVM: remove chain id check from stage 1
  src/kernel_evm/kernel/src/blueprint.rs
  src/kernel_evm/kernel/src/lib.rs
Due: build_get_contracts, documentation:linkcheck, test_kernels, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

EVM/Kernel: `is_valid` returns structured value
  src/kernel_evm/kernel/src/apply.rs
Due: build_get_contracts, documentation:linkcheck, test_kernels, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto/Cache_memory_helpers: remove dead /?
  src/proto_alpha/lib_protocol/cache_memory_helpers.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto/Tez_repr: remove unused div2_sub
  src/proto_alpha/lib_protocol/tez_repr.ml
  src/proto_alpha/lib_protocol/tez_repr.mli
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto/Tez_repr: remove unnecessary local open of Int64
  src/proto_alpha/lib_protocol/tez_repr.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto/Tez_repr: remove unnecessary type tez
  src/proto_alpha/lib_benchmark/lib_benchmark_type_inference/mikhailsky.ml
  src/proto_alpha/lib_benchmark/michelson_samplers_base.ml
  src/proto_alpha/lib_benchmark/michelson_samplers_base.mli
  src/proto_alpha/lib_client/client_proto_args.mli
  src/proto_alpha/lib_client/client_proto_context.mli
  src/proto_alpha/lib_protocol/alpha_context.mli
  src/proto_alpha/lib_protocol/apply_internal_results.ml
  src/proto_alpha/lib_protocol/apply_internal_results.mli
  src/proto_alpha/lib_protocol/delegate_storage.mli
  src/proto_alpha/lib_protocol/gas_comparable_input_size.ml
  src/proto_alpha/lib_protocol/gas_comparable_input_size.mli
  src/proto_alpha/lib_protocol/operation_repr.ml
  src/proto_alpha/lib_protocol/operation_repr.mli
  src/proto_alpha/lib_protocol/script_typed_ir.ml
  src/proto_alpha/lib_protocol/script_typed_ir.mli
  src/proto_alpha/lib_protocol/test/helpers/op.mli
  src/proto_alpha/lib_protocol/test/integration/validate/manager_operation_helpers.ml
  src/proto_alpha/lib_protocol/tez_repr.ml
  src/proto_alpha/lib_protocol/tez_repr.mli
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto/Tez_repr: fully qualify compare
  src/proto_alpha/lib_protocol/tez_repr.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto/Tez_repr: add handy wrap
  src/proto_alpha/lib_protocol/tez_repr.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto/Tests/Sc_rollup: do not use exception-raising Tez operators
  src/proto_alpha/lib_protocol/test/unit/test_sc_rollup_storage.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto/Tests/Sc_rollup: simplify assert_balance_changed
  src/proto_alpha/lib_protocol/test/unit/test_sc_rollup_storage.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto/Tests/AI: use Assert.equal_tez
  src/proto_alpha/lib_protocol/test/unit/test_adaptive_issuance.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto/Tests: do not use mul_exn or div_exn
  src/proto_alpha/lib_protocol/test/helpers/liquidity_baking_machine.ml
  src/proto_alpha/lib_protocol/test/integration/consensus/test_consensus_key.ml
  src/proto_alpha/lib_protocol/test/integration/consensus/test_participation.ml
  src/proto_alpha/lib_protocol/test/integration/operations/test_paid_storage_increase.ml
  src/proto_alpha/lib_protocol/test/integration/operations/test_zk_rollup.ml
  src/proto_alpha/lib_protocol/test/integration/test_adaptive_issuance_roundtrip.ml
  src/proto_alpha/lib_protocol/test/unit/test_adaptive_issuance.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto/Tests: use /!
  src/proto_alpha/lib_protocol/test/integration/operations/test_activation.ml
  src/proto_alpha/lib_protocol/test/integration/operations/test_transfer.ml
  src/proto_alpha/lib_protocol/test/integration/test_constants.ml
  src/proto_alpha/lib_protocol/test/integration/validate/test_validation_batch.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto/Tests: remove /?
  src/proto_alpha/lib_protocol/test/helpers/test_tez.ml
  src/proto_alpha/lib_protocol/test/pbt/test_tez_repr.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto/Sampler: use fold_left_i
  src/proto_alpha/lib_protocol/sampler.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto/Uint63: definitions
  src/proto_alpha/lib_protocol/uint63.ml
  src/proto_alpha/lib_protocol/uint63.mli
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto: add Uint63
  src/proto_alpha/lib_protocol/TEZOS_PROTOCOL
  src/proto_alpha/lib_protocol/dune
  src/proto_alpha/lib_protocol/uint63.ml
  src/proto_alpha/lib_protocol/uint63.mli
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto/Amendment: rename maximum_vote into total_voting_power
  src/proto_alpha/lib_protocol/amendment.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto/Tez_repr: use Uint63
  src/proto_alpha/lib_protocol/tez_repr.ml
  src/proto_alpha/lib_protocol/tez_repr.mli
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto: change limit_of_delegation_over_baking type to Uint63
  src/proto_alpha/lib_parameters/default_parameters.ml
  src/proto_alpha/lib_protocol/alpha_context.mli
  src/proto_alpha/lib_protocol/bootstrap_storage.ml
  src/proto_alpha/lib_protocol/constants_parametric_repr.ml
  src/proto_alpha/lib_protocol/constants_parametric_repr.mli
  src/proto_alpha/lib_protocol/constants_repr.ml
  src/proto_alpha/lib_protocol/constants_storage.mli
  src/proto_alpha/lib_protocol/init_storage.ml
  src/proto_alpha/lib_protocol/raw_context.ml
  src/proto_alpha/lib_protocol/stake_context.ml
  src/proto_alpha/lib_protocol/test/integration/consensus/test_frozen_deposits.ml
  src/proto_alpha/lib_protocol/test/integration/test_adaptive_issuance_roundtrip.ml
  src/proto_alpha/lib_protocol/uint63.ml
  src/proto_alpha/lib_protocol/uint63.mli
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto: use *!?
  src/proto_alpha/lib_protocol/baking.ml
  src/proto_alpha/lib_protocol/stake_context.ml
  src/proto_alpha/lib_protocol/validate.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto/Tez_repr: add *!?
  src/proto_alpha/lib_protocol/alpha_context.mli
  src/proto_alpha/lib_protocol/tez_repr.ml
  src/proto_alpha/lib_protocol/tez_repr.mli
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto: convert origination_size to Uint63
  src/proto_alpha/lib_client/injection.ml
  src/proto_alpha/lib_parameters/default_parameters.ml
  src/proto_alpha/lib_protocol/alpha_context.mli
  src/proto_alpha/lib_protocol/constants_parametric_repr.ml
  src/proto_alpha/lib_protocol/constants_parametric_repr.mli
  src/proto_alpha/lib_protocol/constants_storage.mli
  src/proto_alpha/lib_protocol/delegate_storage.ml
  src/proto_alpha/lib_protocol/fees_storage.ml
  src/proto_alpha/lib_protocol/raw_context.ml
  src/proto_alpha/lib_protocol/test/helpers/block.mli
  src/proto_alpha/lib_protocol/test/helpers/context.mli
  src/proto_alpha/lib_protocol/test/helpers/liquidity_baking_machine.ml
  src/proto_alpha/lib_protocol/test/helpers/transfers.ml
  src/proto_alpha/lib_protocol/test/integration/consensus/test_consensus_key.ml
  src/proto_alpha/lib_protocol/test/integration/consensus/test_deactivation.ml
  src/proto_alpha/lib_protocol/test/integration/consensus/test_delegation.ml
  src/proto_alpha/lib_protocol/test/integration/consensus/test_double_attestation.ml
  src/proto_alpha/lib_protocol/test/integration/consensus/test_frozen_deposits.ml
  src/proto_alpha/lib_protocol/test/integration/operations/test_combined_operations.ml
  src/proto_alpha/lib_protocol/test/integration/operations/test_origination.ml
  src/proto_alpha/lib_protocol/uint63.ml
  src/proto_alpha/lib_protocol/uint63.mli
  src/proto_alpha/lib_protocol/validate.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto/Tests: use *!?
  src/proto_alpha/lib_protocol/test/helpers/test_tez.ml
  src/proto_alpha/lib_protocol/test/helpers/transfers.ml
  src/proto_alpha/lib_protocol/test/integration/consensus/test_deactivation.ml
  src/proto_alpha/lib_protocol/test/integration/consensus/test_delegation.ml
  src/proto_alpha/lib_protocol/test/integration/operations/test_combined_operations.ml
  src/proto_alpha/lib_protocol/test/integration/operations/test_origination.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto/Tests: add PBT for *!?
  src/proto_alpha/lib_protocol/test/pbt/test_tez_repr.ml
  src/proto_alpha/lib_protocol/uint63.ml
  src/proto_alpha/lib_protocol/uint63.mli
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto/Tez_repr: add and use *??
  src/proto_alpha/lib_protocol/alpha_context.mli
  src/proto_alpha/lib_protocol/delegate_cycles.ml
  src/proto_alpha/lib_protocol/delegate_missed_attestations_storage.ml
  src/proto_alpha/lib_protocol/delegate_rewards.ml
  src/proto_alpha/lib_protocol/tez_repr.ml
  src/proto_alpha/lib_protocol/tez_repr.mli
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto/Tests: add basic tests for *!?
  src/proto_alpha/lib_protocol/test/unit/test_tez_repr.ml
  src/proto_alpha/lib_protocol/uint63.ml
  src/proto_alpha/lib_protocol/uint63.mli
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto/Tez_repr: add /!
  src/proto_alpha/lib_protocol/alpha_context.mli
  src/proto_alpha/lib_protocol/tez_repr.ml
  src/proto_alpha/lib_protocol/tez_repr.mli
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto: use /!
  src/proto_alpha/lib_protocol/delegate_slashed_deposits_storage.ml
  src/proto_alpha/lib_protocol/delegate_storage.ml
  src/proto_alpha/lib_protocol/sc_rollup_refutation_storage.ml
  src/proto_alpha/lib_protocol/stake_context.ml
  src/proto_alpha/lib_protocol/uint63.ml
  src/proto_alpha/lib_protocol/uint63.mli
  src/proto_alpha/lib_protocol/validate.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Path conditions:
  build_get_contracts: any of: src/**/*, devtools/get_contracts/**/*
  kaitai-struct-files: any of: contrib/kaitai-struct-files/*, contrib/kaitai-struct-files/**/*
  tezos-rust-sdk: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  tezos-rust-sdk-test-codec: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  documentation:linkcheck: (any of: docs/**/*) or (any of: src/**/*)
  install_python_focal: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_jammy: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_bullseye: any of: docs/developer/install-python-debian-ubuntu.sh
  script:snapshot_alpha_and_link: any of: src/proto_alpha/**/*, scripts/snapshot_alpha_and_link.sh, scripts/snapshot_alpha.sh, scripts/user_activated_upgrade.sh
  oc.install_bin_focal: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_jammy: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_focal: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_jammy: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_fedora_37: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_fedora_37: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.compile_release_sources_bullseye: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.compile_sources_bullseye: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  test_kernels: any of: src/kernel_*/**/*, src/risc_v/**/*
  oc.test-liquidity-baking-scripts: any of: src/**/*, scripts/ci/test_liquidity_baking_scripts.sh, scripts/check-liquidity-baking-scripts.sh
  kaitai_checks: any of: src/**/*, contrib/*kaitai*/**/*, .gitlab/**/*, .gitlab-ci.yml
  oc.check_lift_limits_patch: any of: src/bin_tps_evaluation/lift_limits.patch, src/proto_alpha/lib_protocol/main.ml, .gitlab/**/*, .gitlab-ci.yml
  tezt: any of: src/**/*, test/**/*
  tezt-greedy-4k: any of: src/**/*, test/**/*
  tezt-greedy-3k: any of: src/**/*, test/**/*
  tezt:static-binaries: any of: src/**/*, test/**/*
  tezt:build-long: any of: src/**/*, tezt/**/*
  lockfile_sync_check: any of: scripts/version.sh, tezos.opam.locked
