Repository OKEAMAH/Git: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_get_contracts, kaitai-struct-files, tezos-rust-sdk, tezos-rust-sdk-test-codec, documentation:linkcheck, install_python_focal, install_python_jammy, install_python_bullseye, script:snapshot_alpha_and_link, oc.install_bin_focal, oc.install_bin_jammy, oc.install_bin_rc_focal, oc.install_bin_rc_jammy, oc.install_bin_fedora_37, oc.install_bin_rc_fedora_37, oc.compile_release_sources_bullseye, oc.compile_sources_bullseye, test_kernels, oc.test-liquidity-baking-scripts, kaitai_checks, oc.check_lift_limits_patch, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long, lockfile_sync_check

Path conditions:
  build_get_contracts: any of: src/**/*, devtools/get_contracts/**/*
  kaitai-struct-files: any of: contrib/kaitai-struct-files/*, contrib/kaitai-struct-files/**/*
  tezos-rust-sdk: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  tezos-rust-sdk-test-codec: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  documentation:linkcheck: (any of: docs/**/*) or (any of: src/**/*)
  install_python_focal: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_jammy: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_bullseye: any of: docs/developer/install-python-debian-ubuntu.sh
  script:snapshot_alpha_and_link: any of: src/proto_alpha/**/*, scripts/snapshot_alpha_and_link.sh, scripts/snapshot_alpha.sh, scripts/user_activated_upgrade.sh
  oc.install_bin_focal: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_jammy: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_focal: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_jammy: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_fedora_37: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_fedora_37: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.compile_release_sources_bullseye: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.compile_sources_bullseye: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  test_kernels: any of: src/kernel_*/**/*, src/risc_v/**/*
  oc.test-liquidity-baking-scripts: any of: src/**/*, scripts/ci/test_liquidity_baking_scripts.sh, scripts/check-liquidity-baking-scripts.sh
  kaitai_checks: any of: src/**/*, contrib/*kaitai*/**/*, .gitlab/**/*, .gitlab-ci.yml
  oc.check_lift_limits_patch: any of: src/bin_tps_evaluation/lift_limits.patch, src/proto_alpha/lib_protocol/main.ml, .gitlab/**/*, .gitlab-ci.yml
  tezt: any of: src/**/*, test/**/*
  tezt-greedy-4k: any of: src/**/*, test/**/*
  tezt-greedy-3k: any of: src/**/*, test/**/*
  tezt:static-binaries: any of: src/**/*, test/**/*
  tezt:build-long: any of: src/**/*, tezt/**/*
  lockfile_sync_check: any of: scripts/version.sh, tezos.opam.locked

CI: Link kaita client libs docker image to `tezos/tezos` CI
  .gitlab-ci.yml
  scripts/version.sh
Due: kaitai_checks, oc.check_lift_limits_patch, lockfile_sync_check

CI/kaitai: Add semantic check for generated `.ksy` files
  .gitlab/ci/jobs/test/misc_checks.yml
Due: kaitai_checks, oc.check_lift_limits_patch

Kaitai: Rename `ksc` to `kaitai-struct-compiler`
  contrib/kaitai-struct-files/kaitai_e2e.sh
Due: kaitai-struct-files, kaitai_checks

MIR: tmp: serialization experiment
  contrib/mir/src/ast/annotations.rs
  contrib/mir/src/serializer/encode.rs
Due: none

plug profiler in env
  src/lib_protocol_environment/environment_V10.ml
  src/lib_protocol_environment/environment_V11.ml
  src/lib_protocol_environment/environment_V9.ml
  src/lib_protocol_environment/environment_profiler.ml
  src/lib_protocol_environment/sigs/v10.in.ml
  src/lib_protocol_environment/sigs/v10.ml
  src/lib_protocol_environment/sigs/v10/profiler.mli
  src/lib_protocol_environment/sigs/v11.in.ml
  src/lib_protocol_environment/sigs/v11.ml
  src/lib_protocol_environment/sigs/v11/profiler.mli
  src/lib_protocol_environment/sigs/v9.in.ml
  src/lib_protocol_environment/sigs/v9.ml
  src/lib_protocol_environment/sigs/v9/profiler.mli
  src/lib_protocol_environment/tezos_protocol_environment.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Scripts: add patch that simulate an artificial signing delay using SIGN_DELAY envar
  scripts/signing-delay.patch
Due: none

plug protocol profilers
  src/proto_017_PtNairob/lib_protocol/apply.ml
  src/proto_017_PtNairob/lib_protocol/baking.ml
  src/proto_017_PtNairob/lib_protocol/delegate_cycles.ml
  src/proto_017_PtNairob/lib_protocol/script_cache.ml
  src/proto_017_PtNairob/lib_protocol/script_interpreter.ml
  src/proto_017_PtNairob/lib_protocol/script_ir_translator.ml
  src/proto_018_Proxford/lib_protocol/apply.ml
  src/proto_018_Proxford/lib_protocol/baking.ml
  src/proto_018_Proxford/lib_protocol/delegate_cycles.ml
  src/proto_018_Proxford/lib_protocol/script_cache.ml
  src/proto_018_Proxford/lib_protocol/script_interpreter.ml
  src/proto_018_Proxford/lib_protocol/script_ir_translator.ml
  src/proto_alpha/lib_protocol/apply.ml
  src/proto_alpha/lib_protocol/baking.ml
  src/proto_alpha/lib_protocol/delegate_cycles.ml
  src/proto_alpha/lib_protocol/script_cache.ml
  src/proto_alpha/lib_protocol/script_interpreter.ml
  src/proto_alpha/lib_protocol/script_ir_translator.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

introduce shell profilers
  src/bin_node/node_replay_command.ml
  src/bin_node/node_run_command.ml
  src/lib_shell/profiler_directory.ml
  src/lib_shell_services/profiler_services.ml
  src/lib_shell_services/shell_profiling.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

mempool: improve mempool profiler reports
  src/lib_shell/chain_validator.ml
  src/lib_shell/prevalidator.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

plug mempool profiler
  src/lib_shell/prevalidator.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Prevalidator: Add probs in already_handled function
  src/lib_shell/prevalidator.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

plug requester profiler
  manifest/main.ml
  opam/octez-libs.opam
  src/lib_base/index.mld
  src/lib_requester/dune
  src/lib_requester/requester.ml
  src/lib_requester/test/dune
  src/lib_shell/dune
  src/lib_shell/index.mld
  src/lib_shell/test/dune
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

plug shell profiler barrier
  src/lib_shell/chain_validator.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

plug store profiler
  src/lib_store/unix/store.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Prevalidator: Add probs in update_advertised_mempool_fields
  src/lib_shell/prevalidator.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

plug store merge profiler
  src/lib_store/unix/block_store.ml
  src/lib_store/unix/cemented_block_store.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

plug block validator profiler
  src/lib_shell/block_validator.ml
  src/lib_shell/block_validator_process.ml
  src/lib_validation/block_validation.ml
  src/lib_validation/external_validation.ml
  src/lib_validation/external_validation.mli
  src/lib_validation/external_validator.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

plug chain validator profiler
  src/lib_shell/chain_validator.ml
  src/lib_shell/peer_validator.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

plug p2p reader profiler
  src/lib_shell/p2p_reader.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

RBT: generic reset_block_section function for profilers
  src/lib_shell/block_validator.ml
  src/lib_shell_services/shell_profiling.ml
  src/lib_store/unix/store.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

RBT: use full block hash name for separation in baker_profiling.txt
  src/proto_017_PtNairob/lib_delegate/baking_scheduling.ml
  src/proto_alpha/lib_delegate/baking_scheduling.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

RBT: switch to full block hash for section in profiling report
  src/proto_017_PtNairob/lib_delegate/baking_nonces.ml
  src/proto_018_Proxford/lib_delegate/baking_nonces.ml
  src/proto_alpha/lib_delegate/baking_nonces.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

plug RPC profiler
  src/bin_node/node_run_command.ml
  src/lib_shell/chain_validator.ml
  src/lib_shell_services/shell_profiling.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

RBT: profile every calls to call_service
  manifest/main.ml
  src/lib_rpc_http/RPC_client.ml
  src/lib_rpc_http/RPC_profiler.ml
  src/lib_rpc_http/RPC_profiler.mli
  src/lib_rpc_http/dune
  src/proto_017_PtNairob/lib_delegate/client_daemon.ml
  src/proto_017_PtNairob/lib_delegate/dune
  src/proto_018_Proxford/lib_delegate/dune
  src/proto_alpha/lib_delegate/client_daemon.ml
  src/proto_alpha/lib_delegate/dune
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

plug baker profilers
  src/proto_017_PtNairob/lib_delegate/baking_actions.ml
  src/proto_017_PtNairob/lib_delegate/baking_nonces.ml
  src/proto_017_PtNairob/lib_delegate/baking_profiler.ml
  src/proto_017_PtNairob/lib_delegate/baking_scheduling.ml
  src/proto_017_PtNairob/lib_delegate/baking_simulator.ml
  src/proto_017_PtNairob/lib_delegate/baking_state.ml
  src/proto_017_PtNairob/lib_delegate/baking_state.mli
  src/proto_017_PtNairob/lib_delegate/block_forge.ml
  src/proto_017_PtNairob/lib_delegate/client_daemon.ml
  src/proto_017_PtNairob/lib_delegate/node_rpc.ml
  src/proto_017_PtNairob/lib_delegate/operation_selection.ml
  src/proto_017_PtNairob/lib_delegate/operation_worker.ml
  src/proto_017_PtNairob/lib_delegate/state_transitions.ml
  src/proto_018_Proxford/lib_delegate/baking_actions.ml
  src/proto_018_Proxford/lib_delegate/baking_nonces.ml
  src/proto_018_Proxford/lib_delegate/baking_profiler.ml
  src/proto_018_Proxford/lib_delegate/baking_scheduling.ml
  src/proto_018_Proxford/lib_delegate/baking_simulator.ml
  src/proto_018_Proxford/lib_delegate/baking_state.ml
  src/proto_018_Proxford/lib_delegate/baking_state.mli
  src/proto_018_Proxford/lib_delegate/block_forge.ml
  src/proto_018_Proxford/lib_delegate/client_daemon.ml
  src/proto_018_Proxford/lib_delegate/node_rpc.ml
  src/proto_018_Proxford/lib_delegate/operation_selection.ml
  src/proto_alpha/lib_delegate/baking_actions.ml
  src/proto_alpha/lib_delegate/baking_nonces.ml
  src/proto_alpha/lib_delegate/baking_profiler.ml
  src/proto_alpha/lib_delegate/baking_scheduling.ml
  src/proto_alpha/lib_delegate/baking_simulator.ml
  src/proto_alpha/lib_delegate/baking_state.ml
  src/proto_alpha/lib_delegate/baking_state.mli
  src/proto_alpha/lib_delegate/block_forge.ml
  src/proto_alpha/lib_delegate/client_daemon.ml
  src/proto_alpha/lib_delegate/node_rpc.ml
  src/proto_alpha/lib_delegate/operation_selection.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

add sign delay to baker sign site
  src/proto_017_PtNairob/lib_delegate/baking_actions.ml
  src/proto_018_Proxford/lib_delegate/baking_actions.ml
  src/proto_alpha/lib_delegate/baking_actions.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Profiler: add a timestamp to all toplevel record section
  src/lib_base/unix/simple_profiler.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

augment environement variable with output directory option
  src/bin_node/node_replay_command.ml
  src/bin_node/node_run_command.ml
  src/proto_017_PtNairob/lib_delegate/client_daemon.ml
  src/proto_alpha/lib_delegate/client_daemon.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

RBT: block section for merge profiler
  src/lib_store/unix/block_store.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

RBT: generic reset_block_section for baking_profiler
  src/proto_alpha/lib_delegate/baking_profiler.ml
  src/proto_alpha/lib_delegate/node_rpc.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

yes-node
  src/lib_crypto/signature_v0.ml
  src/lib_crypto/signature_v1.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Don't change max op ttl
  devtools/testnet_experiment_tools/tool_017_PtNairob.ml
  devtools/testnet_experiment_tools/tool_018_Proxford.ml
  devtools/testnet_experiment_tools/tool_alpha.ml
Due: none

[SQUASH] Ryan MR
  src/proto_017_PtNairob/lib_delegate/baking_actions.ml
  src/proto_017_PtNairob/lib_delegate/baking_actions.mli
  src/proto_017_PtNairob/lib_delegate/baking_events.ml
  src/proto_017_PtNairob/lib_delegate/baking_lib.ml
  src/proto_017_PtNairob/lib_delegate/baking_scheduling.ml
  src/proto_017_PtNairob/lib_delegate/baking_state.ml
  src/proto_017_PtNairob/lib_delegate/baking_state.mli
  src/proto_017_PtNairob/lib_delegate/state_transitions.ml
  src/proto_alpha/lib_delegate/baking_actions.ml
  src/proto_alpha/lib_delegate/baking_actions.mli
  src/proto_alpha/lib_delegate/baking_events.ml
  src/proto_alpha/lib_delegate/baking_lib.ml
  src/proto_alpha/lib_delegate/baking_scheduling.ml
  src/proto_alpha/lib_delegate/baking_state.ml
  src/proto_alpha/lib_delegate/baking_state.mli
  src/proto_alpha/lib_delegate/state_transitions.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

refactor mempool probes
  src/lib_shell/prevalidator.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

expand advertised mempool names
  src/lib_shell/prevalidator.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

record monitor operation first call
  src/lib_shell/prevalidator.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

make each worker request pause
  src/lib_shell/prevalidator.ml
  src/lib_workers/worker.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

improve fold validated hashes
  src/lib_shell/prevalidator.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

priority prevalidator
  src/lib_shell/prevalidation.ml
  src/lib_shell/prevalidation.mli
  src/lib_shell/prevalidator.ml
  src/lib_shell/prevalidator_pending_operations.ml
  src/lib_shell/prevalidator_pending_operations.mli
  src/lib_shell/test/generators.ml
  src/lib_shell/test/test_prevalidator_pending_operations.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

do not handle unprocessed on inject
  src/lib_shell/prevalidator.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long
