Repository OKEAMAH/Git: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_get_contracts, kaitai-struct-files, tezos-rust-sdk, tezos-rust-sdk-test-codec, documentation:linkcheck, install_python_focal, install_python_jammy, install_python_bullseye, script:snapshot_alpha_and_link, oc.install_bin_focal, oc.install_bin_jammy, oc.install_bin_rc_focal, oc.install_bin_rc_jammy, oc.install_bin_fedora_37, oc.install_bin_rc_fedora_37, oc.compile_release_sources_bullseye, oc.compile_sources_bullseye, test_kernels, oc.test-liquidity-baking-scripts, kaitai_checks, oc.check_lift_limits_patch, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long, lockfile_sync_check

build_get_contracts:
  script:
  - dune build @devtools/get_contracts/check

kaitai-struct-files:
  stage: client-libs
  needs:
  - trigger
  image: ubuntu:latest
  script:
  - apt update && apt install -y nix-bin make git
  - nix-channel --add https://nixos.org/channels/nixpkgs-unstable nixpkgs
  - nix-channel --update
  ...

tezos-rust-sdk:
  stage: client-libs
  needs:
  - trigger
  image: rust:1.66.0
  script:
  - apt-get update -qy && apt-get install -y openssl libssl-dev clang
  - rustup update
  - rustup component add rustfmt clippy
  - cd contrib/tezos-rust-sdk
  - cargo check --locked
  - cargo build --release
  - cargo test
  - cargo fmt -- --check

tezos-rust-sdk-test-codec:
  stage: client-libs
  needs:
  - trigger
  image: registry.gitlab.com/tezos/opam-repository:runtime-build-dependencies--2703ff3a4dbbfa575a7a3d6dc2fff2a4b23c2045
  script:
  - cd contrib/tezos-rust-sdk/codec
  - cargo build
  - cd ../../..
  - make octez-codec
  - cd contrib/tezos-rust-sdk
  - bash codec/tests/test.bash

documentation:linkcheck:
  stage: doc
  needs: []
  before_script:
  - . ./scripts/version.sh
  - . $HOME/.venv/bin/activate
  script:
  - make all
  - make -C docs redirectcheck
  - make -C docs linkcheck
  allow_failure: true

install_python_focal:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

install_python_jammy:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

install_python_bullseye:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

script:snapshot_alpha_and_link:
  stage: test
  before_script:
  - . ./scripts/version.sh
  needs:
  - build_x86_64-released
  - build_x86_64-exp-dev-extra
  script:
  - ./.gitlab/ci/jobs/test/script:snapshot_alpha_and_link.sh

oc.install_bin_focal:
  stage: test
  needs:
  - trigger
  script:
  - ./docs/introduction/install-bin-ubuntu.sh
  image: public.ecr.aws/lts/ubuntu:20.04_stable

oc.install_bin_jammy:
  stage: test
  needs:
  - trigger
  script:
  - ./docs/introduction/install-bin-ubuntu.sh
  image: public.ecr.aws/lts/ubuntu:22.04_stable

oc.install_bin_rc_focal:
  stage: test
  needs:
  - trigger
  script:
  - ./docs/introduction/install-bin-ubuntu.sh rc
  image: public.ecr.aws/lts/ubuntu:20.04_stable

oc.install_bin_rc_jammy:
  stage: test
  needs:
  - trigger
  script:
  - ./docs/introduction/install-bin-ubuntu.sh rc
  image: public.ecr.aws/lts/ubuntu:22.04_stable

MIR: add public key value
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/comparable.rs
  contrib/mir/src/ast/michelson_key.rs
  contrib/mir/src/gas.rs
  contrib/mir/src/typechecker.rs
Due: none

MIR: add key type
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/micheline.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/typechecker.rs
  contrib/mir/src/typechecker/type_props.rs
Due: none

MIR: add signature value
  contrib/mir/Cargo.lock
  contrib/mir/Cargo.toml
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/comparable.rs
  contrib/mir/src/ast/michelson_signature.rs
  contrib/mir/src/gas.rs
  contrib/mir/src/typechecker.rs
Due: none

MIR: add signature type
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/micheline.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/typechecker.rs
  contrib/mir/src/typechecker/type_props.rs
Due: none

MIR: add CHECK_SIGNATURE instruction
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/micheline.rs
  contrib/mir/src/gas.rs
  contrib/mir/src/interpreter.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/typechecker.rs
Due: none

MIR: Add Eq and LE instructions
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/micheline.rs
  contrib/mir/src/gas.rs
  contrib/mir/src/interpreter.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/parser.rs
  contrib/mir/src/typechecker.rs
Due: none

MIR: Refactor lexer to prepare for adding a token for Macros
  contrib/mir/src/lexer.rs
  contrib/mir/src/syntax.lalrpop
Due: none

MIR: Move lexer errors to submodule
  contrib/mir/src/lexer.rs
  contrib/mir/src/lexer/errors.rs
Due: none

WIP
  src/lib_smart_rollup_node/context.ml
  src/lib_smart_rollup_node/context.mli
  src/lib_smart_rollup_node/interpreter.ml
  src/lib_smart_rollup_node/interpreter.mli
  src/lib_smart_rollup_node/irmin_context.ml
  src/lib_smart_rollup_node/irmin_context.mli
  src/lib_smart_rollup_node/node_context.ml
  src/lib_smart_rollup_node/node_context.mli
  src/lib_smart_rollup_node/outbox_execution.mli
  src/lib_smart_rollup_node/protocol_plugin_sig.ml
  src/lib_smart_rollup_node/protocol_plugins.ml
  src/lib_smart_rollup_node/protocol_plugins.mli
  src/lib_smart_rollup_node/publisher.ml
  src/lib_smart_rollup_node/publisher.mli
  src/lib_smart_rollup_node/pvm_plugin_sig.ml
  src/lib_smart_rollup_node/refutation_coordinator.mli
  src/lib_smart_rollup_node/refutation_game.mli
  src/lib_smart_rollup_node/refutation_player.ml
  src/lib_smart_rollup_node/refutation_player.mli
  src/lib_smart_rollup_node/rpc_directory.mli
  src/lib_smart_rollup_node/wasm_2_0_0_dump.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

WIP
  src/lib_smart_rollup_node/batcher.ml
  src/lib_smart_rollup_node/batcher.mli
  src/lib_smart_rollup_node/block_directory_helpers.ml
  src/lib_smart_rollup_node/block_directory_helpers.mli
  src/lib_smart_rollup_node/context.ml
  src/lib_smart_rollup_node/context.mli
  src/lib_smart_rollup_node/interpreter.ml
  src/lib_smart_rollup_node/interpreter.mli
  src/lib_smart_rollup_node/node_context.mli
  src/lib_smart_rollup_node/node_context_types.ml
  src/lib_smart_rollup_node/outbox_execution.ml
  src/lib_smart_rollup_node/outbox_execution.mli
  src/lib_smart_rollup_node/protocol_plugin_sig.ml
  src/lib_smart_rollup_node/publisher.ml
  src/lib_smart_rollup_node/publisher.mli
  src/lib_smart_rollup_node/pvm_plugin_sig.ml
  src/lib_smart_rollup_node/refutation_coordinator.ml
  src/lib_smart_rollup_node/refutation_coordinator.mli
  src/lib_smart_rollup_node/refutation_game.ml
  src/lib_smart_rollup_node/refutation_game.mli
  src/lib_smart_rollup_node/refutation_player.ml
  src/lib_smart_rollup_node/refutation_player.mli
  src/lib_smart_rollup_node/rollup_node_daemon.ml
  src/lib_smart_rollup_node/rpc_directory.ml
  src/lib_smart_rollup_node/rpc_directory.mli
  src/lib_smart_rollup_node/simulation.ml
  src/lib_smart_rollup_node/simulation.mli
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Client-libs: support for string_enum
  contrib/lib_kaitai_of_data_encoding/ground.mli
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_string_enum.ml
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: kaitai_checks

Clent-libs: expose bug with empty redirection
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_objs.ml
Due: kaitai_checks

Client-libs: sort enums
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: kaitai_checks

Client-libs: fix redirection of empty attrs list
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_objs.ml
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: kaitai_checks

Client-libs: smaller ident
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_mu.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_unions.ml
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: kaitai_checks

Client-libs: sort enums - regenerate
  contrib/kaitai-struct-files/alpha__block_header.ksy
  contrib/kaitai-struct-files/alpha__block_header__contents.ksy
  contrib/kaitai-struct-files/alpha__block_header__protocol_data.ksy
  contrib/kaitai-struct-files/alpha__block_header__unsigned.ksy
  contrib/kaitai-struct-files/alpha__fitness.ksy
  contrib/kaitai-struct-files/id_009__psfloren__operation.ksy
  contrib/kaitai-struct-files/id_009__psfloren__operation__contents.ksy
  contrib/kaitai-struct-files/id_009__psfloren__operation__contents_list.ksy
  contrib/kaitai-struct-files/id_009__psfloren__operation__protocol_data.ksy
  contrib/kaitai-struct-files/id_009__psfloren__operation__unsigned.ksy
  contrib/kaitai-struct-files/id_010__ptgranad__operation.ksy
  contrib/kaitai-struct-files/id_010__ptgranad__operation__contents.ksy
  contrib/kaitai-struct-files/id_010__ptgranad__operation__contents_list.ksy
  contrib/kaitai-struct-files/id_010__ptgranad__operation__protocol_data.ksy
  contrib/kaitai-struct-files/id_010__ptgranad__operation__unsigned.ksy
  contrib/kaitai-struct-files/id_011__pthangz2__operation.ksy
  contrib/kaitai-struct-files/id_011__pthangz2__operation__contents.ksy
  contrib/kaitai-struct-files/id_011__pthangz2__operation__contents_list.ksy
  contrib/kaitai-struct-files/id_011__pthangz2__operation__protocol_data.ksy
  contrib/kaitai-struct-files/id_011__pthangz2__operation__unsigned.ksy
  contrib/kaitai-struct-files/id_012__psithaca__fitness.ksy
  contrib/kaitai-struct-files/id_013__ptjakart__fitness.ksy
  contrib/kaitai-struct-files/id_014__ptkathma__fitness.ksy
  contrib/kaitai-struct-files/id_015__ptlimapt__fitness.ksy
  contrib/kaitai-struct-files/id_016__ptmumbai__fitness.ksy
  contrib/kaitai-struct-files/id_017__ptnairob__fitness.ksy
  contrib/kaitai-struct-files/id_018__proxford__block_header.ksy
  contrib/kaitai-struct-files/id_018__proxford__block_header__contents.ksy
  contrib/kaitai-struct-files/id_018__proxford__block_header__protocol_data.ksy
  contrib/kaitai-struct-files/id_018__proxford__block_header__unsigned.ksy
  contrib/kaitai-struct-files/id_018__proxford__fitness.ksy
Due: kaitai-struct-files, kaitai_checks

Client-libs: sort enums and types
  contrib/bin_codec_kaitai/kaitai.t
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_ground_types.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_mu.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_objs.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_tuples.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_unions.ml
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: kaitai_checks

Client-libs: better documentation
  contrib/bin_codec_kaitai/kaitai.t
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_ground_types.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_list.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_mu.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_objs.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_padded.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_ranges.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_string_enum.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_tuples.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_unions.ml
  contrib/lib_kaitai_of_data_encoding/translate.ml
  contrib/lib_kaitai_of_data_encoding/translate.mli
Due: kaitai_checks

Client-libs: allocate uniq names
  contrib/kaitai-ocaml/src/parse.ml
  contrib/lib_kaitai_of_data_encoding/ground.ml
  contrib/lib_kaitai_of_data_encoding/helpers.ml
  contrib/lib_kaitai_of_data_encoding/helpers.mli
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_duplicate_types.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_list.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_mu.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_tuples.ml
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: kaitai_checks

Client-libs: share kaitai spec
  contrib/bin_codec_kaitai/commands.ml
  contrib/lib_kaitai_of_data_encoding/translate.ml
  contrib/lib_kaitai_of_data_encoding/translate.mli
Due: kaitai_checks

Client-libs: make sure our kaitai spec round-trip
  contrib/kaitai-ocaml/src/parse.ml
  contrib/kaitai-ocaml/src/print.ml
  contrib/kaitai-ocaml/src/types.ml
  contrib/kaitai-ocaml/src/types.mli
  contrib/lib_kaitai_of_data_encoding/helpers.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_ranges.ml
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: kaitai_checks

Client-libs: follow kaitai linting rules
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_list.ml
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: kaitai_checks

Client-libs: validate the len of dynamic_size node
  contrib/lib_kaitai_of_data_encoding/helpers.ml
  contrib/lib_kaitai_of_data_encoding/helpers.mli
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_list.ml
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: kaitai_checks

Client-libs: alias some basic types
  contrib/bin_codec_kaitai/kaitai.t
  contrib/lib_kaitai_of_data_encoding/ground.ml
  contrib/lib_kaitai_of_data_encoding/ground.mli
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_duplicate_types.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_ground_types.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_list.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_mu.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_objs.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_ranges.ml
  contrib/lib_kaitai_of_data_encoding/test/test_translation_of_unions.ml
  contrib/lib_kaitai_of_data_encoding/translate.ml
Due: kaitai_checks

chain_directory: split rpc_directory functions
  src/lib_shell/chain_directory.ml
  src/lib_shell/chain_directory.mli
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

block_directory: split to separate directory using validator
  src/lib_shell/block_directory.ml
  src/lib_shell/block_directory.mli
  src/lib_shell/chain_directory.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

lib_rpc_http: expose RetryClient to enable overwriting
  src/lib_rpc_http/RPC_client_unix.ml
  src/lib_rpc_http/RPC_client_unix.mli
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

fixup: octez-rpc-directory: more process parameters
  src/lib_rpc_process/parameters.ml
  src/lib_rpc_process/parameters.mli
  src/lib_rpc_process/rpc_process_worker.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

octez-rpc-server: start a daemon monitoring heads
  manifest/main.ml
  src/lib_rpc_process/directory.ml
  src/lib_rpc_process/dune
  src/lib_rpc_process/forward_handler.mli
  src/lib_rpc_process/head_daemon.ml
  src/lib_rpc_process/main.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

octez-rpc-directory: more process parameters
  src/lib_rpc_process/parameters.ml
  src/lib_rpc_process/parameters.mli
  src/lib_rpc_process/rpc_process_worker.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Rpc_process: improve new_head event
  src/lib_rpc_process/head_daemon.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Path conditions:
  build_get_contracts: any of: src/**/*, devtools/get_contracts/**/*
  kaitai-struct-files: any of: contrib/kaitai-struct-files/*, contrib/kaitai-struct-files/**/*
  tezos-rust-sdk: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  tezos-rust-sdk-test-codec: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  documentation:linkcheck: (any of: docs/**/*) or (any of: src/**/*)
  install_python_focal: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_jammy: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_bullseye: any of: docs/developer/install-python-debian-ubuntu.sh
  script:snapshot_alpha_and_link: any of: src/proto_alpha/**/*, scripts/snapshot_alpha_and_link.sh, scripts/snapshot_alpha.sh, scripts/user_activated_upgrade.sh
  oc.install_bin_focal: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_jammy: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_focal: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_jammy: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_fedora_37: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_fedora_37: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.compile_release_sources_bullseye: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.compile_sources_bullseye: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  test_kernels: any of: src/kernel_*/**/*, src/risc_v/**/*
  oc.test-liquidity-baking-scripts: any of: src/**/*, scripts/ci/test_liquidity_baking_scripts.sh, scripts/check-liquidity-baking-scripts.sh
  kaitai_checks: any of: src/**/*, contrib/*kaitai*/**/*, .gitlab/**/*, .gitlab-ci.yml
  oc.check_lift_limits_patch: any of: src/bin_tps_evaluation/lift_limits.patch, src/proto_alpha/lib_protocol/main.ml, .gitlab/**/*, .gitlab-ci.yml
  tezt: any of: src/**/*, test/**/*
  tezt-greedy-4k: any of: src/**/*, test/**/*
  tezt-greedy-3k: any of: src/**/*, test/**/*
  tezt:static-binaries: any of: src/**/*, test/**/*
  tezt:build-long: any of: src/**/*, tezt/**/*
  lockfile_sync_check: any of: scripts/version.sh, tezos.opam.locked
