Repository OKEAMAH/Git: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_get_contracts, kaitai-struct-files, tezos-rust-sdk, tezos-rust-sdk-test-codec, documentation:linkcheck, install_python_focal, install_python_jammy, install_python_bullseye, script:snapshot_alpha_and_link, oc.install_bin_focal, oc.install_bin_jammy, oc.install_bin_rc_focal, oc.install_bin_rc_jammy, oc.install_bin_fedora_37, oc.install_bin_rc_fedora_37, oc.compile_release_sources_bullseye, oc.compile_sources_bullseye, test_kernels, test-liquidity-baking-scripts, check_lift_limits_patch, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long, lockfile_sync_check

build_get_contracts:
  script:
  - dune build @devtools/get_contracts/check

kaitai-struct-files:
  stage: client-libs
  needs:
  - trigger
  image: ubuntu:latest
  script:
  - apt update && apt install -y nix-bin make git
  - nix-channel --add https://nixos.org/channels/nixpkgs-unstable nixpkgs
  - nix-channel --update
  ...

tezos-rust-sdk:
  stage: client-libs
  needs:
  - trigger
  image: rust:1.66.0
  script:
  - apt-get update -qy && apt-get install -y openssl libssl-dev clang
  - rustup update
  - rustup component add rustfmt clippy
  - cd contrib/tezos-rust-sdk
  - cargo check --locked
  - cargo build --release
  - cargo test
  - cargo fmt -- --check

tezos-rust-sdk-test-codec:
  stage: client-libs
  needs:
  - trigger
  image: registry.gitlab.com/tezos/opam-repository:runtime-build-dependencies--2703ff3a4dbbfa575a7a3d6dc2fff2a4b23c2045
  script:
  - cd contrib/tezos-rust-sdk/codec
  - cargo build
  - cd ../../..
  - make octez-codec
  - cd contrib/tezos-rust-sdk
  - bash codec/tests/test.bash

documentation:linkcheck:
  stage: doc
  needs: []
  before_script:
  - . ./scripts/version.sh
  - . $HOME/.venv/bin/activate
  script:
  - make all
  - make -C docs redirectcheck
  - make -C docs linkcheck
  allow_failure: true

install_python_focal:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

install_python_jammy:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

install_python_bullseye:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

script:snapshot_alpha_and_link:
  stage: test
  before_script:
  - . ./scripts/version.sh
  needs:
  - build_x86_64-released
  - build_x86_64-exp-dev-extra
  script:
  - ./.gitlab/ci/jobs/test/script:snapshot_alpha_and_link.sh

oc.install_bin_focal:
  stage: test
  needs:
  - trigger
  script:
  - ./docs/introduction/install-bin-ubuntu.sh
  image: public.ecr.aws/lts/ubuntu:20.04_stable

oc.install_bin_jammy:
  stage: test
  needs:
  - trigger
  script:
  - ./docs/introduction/install-bin-ubuntu.sh
  image: public.ecr.aws/lts/ubuntu:22.04_stable

oc.install_bin_rc_focal:
  stage: test
  needs:
  - trigger
  script:
  - ./docs/introduction/install-bin-ubuntu.sh rc
  image: public.ecr.aws/lts/ubuntu:20.04_stable

oc.install_bin_rc_jammy:
  stage: test
  needs:
  - trigger
  script:
  - ./docs/introduction/install-bin-ubuntu.sh rc
  image: public.ecr.aws/lts/ubuntu:22.04_stable

MIR: remove now-redundant staging from Instruction
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/overloads.rs
  contrib/mir/src/ast/typechecked.rs
  contrib/mir/src/interpreter.rs
  contrib/mir/src/typechecker.rs
Due: none

MIR: remove now-redundant Value type
  contrib/mir/src/ast.rs
Due: none

MIR: add a dedicated type for annotations
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/annotations.rs
  contrib/mir/src/ast/micheline.rs
  contrib/mir/src/interpreter.rs
  contrib/mir/src/syntax.lalrpop
  contrib/mir/src/typechecker.rs
Due: none

MIR: lex annotations
  contrib/mir/src/ast/micheline.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/parser.rs
  contrib/mir/src/syntax.lalrpop
  contrib/mir/src/tzt.rs
  contrib/mir/tzt_runner/main.rs
Due: none

MIR: parse annotations
  contrib/mir/src/parser.rs
  contrib/mir/src/syntax.lalrpop
Due: none

MIR: implement entrypoints for SELF
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/annotations.rs
  contrib/mir/src/ast/michelson_address/entrypoint.rs
  contrib/mir/src/interpreter.rs
  contrib/mir/src/typechecker.rs
  contrib/mir/src/tzt.rs
Due: none

MIR: add bytes type
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/micheline.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/typechecker.rs
  contrib/mir/src/typechecker/type_props.rs
Due: none

MIR: Add bytes value
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/comparable.rs
  contrib/mir/src/gas.rs
  contrib/mir/src/typechecker.rs
Due: none

MIR: add key type
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/micheline.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/typechecker.rs
  contrib/mir/src/typechecker/type_props.rs
Due: none

MIR: add public key value
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/comparable.rs
  contrib/mir/src/ast/michelson_key.rs
  contrib/mir/src/gas.rs
  contrib/mir/src/typechecker.rs
Due: none

MIR: add signature type
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/micheline.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/typechecker.rs
  contrib/mir/src/typechecker/type_props.rs
Due: none

MIR: add signature value
  contrib/mir/Cargo.lock
  contrib/mir/Cargo.toml
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/comparable.rs
  contrib/mir/src/ast/michelson_signature.rs
  contrib/mir/src/gas.rs
  contrib/mir/src/typechecker.rs
Due: none

MIR: add CHECK_SIGNATURE instruction
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/micheline.rs
  contrib/mir/src/gas.rs
  contrib/mir/src/interpreter.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/typechecker.rs
Due: none

MIR: add Micheline seq smart constructor
  contrib/mir/src/ast/micheline.rs
Due: none

MIR: add lambda type
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/micheline.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/typechecker.rs
  contrib/mir/src/typechecker/type_props.rs
Due: none

MIR: add lambda values (no untyping yet)
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/comparable.rs
  contrib/mir/src/ast/micheline.rs
  contrib/mir/src/ast/michelson_lambda.rs
  contrib/mir/src/gas.rs
  contrib/mir/src/lexer.rs
Due: none

MIR: untype lambdas
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/comparable.rs
  contrib/mir/src/ast/michelson_lambda.rs
  contrib/mir/src/interpreter.rs
  contrib/mir/src/lib.rs
  contrib/mir/src/stack.rs
  contrib/mir/src/typechecker.rs
  contrib/mir/src/tzt.rs
  contrib/mir/src/tzt/expectation.rs
Due: none

DNM: Using external hermit-entry crate
  src/risc_v/sandbox/Cargo.lock
  src/risc_v/sandbox/Cargo.toml
  src/risc_v/sandbox/src/input.rs
  src/risc_v/sandbox/src/syscall.rs
Due: build_get_contracts, documentation:linkcheck, test_kernels, test-liquidity-baking-scripts, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

MIR: typecheck lambda values
  contrib/mir/src/typechecker.rs
Due: none

Scripts, packages: Fix smartrollup dependies from node to client
  scripts/dpkg/smartrollup-control.in
  scripts/rpm/smartrollup-spec.in
Due: none

Scripts, Packages: Add nodeaddr variable for smartrollup
  scripts/pkg-common/smartrollup.conf
  scripts/pkg-common/smartrollup.initd.in
Due: none

Scripts, Packages: Remove protocol from smartrollup config
  scripts/pkg-common/smartrollup.conf
  scripts/pkg-common/smartrollup.initd.in
Due: none

Proto: change preserved cycles to 4
  src/proto_alpha/lib_parameters/default_parameters.ml
  src/proto_alpha/lib_protocol/raw_context.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, test-liquidity-baking-scripts, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

MIR: LAMBDA and LAMBDA_REC instructions
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/micheline.rs
  contrib/mir/src/gas.rs
  contrib/mir/src/interpreter.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/typechecker.rs
Due: none

Proto: update vanity nonce
  src/proto_alpha/lib_protocol/main.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, test-liquidity-baking-scripts, check_lift_limits_patch, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

fixup
  .gitlab/ci/jobs/doc/linkcheck.yml
  .gitlab/ci/jobs/test/liquidity_baking_scripts-integrity.yml
  .gitlab/ci/jobs/test/tezt.yml
Due: none

fixup
  .gitlab/ci/jobs/doc/linkcheck.yml
Due: none

CI: have changes: depend on .gitlab*
  .gitlab/ci/jobs/shared/templates.yml
Due: none

CI: have all the changes: depend on .gitlab*
  .gitlab/ci/jobs/build/arm64.yml
  .gitlab/ci/jobs/build/get_contracts.yml
  .gitlab/ci/jobs/coverage/coverage.yml
  .gitlab/ci/jobs/doc/linkcheck.yml
  .gitlab/ci/jobs/doc/test_install_python.yml
  .gitlab/ci/jobs/packaging/opam_package.yml
  .gitlab/ci/jobs/sanity/docker_hadolint.yml
  .gitlab/ci/jobs/test/check_precommit_hook.yml
  .gitlab/ci/jobs/test/check_scripts.yml
  .gitlab/ci/jobs/test/install_octez.yml
  .gitlab/ci/jobs/test/kernels.yml
  .gitlab/ci/jobs/test/liquidity_baking_scripts-integrity.yml
  .gitlab/ci/jobs/test/misc_checks.yml
  .gitlab/ci/jobs/test/semgrep.yml
  .gitlab/ci/jobs/test/tezt.yml
  .gitlab/ci/jobs/test/tezt_build_long.yml
Due: none

MIR: generalize `interpret` signature a bit
  contrib/mir/src/interpreter.rs
Due: none

DAL/Node: rephrase service description
  src/lib_dal_node_services/services.ml
Due: build_get_contracts, documentation:linkcheck, test-liquidity-baking-scripts, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

DAL: rename Tezos_gossipsub to Gossipsub_automaton
  src/lib_dal_node/gossipsub/gs_interface.ml
  src/lib_gossipsub/gossipsub_automaton.ml
  src/lib_gossipsub/gossipsub_automaton.mli
  src/lib_gossipsub/test/test_gossipsub_shared.ml
Due: build_get_contracts, documentation:linkcheck, test-liquidity-baking-scripts, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

DAL/Gossipsub: do not use px for peer
  src/lib_dal_node/gossipsub/gs_transport_connection.ml
  src/lib_gossipsub/gossipsub_intf.ml
  src/lib_gossipsub/gossipsub_worker.ml
Due: build_get_contracts, documentation:linkcheck, test-liquidity-baking-scripts, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

EVM/Kernel: support fetching a sequencer blueprint
  src/kernel_evm/kernel/src/blueprint.rs
  src/kernel_evm/kernel/src/lib.rs
  src/kernel_evm/kernel/src/sequencer_blueprint.rs
Due: build_get_contracts, documentation:linkcheck, test_kernels, test-liquidity-baking-scripts, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

tezt: inject a lot of message to make the event failing
  tezt/tests/sc_rollup.ml
Due: tezt:build-long

EVM/Kernel: decode multiple sequencer blueprints
  src/kernel_evm/kernel/src/sequencer_blueprint.rs
Due: build_get_contracts, documentation:linkcheck, test_kernels, test-liquidity-baking-scripts, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

EVM/Kernel: add roundtrip test for seq blueprint encoding
  src/kernel_evm/kernel/src/sequencer_blueprint.rs
Due: build_get_contracts, documentation:linkcheck, test_kernels, test-liquidity-baking-scripts, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

MIR: Add EXEC instruction
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/micheline.rs
  contrib/mir/src/ast/michelson_lambda.rs
  contrib/mir/src/gas.rs
  contrib/mir/src/interpreter.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/typechecker.rs
Due: none

MIR: type unparsing
  contrib/mir/src/ast.rs
Due: none

MIR: trait for conversion to Micheline
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/micheline.rs
  contrib/mir/src/tzt/expectation.rs
Due: none

Path conditions:
  build_get_contracts: any of: src/**/*, devtools/get_contracts/**/*
  kaitai-struct-files: any of: contrib/kaitai-struct-files/*, contrib/kaitai-struct-files/**/*
  tezos-rust-sdk: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  tezos-rust-sdk-test-codec: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  documentation:linkcheck: (any of: docs/**/*) or (any of: src/**/*)
  install_python_focal: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_jammy: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_bullseye: any of: docs/developer/install-python-debian-ubuntu.sh
  script:snapshot_alpha_and_link: any of: src/proto_alpha/**/*, scripts/snapshot_alpha_and_link.sh, scripts/snapshot_alpha.sh, scripts/user_activated_upgrade.sh
  oc.install_bin_focal: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_jammy: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_focal: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_jammy: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_fedora_37: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_fedora_37: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.compile_release_sources_bullseye: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.compile_sources_bullseye: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  test_kernels: any of: src/kernel_*/**/*, src/risc_v/**/*
  test-liquidity-baking-scripts: any of: src/**/*, scripts/ci/test_liquidity_baking_scripts.sh
  check_lift_limits_patch: any of: src/bin_tps_evaluation/lift_limits.patch, src/proto_alpha/lib_protocol/main.ml
  tezt: any of: src/**/*, test/**/*
  tezt-greedy-4k: any of: src/**/*, test/**/*
  tezt-greedy-3k: any of: src/**/*, test/**/*
  tezt:static-binaries: any of: src/**/*, test/**/*
  tezt:build-long: any of: src/**/*, tezt/**/*
  lockfile_sync_check: any of: scripts/version.sh, tezos.opam.locked
