Repository OKEAMAH/Git: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_get_contracts, kaitai-struct-files, tezos-rust-sdk, tezos-rust-sdk-test-codec, documentation:linkcheck, install_python_focal, install_python_jammy, install_python_bullseye, script:snapshot_alpha_and_link, oc.install_bin_focal, oc.install_bin_jammy, oc.install_bin_rc_focal, oc.install_bin_rc_jammy, oc.install_bin_fedora_37, oc.install_bin_rc_fedora_37, oc.compile_release_sources_bullseye, oc.compile_sources_bullseye, test_kernels, oc.test-liquidity-baking-scripts, kaitai_checks, oc.check_lift_limits_patch, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long, lockfile_sync_check

build_get_contracts:
  script:
  - dune build @devtools/get_contracts/check

kaitai-struct-files:
  stage: client-libs
  needs:
  - trigger
  image: ubuntu:latest
  script:
  - apt update && apt install -y nix-bin make git
  - nix-channel --add https://nixos.org/channels/nixpkgs-unstable nixpkgs
  - nix-channel --update
  ...

tezos-rust-sdk:
  stage: client-libs
  needs:
  - trigger
  image: rust:1.66.0
  script:
  - apt-get update -qy && apt-get install -y openssl libssl-dev clang
  - rustup update
  - rustup component add rustfmt clippy
  - cd contrib/tezos-rust-sdk
  - cargo check --locked
  - cargo build --release
  - cargo test
  - cargo fmt -- --check

tezos-rust-sdk-test-codec:
  stage: client-libs
  needs:
  - trigger
  image: registry.gitlab.com/tezos/opam-repository:runtime-build-dependencies--2703ff3a4dbbfa575a7a3d6dc2fff2a4b23c2045
  script:
  - cd contrib/tezos-rust-sdk/codec
  - cargo build
  - cd ../../..
  - make octez-codec
  - cd contrib/tezos-rust-sdk
  - bash codec/tests/test.bash

documentation:linkcheck:
  stage: doc
  needs: []
  before_script:
  - . ./scripts/version.sh
  - . $HOME/.venv/bin/activate
  script:
  - make all
  - make -C docs redirectcheck
  - make -C docs linkcheck
  allow_failure: true

install_python_focal:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

install_python_jammy:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

install_python_bullseye:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

script:snapshot_alpha_and_link:
  stage: test
  before_script:
  - . ./scripts/version.sh
  needs:
  - build_x86_64-released
  - build_x86_64-exp-dev-extra
  script:
  - ./.gitlab/ci/jobs/test/script:snapshot_alpha_and_link.sh

oc.install_bin_focal:
  stage: test
  needs:
  - trigger
  script:
  - ./docs/introduction/install-bin-ubuntu.sh
  image: public.ecr.aws/lts/ubuntu:20.04_stable

oc.install_bin_jammy:
  stage: test
  needs:
  - trigger
  script:
  - ./docs/introduction/install-bin-ubuntu.sh
  image: public.ecr.aws/lts/ubuntu:22.04_stable

oc.install_bin_rc_focal:
  stage: test
  needs:
  - trigger
  script:
  - ./docs/introduction/install-bin-ubuntu.sh rc
  image: public.ecr.aws/lts/ubuntu:20.04_stable

oc.install_bin_rc_jammy:
  stage: test
  needs:
  - trigger
  script:
  - ./docs/introduction/install-bin-ubuntu.sh rc
  image: public.ecr.aws/lts/ubuntu:22.04_stable

Tezt: update regression tests outputs
  tezt/tests/expected/RPC_test.ml/Alpha- (mode client) RPC regression tests- misc_protocol.out
  tezt/tests/expected/RPC_test.ml/Alpha- (mode light) RPC regression tests- misc_protocol.out
  tezt/tests/expected/RPC_test.ml/Alpha- (mode proxy) RPC regression tests- misc_protocol.out
  tezt/tests/expected/RPC_test.ml/Alpha- (mode proxy_server_data_dir) RPC regression tests- misc_protocol.out
  tezt/tests/expected/RPC_test.ml/Alpha- (mode proxy_server_rpc) RPC regression tests- misc_protocol.out
Due: tezt:build-long

suppress
  scripts/pkg-common/node.initd.in
Due: none

MIR: Add TRANSFER_TOKENS and SET_DELEGATE instrs
  contrib/mir/src/ast.rs
  contrib/mir/src/ast/comparable.rs
  contrib/mir/src/ast/micheline.rs
  contrib/mir/src/context.rs
  contrib/mir/src/gas.rs
  contrib/mir/src/interpreter.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/typechecker.rs
  contrib/mir/src/tzt.rs
Due: none

MIR: Make untyping failable
  contrib/mir/src/ast.rs
  contrib/mir/src/tzt.rs
  contrib/mir/src/tzt/expectation.rs
Due: none

MIR: Update context to include counter
  contrib/mir/src/ast.rs
  contrib/mir/src/context.rs
  contrib/mir/src/interpreter.rs
  contrib/mir/src/tzt.rs
Due: none

MIR: Add an explicit test for operation counter
  contrib/mir/src/interpreter.rs
Due: none

MIR: Update contract-script to return ops
  contrib/mir/src/interpreter.rs
Due: none

CI: allow to enable merge trains
  .gitlab-ci.yml
  .gitlab/ci/pipelines/phony.yml
Due: kaitai_checks, oc.check_lift_limits_patch

detached
  .gitlab-ci.yml
Due: kaitai_checks, oc.check_lift_limits_patch

EVM/Eval: parse indexes in fillers
  src/kernel_evm/Cargo.lock
  src/kernel_evm/evm_evaluation/Cargo.toml
  src/kernel_evm/evm_evaluation/src/models/deserializer.rs
  src/kernel_evm/evm_evaluation/src/models/mod.rs
Due: build_get_contracts, documentation:linkcheck, test_kernels, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

EVM/Eval: support multi-tests
  src/kernel_evm/evm_evaluation/src/fillers.rs
  src/kernel_evm/evm_evaluation/src/models/mod.rs
  src/kernel_evm/evm_evaluation/src/runner.rs
Due: build_get_contracts, documentation:linkcheck, test_kernels, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

WIP: fix multitest
  src/kernel_evm/evm_evaluation/src/fillers.rs
  src/kernel_evm/evm_evaluation/src/runner.rs
Due: build_get_contracts, documentation:linkcheck, test_kernels, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

WIP: debug
  src/proto_alpha/lib_delegate/state_transitions.ml
  src/proto_alpha/lib_delegate/test/mockup_simulator/mockup_simulator.ml
  src/proto_alpha/lib_delegate/test/test_scenario.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Everywhere: update protocol hash
  src/lib_protocol_compiler/final_protocol_versions
  src/proto_018_Proxford/lib_protocol/TEZOS_PROTOCOL
  src/proto_018_Proxford/lib_protocol/dune
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto: Update .ocamlformat files
  src/proto_018_Proxford/lib_protocol/.ocamlformat-ignore
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto_018: Fix OCaml formatting
  src/proto_018_Proxford/lib_protocol/test/helpers/context.ml
  src/proto_018_Proxford/lib_protocol/test/integration/validate/manager_operation_helpers.ml
  src/proto_018_Proxford/lib_protocol/test/integration/validate/valid_operations_generators.ml
  src/proto_018_Proxford/lib_protocol/test/integration/validate/validate_helpers.ml
  src/proto_018_Proxford/lib_protocol/test/pbt/test_refutation_game.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Test: Fix alcotezt utils
  tezt/lib_alcotezt/alcotezt_utils.ml
Due: tezt:build-long

Test: Add Oxford to protocols
  tezt/lib_tezos/protocol.ml
  tezt/lib_tezos/protocol.mli
  tezt/tests/sc_rollup.ml
Due: tezt:build-long

Test: Fix protocol name in protocol-specific SC rollup test
  src/proto_018_Proxford/lib_protocol/test/unit/test_sc_rollup_wasm.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Kaitai: Update struct files changes due to Oxford2
  contrib/kaitai-struct-files/id_018__proxford__constants.ksy
  contrib/kaitai-struct-files/id_018__proxford__constants__fixed.ksy
  contrib/kaitai-struct-files/id_018__proxford__constants__parametric.ksy
  contrib/kaitai-struct-files/id_018__proxford__frozen_staker.ksy
  contrib/kaitai-struct-files/id_018__proxford__operation.ksy
  contrib/kaitai-struct-files/id_018__proxford__operation__contents.ksy
  contrib/kaitai-struct-files/id_018__proxford__operation__contents_list.ksy
  contrib/kaitai-struct-files/id_018__proxford__operation__protocol_data.ksy
  contrib/kaitai-struct-files/id_018__proxford__operation__unsigned.ksy
  contrib/kaitai-struct-files/id_018__proxford__operation_with_attestation.ksy
  contrib/kaitai-struct-files/id_018__proxford__operation_with_attestation__unsigned.ksy
  contrib/kaitai-struct-files/id_018__proxford__parameters.ksy
  contrib/kaitai-struct-files/id_018__proxford__receipt__balance_updates.ksy
  contrib/kaitai-struct-files/id_018__proxford__unstaked_frozen_staker.ksy
Due: kaitai-struct-files, kaitai_checks

Nix: Add Kaitai struct compiler
  shell.nix
Due: none

Devtools: Add mainnet parameters for Oxford
  devtools/testnet_experiment_tools/activation_parameters_templates/proto_018_Proxford_mainnet.json
  devtools/testnet_experiment_tools/testnet_experiment_tools.ml
Due: none

Manifest: rollup node uses tar library for snapshots
  manifest/main.ml
  opam/octez-smart-rollup-node-lib.opam
  src/lib_smart_rollup_node/dune
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Rollup node: utilities for creating archives
  src/lib_smart_rollup_node/snapshot_utils.ml
  src/lib_smart_rollup_node/snapshot_utils.mli
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Rollup node/UX: only show progress bars in tty
  src/lib_smart_rollup_node/progress_bar.ml
  src/lib_smart_rollup_node/progress_bar.mli
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Rollup node: snapshot export
  src/lib_smart_rollup_node/snapshots.ml
  src/lib_smart_rollup_node/snapshots.mli
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Rollup node: display progress for snapshot export, compress and check
  src/lib_smart_rollup_node/snapshot_utils.ml
  src/lib_smart_rollup_node/snapshot_utils.mli
  src/lib_smart_rollup_node/snapshots.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Rollup node: write snapshot metadata header in archive
  src/lib_smart_rollup_node/snapshot_utils.ml
  src/lib_smart_rollup_node/snapshot_utils.mli
  src/lib_smart_rollup_node/snapshots.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Rollup node: command for snapshot export
  src/bin_smart_rollup_node/main_smart_rollup_node.ml
  src/lib_smart_rollup_node/cli.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Test: snapshot exports
  tezt/lib_tezos/sc_rollup_node.ml
  tezt/lib_tezos/sc_rollup_node.mli
  tezt/tests/sc_rollup.ml
Due: tezt:build-long

Rollup node: check snapshot integrity after export
  src/bin_smart_rollup_node/main_smart_rollup_node.ml
  src/lib_smart_rollup_node/snapshots.ml
  src/lib_smart_rollup_node/snapshots.mli
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Rollup node: RPC wrapper for commitment in plugin
  src/lib_smart_rollup_node/protocol_plugin_sig.ml
  src/proto_017_PtNairob/lib_sc_rollup_node/layer1_helpers.ml
  src/proto_017_PtNairob/lib_sc_rollup_node/layer1_helpers.mli
  src/proto_018_Proxford/lib_sc_rollup_node/layer1_helpers.ml
  src/proto_018_Proxford/lib_sc_rollup_node/layer1_helpers.mli
  src/proto_alpha/lib_sc_rollup_node/layer1_helpers.ml
  src/proto_alpha/lib_sc_rollup_node/layer1_helpers.mli
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Rollup node: snapshot import command
  src/bin_smart_rollup_node/main_smart_rollup_node.ml
  src/lib_smart_rollup_node/cli.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Rollup node: snapshot import
  src/lib_smart_rollup_node/snapshot_utils.ml
  src/lib_smart_rollup_node/snapshot_utils.mli
  src/lib_smart_rollup_node/snapshots.ml
  src/lib_smart_rollup_node/snapshots.mli
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Path conditions:
  build_get_contracts: any of: src/**/*, devtools/get_contracts/**/*
  kaitai-struct-files: any of: contrib/kaitai-struct-files/*, contrib/kaitai-struct-files/**/*
  tezos-rust-sdk: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  tezos-rust-sdk-test-codec: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  documentation:linkcheck: (any of: docs/**/*) or (any of: src/**/*)
  install_python_focal: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_jammy: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_bullseye: any of: docs/developer/install-python-debian-ubuntu.sh
  script:snapshot_alpha_and_link: any of: src/proto_alpha/**/*, scripts/snapshot_alpha_and_link.sh, scripts/snapshot_alpha.sh, scripts/user_activated_upgrade.sh
  oc.install_bin_focal: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_jammy: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_focal: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_jammy: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_fedora_37: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_fedora_37: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.compile_release_sources_bullseye: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.compile_sources_bullseye: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  test_kernels: any of: src/kernel_*/**/*, src/risc_v/**/*
  oc.test-liquidity-baking-scripts: any of: src/**/*, scripts/ci/test_liquidity_baking_scripts.sh, scripts/check-liquidity-baking-scripts.sh
  kaitai_checks: any of: src/**/*, contrib/*kaitai*/**/*, .gitlab/**/*, .gitlab-ci.yml
  oc.check_lift_limits_patch: any of: src/bin_tps_evaluation/lift_limits.patch, src/proto_alpha/lib_protocol/main.ml, .gitlab/**/*, .gitlab-ci.yml
  tezt: any of: src/**/*, test/**/*
  tezt-greedy-4k: any of: src/**/*, test/**/*
  tezt-greedy-3k: any of: src/**/*, test/**/*
  tezt:static-binaries: any of: src/**/*, test/**/*
  tezt:build-long: any of: src/**/*, tezt/**/*
  lockfile_sync_check: any of: scripts/version.sh, tezos.opam.locked
