Repository OKEAMAH/Git: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_get_contracts, kaitai-struct-files, tezos-rust-sdk, tezos-rust-sdk-test-codec, documentation:linkcheck, install_python_focal, install_python_jammy, install_python_bullseye, script:snapshot_alpha_and_link, oc.install_bin_focal, oc.install_bin_jammy, oc.install_bin_rc_focal, oc.install_bin_rc_jammy, oc.install_bin_fedora_37, oc.install_bin_rc_fedora_37, oc.compile_release_sources_bullseye, oc.compile_sources_bullseye, test_kernels, oc.test-liquidity-baking-scripts, kaitai_checks, oc.check_lift_limits_patch, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long, lockfile_sync_check

Path conditions:
  build_get_contracts: any of: src/**/*, devtools/get_contracts/**/*
  kaitai-struct-files: any of: contrib/kaitai-struct-files/*, contrib/kaitai-struct-files/**/*
  tezos-rust-sdk: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  tezos-rust-sdk-test-codec: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  documentation:linkcheck: (any of: docs/**/*) or (any of: src/**/*)
  install_python_focal: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_jammy: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_bullseye: any of: docs/developer/install-python-debian-ubuntu.sh
  script:snapshot_alpha_and_link: any of: src/proto_alpha/**/*, scripts/snapshot_alpha_and_link.sh, scripts/snapshot_alpha.sh, scripts/user_activated_upgrade.sh
  oc.install_bin_focal: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_jammy: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_focal: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_jammy: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_fedora_37: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_fedora_37: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.compile_release_sources_bullseye: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.compile_sources_bullseye: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  test_kernels: any of: src/kernel_*/**/*, src/risc_v/**/*
  oc.test-liquidity-baking-scripts: any of: src/**/*, scripts/ci/test_liquidity_baking_scripts.sh, scripts/check-liquidity-baking-scripts.sh
  kaitai_checks: any of: src/**/*, contrib/*kaitai*/**/*, .gitlab/**/*, .gitlab-ci.yml
  oc.check_lift_limits_patch: any of: src/bin_tps_evaluation/lift_limits.patch, src/proto_alpha/lib_protocol/main.ml, .gitlab/**/*, .gitlab-ci.yml
  tezt: any of: src/**/*, test/**/*
  tezt-greedy-4k: any of: src/**/*, test/**/*
  tezt-greedy-3k: any of: src/**/*, test/**/*
  tezt:static-binaries: any of: src/**/*, test/**/*
  tezt:build-long: any of: src/**/*, tezt/**/*
  lockfile_sync_check: any of: scripts/version.sh, tezos.opam.locked

Rollup node: file lock utils allow to fail when the lock is taken
  src/lib_smart_rollup_node/utils.ml
  src/lib_smart_rollup_node/utils.mli
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Rollup node: expose global lock file path
  src/lib_smart_rollup_node/node_context.ml
  src/lib_smart_rollup_node/node_context.mli
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Test: snapshot import for rollup node
  tezt/lib_tezos/sc_rollup_node.ml
  tezt/lib_tezos/sc_rollup_node.mli
  tezt/tests/sc_rollup.ml
Due: tezt:build-long

Rollup node: check l2 chain consistency on import
  src/lib_smart_rollup_node/snapshots.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Rollup node: spinner for snapshot extraction
  src/lib_smart_rollup_node/snapshot_utils.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Rollup node: Cli option for not running integrity checks on snapshots
  src/bin_smart_rollup_node/main_smart_rollup_node.ml
  src/lib_smart_rollup_node/cli.ml
  src/lib_smart_rollup_node/snapshots.ml
  src/lib_smart_rollup_node/snapshots.mli
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Rollup node: produce compressed snapshot on the fly
  src/bin_smart_rollup_node/main_smart_rollup_node.ml
  src/lib_smart_rollup_node/cli.ml
  src/lib_smart_rollup_node/snapshots.ml
  src/lib_smart_rollup_node/snapshots.mli
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Rollup node: check last commitment on snapshot import
  src/lib_smart_rollup_node/snapshot_utils.ml
  src/lib_smart_rollup_node/snapshot_utils.mli
  src/lib_smart_rollup_node/snapshots.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Rollup node/Interpreter: process_head does not need block headers
  src/lib_smart_rollup_node/interpreter.ml
  src/lib_smart_rollup_node/interpreter.mli
  src/lib_smart_rollup_node/rollup_node_daemon.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Rollup node/Interpreter: read-only version of process_head
  src/lib_smart_rollup_node/interpreter.ml
  src/lib_smart_rollup_node/interpreter.mli
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Rollup node: require only necessary part of L1 ctxt
  src/lib_crawler/layer_1.ml
  src/lib_crawler/layer_1.mli
  src/lib_injector/injector_functor.ml
  src/lib_smart_rollup_node/layer1.ml
  src/lib_smart_rollup_node/layer1.mli
  src/lib_smart_rollup_node/node_context.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Rollup node: replay L2 chain since LCC on import
  src/lib_crawler/layer_1.ml
  src/lib_crawler/layer_1.mli
  src/lib_smart_rollup_node/layer1.ml
  src/lib_smart_rollup_node/layer1.mli
  src/lib_smart_rollup_node/messages.ml
  src/lib_smart_rollup_node/messages.mli
  src/lib_smart_rollup_node/node_context.ml
  src/lib_smart_rollup_node/node_context.mli
  src/lib_smart_rollup_node/snapshots.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Rollup node/Plugin: expose Inbox.add_all_messages
  src/lib_smart_rollup_node/protocol_plugin_sig.ml
  src/proto_017_PtNairob/lib_sc_rollup_node/inbox.ml
  src/proto_017_PtNairob/lib_sc_rollup_node/inbox.mli
  src/proto_018_Proxford/lib_sc_rollup_node/inbox.ml
  src/proto_018_Proxford/lib_sc_rollup_node/inbox.mli
  src/proto_alpha/lib_sc_rollup_node/inbox.ml
  src/proto_alpha/lib_sc_rollup_node/inbox.mli
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

WIP: voting
  docs/alpha/voting.rst
Due: documentation:linkcheck

Proto: Update Vanity nonce
  src/proto_alpha/lib_protocol/main.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, oc.check_lift_limits_patch, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

test
  .gitlab-ci.yml
Due: kaitai_checks, oc.check_lift_limits_patch

new version
  .gitlab-ci.yml
Due: kaitai_checks, oc.check_lift_limits_patch

fixup! MIR: Update context to include counter
  contrib/mir/src/context.rs
  contrib/mir/src/interpreter.rs
  contrib/mir/src/lib.rs
  contrib/mir/src/typechecker.rs
  contrib/mir/src/tzt.rs
Due: none

Ticket-UX: use map instead of list for ticket_receipt
  src/proto_alpha/lib_client/operation_result.ml
  src/proto_alpha/lib_protocol/apply.ml
  src/proto_alpha/lib_protocol/apply_internal_results.ml
  src/proto_alpha/lib_protocol/apply_results.ml
  src/proto_alpha/lib_protocol/sc_rollup_operations.ml
  src/proto_alpha/lib_protocol/test/integration/michelson/test_ticket_accounting.ml
  src/proto_alpha/lib_protocol/ticket_receipt.ml
  src/proto_alpha/lib_protocol/ticket_receipt.mli
  src/proto_alpha/lib_protocol/ticket_token_map.ml
  tezt/tests/expected/ticket_receipt_and_rpc.ml/Alpha- Ticket updates in receipt.out
  tezt/tests/expected/tickets.ml/Alpha- Create and remove tickets.out
  tezt/tests/expected/tickets.ml/Alpha- Minting then sending tickets to smart-contract rollup should succeed with.out
  tezt/tests/expected/tickets.ml/Alpha- Send tickets between originated contracts and implicit accounts.out
  tezt/tests/expected/tickets.ml/Alpha- Send tickets in bigmap.out
  tezt/tests/expected/tickets.ml/Alpha- Sending ticket from contract storage to implicit accounts.out
  tezt/tests/expected/tickets.ml/Alpha- Sending tickets from storage to smart-contract rollup should succeed with.out
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

fixup! MIR: Add TRANSFER_TOKENS and SET_DELEGATE instrs
  contrib/mir/src/typechecker.rs
Due: none

fixup! MIR: Make untyping failable
  contrib/mir/src/ast.rs
Due: none

fixup! fixup! MIR: Make untyping failable
  contrib/mir/src/lib.rs
  contrib/mir/src/tzt/expectation.rs
Due: none

second version, without marge-bot
  .gitlab-ci.yml
Due: kaitai_checks, oc.check_lift_limits_patch

Scripts: add [gitlab/run_pipeline.sh]
  scripts/gitlab/run_pipeline.sh
Due: none

CI/unit.yml: move unit templates to common
  .gitlab/ci/jobs/test/common.yml
  .gitlab/ci/jobs/test/unit.yml
Due: kaitai_checks, oc.check_lift_limits_patch

CI: Add FLAKE_TEST pipeline
  .gitlab-ci.yml
  .gitlab/ci/jobs/test/tezt_flake.yml
  .gitlab/ci/jobs/test/unit_flake.sh
  .gitlab/ci/jobs/test/unit_flake.yml
  .gitlab/ci/jobs/test/unit_js_flake.yml
  .gitlab/ci/pipelines/flake_test.yml
  .gitlab/ci/pipelines/flake_test_variables.yml
Due: kaitai_checks, oc.check_lift_limits_patch

Add a cache to build jobs
  .gitlab/ci/jobs/build/kernels.sh
  .gitlab/ci/jobs/build/kernels.yml
  .gitlab/ci/jobs/build/x86_64.yml
  scripts/ci/build_full_unreleased.sh
Due: kaitai_checks, oc.check_lift_limits_patch

Split [external_validation.ml]
  tezt/tests/external_validation.ml
Due: tezt:build-long

Add [tezt_gcp]
  .gitlab/ci/jobs/test/tezt_flake_gcp.yml
  .gitlab/ci/pipelines/flake_test.yml
Due: kaitai_checks, oc.check_lift_limits_patch

Tezt: Set [external_validation.ml] with [SIGQUIT] to [Tag.flaky]
  tezt/tests/external_validation.ml
Due: tezt:build-long

MIR: Implement encoder
  contrib/mir/src/lexer.rs
  contrib/mir/src/lib.rs
  contrib/mir/src/serializer.rs
  contrib/mir/src/serializer/encode.rs
Due: none

MIR: Add tests on encoder
  contrib/mir/src/ast/micheline.rs
  contrib/mir/src/serializer/encode.rs
Due: none

MIR: Update `Prim` type
  contrib/mir/src/ast/micheline.rs
  contrib/mir/src/lexer.rs
  contrib/mir/src/typechecker.rs
Due: none

Key_value_store: Rehaul the documentation
  src/lib_stdlib_unix/key_value_store.ml
  src/lib_stdlib_unix/key_value_store.mli
  src/lib_stdlib_unix/test/test_key_value_store_fuzzy.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Key_value_store: Remember the LRU node
  src/lib_stdlib_unix/key_value_store.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Key_value_store: Add a remove_file function
  src/lib_stdlib_unix/key_value_store.ml
  src/lib_stdlib_unix/key_value_store.mli
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Test/Key_value_store: Include remove scenario
  src/lib_stdlib_unix/test/test_key_value_store_fuzzy.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Scripts: add patch that simulate an artificial signing delay using SIGN_DELAY envar
  scripts/signing-delay.patch
Due: none

plug profiler in env
  src/lib_protocol_environment/environment_V10.ml
  src/lib_protocol_environment/environment_V11.ml
  src/lib_protocol_environment/environment_V9.ml
  src/lib_protocol_environment/environment_profiler.ml
  src/lib_protocol_environment/sigs/v10.in.ml
  src/lib_protocol_environment/sigs/v10.ml
  src/lib_protocol_environment/sigs/v10/profiler.mli
  src/lib_protocol_environment/sigs/v11.in.ml
  src/lib_protocol_environment/sigs/v11.ml
  src/lib_protocol_environment/sigs/v11/profiler.mli
  src/lib_protocol_environment/sigs/v9.in.ml
  src/lib_protocol_environment/sigs/v9.ml
  src/lib_protocol_environment/sigs/v9/profiler.mli
  src/lib_protocol_environment/tezos_protocol_environment.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

plug protocol profilers
  src/proto_017_PtNairob/lib_protocol/apply.ml
  src/proto_017_PtNairob/lib_protocol/baking.ml
  src/proto_017_PtNairob/lib_protocol/delegate_cycles.ml
  src/proto_017_PtNairob/lib_protocol/script_cache.ml
  src/proto_017_PtNairob/lib_protocol/script_interpreter.ml
  src/proto_017_PtNairob/lib_protocol/script_ir_translator.ml
  src/proto_018_Proxford/lib_protocol/apply.ml
  src/proto_018_Proxford/lib_protocol/baking.ml
  src/proto_018_Proxford/lib_protocol/delegate_cycles.ml
  src/proto_018_Proxford/lib_protocol/script_cache.ml
  src/proto_018_Proxford/lib_protocol/script_interpreter.ml
  src/proto_018_Proxford/lib_protocol/script_ir_translator.ml
  src/proto_alpha/lib_protocol/apply.ml
  src/proto_alpha/lib_protocol/baking.ml
  src/proto_alpha/lib_protocol/delegate_cycles.ml
  src/proto_alpha/lib_protocol/script_cache.ml
  src/proto_alpha/lib_protocol/script_interpreter.ml
  src/proto_alpha/lib_protocol/script_ir_translator.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long
