Repository OKEAMAH/Git: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_get_contracts, kaitai-struct-files, tezos-rust-sdk, tezos-rust-sdk-test-codec, documentation:linkcheck, install_python_focal, install_python_jammy, install_python_bullseye, script:snapshot_alpha_and_link, oc.install_bin_focal, oc.install_bin_jammy, oc.install_bin_rc_focal, oc.install_bin_rc_jammy, oc.install_bin_fedora_37, oc.install_bin_rc_fedora_37, oc.compile_release_sources_bullseye, oc.compile_sources_bullseye, test_kernels, oc.test-liquidity-baking-scripts, kaitai_checks, oc.check_lift_limits_patch, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long, lockfile_sync_check

Path conditions:
  build_get_contracts: any of: src/**/*, devtools/get_contracts/**/*
  kaitai-struct-files: any of: contrib/kaitai-struct-files/*, contrib/kaitai-struct-files/**/*
  tezos-rust-sdk: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  tezos-rust-sdk-test-codec: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  documentation:linkcheck: (any of: docs/**/*) or (any of: src/**/*)
  install_python_focal: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_jammy: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_bullseye: any of: docs/developer/install-python-debian-ubuntu.sh
  script:snapshot_alpha_and_link: any of: src/proto_alpha/**/*, scripts/snapshot_alpha_and_link.sh, scripts/snapshot_alpha.sh, scripts/user_activated_upgrade.sh
  oc.install_bin_focal: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_jammy: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_focal: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_jammy: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_fedora_37: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_fedora_37: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.compile_release_sources_bullseye: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.compile_sources_bullseye: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  test_kernels: any of: src/kernel_*/**/*, src/risc_v/**/*
  oc.test-liquidity-baking-scripts: any of: src/**/*, scripts/ci/test_liquidity_baking_scripts.sh, scripts/check-liquidity-baking-scripts.sh
  kaitai_checks: any of: src/**/*, contrib/*kaitai*/**/*, .gitlab/**/*, .gitlab-ci.yml
  oc.check_lift_limits_patch: any of: src/bin_tps_evaluation/lift_limits.patch, src/proto_alpha/lib_protocol/main.ml, .gitlab/**/*, .gitlab-ci.yml
  tezt: any of: src/**/*, test/**/*
  tezt-greedy-4k: any of: src/**/*, test/**/*
  tezt-greedy-3k: any of: src/**/*, test/**/*
  tezt:static-binaries: any of: src/**/*, test/**/*
  tezt:build-long: any of: src/**/*, tezt/**/*
  lockfile_sync_check: any of: scripts/version.sh, tezos.opam.locked

Naming: improve lockfile naming
  src/lib_store/shared/naming.ml
  src/lib_store/shared/naming.mli
  src/lib_store/unix/store.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Store: count block store status changes
  src/lib_store/shared/naming.ml
  src/lib_store/shared/naming.mli
  src/lib_store/unix/block_store.ml
  src/lib_store/unix/block_store.mli
  src/lib_store/unix/store.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Shell: move node specific RPCs
  src/lib_shell/block_directory.ml
  src/lib_shell/chain_directory.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Head_daemon: add synchonization event
  src/lib_rpc_process/head_daemon.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Head_daemon: refactor
  src/lib_rpc_process/head_daemon.ml
  src/lib_rpc_process/main.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Store: sync floating block indexes
  src/lib_store/unix/floating_block_store.ml
  src/lib_store/unix/floating_block_store.mli
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Shell: lift monitor_head rpc implementation
  src/lib_shell/monitor_directory.ml
  src/lib_shell/monitor_directory.mli
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Shell: clearer RPC directory split
  docs/doc_gen/rpc_doc.ml
  src/lib_rpc_process/directory.ml
  src/lib_shell/block_directory.ml
  src/lib_shell/block_directory.mli
  src/lib_shell/chain_directory.ml
  src/lib_shell/chain_directory.mli
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

fixup ?? Tezt: add new test
  tezt/tests/rpc_process.ml
Due: tezt:build-long

Store: implement a minimal Store.sync
  .gitlab/ci/jobs/packaging/opam_prepare.yml
  manifest/main.ml
  src/lib_rpc_process/directory.ml
  src/lib_rpc_process/directory.mli
  src/lib_rpc_process/dune
  src/lib_rpc_process/head_daemon.ml
  src/lib_rpc_process/main.ml
  src/lib_shell/block_directory.ml
  src/lib_store/mocked/store.ml
  src/lib_store/shared/naming.ml
  src/lib_store/shared/naming.mli
  src/lib_store/shared/store_events.ml
  src/lib_store/store.mli
  src/lib_store/unix/block_store.ml
  src/lib_store/unix/block_store.mli
  src/lib_store/unix/consistency.ml
  src/lib_store/unix/store.ml
  src/lib_store/unix/store.mli
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, oc.check_lift_limits_patch, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Tezt: handle RPC process synchronization (enough?)
  tezt/lib_tezos/node.ml
  tezt/lib_tezos/node.mli
Due: tezt:build-long

wip debug sync floating store
  src/lib_store/unix/floating_block_store.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Rpc_process: initialize DAL
  src/lib_rpc_process/main.ml
  src/lib_rpc_process/parameters.ml
  src/lib_rpc_process/parameters.mli
  src/lib_rpc_process/rpc_process_worker.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Store: create chain_dir explicitely
  src/lib_store/unix/store.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

fixup! Rpc_process: initialize DAL
  src/lib_rpc_process/rpc_process_worker.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

wip: add applied blocks watcher
  src/lib_rpc_process/directory.ml
  src/lib_rpc_process/directory.mli
  src/lib_rpc_process/head_daemon.ml
  src/lib_rpc_process/main.ml
  src/lib_shell/monitor_directory.ml
  src/lib_shell/monitor_directory.mli
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

TODO: wip
  src/lib_rpc_process/head_daemon.ml
  src/lib_store/unix/block_store.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

wip: improve sync daemon interface
  src/lib_rpc_process/head_daemon.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Follow applied blocks as well
  src/lib_rpc_process/head_daemon.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Store: store as ref to be updated. FIXUP
  src/lib_rpc_process/directory.ml
  src/lib_rpc_process/head_daemon.ml
  src/lib_shell/monitor_directory.ml
  src/lib_shell/monitor_directory.mli
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

wip: applied only if needed
  src/lib_rpc_process/directory.ml
  src/lib_rpc_process/directory.mli
  src/lib_rpc_process/head_daemon.ml
  src/lib_rpc_process/main.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Revert "WIP: lock while syncing"
  src/lib_rpc_process/directory.ml
  src/lib_rpc_process/main.ml
  src/lib_shell/monitor_directory.ml
  src/lib_store/mocked/store.ml
  src/lib_store/shared/naming.ml
  src/lib_store/shared/naming.mli
  src/lib_store/store.mli
  src/lib_store/unix/store.ml
  src/lib_store/unix/store.mli
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

WIP: lock while syncing
  src/lib_rpc_process/directory.ml
  src/lib_rpc_process/main.ml
  src/lib_shell/monitor_directory.ml
  src/lib_store/mocked/store.ml
  src/lib_store/shared/naming.ml
  src/lib_store/shared/naming.mli
  src/lib_store/store.mli
  src/lib_store/unix/store.ml
  src/lib_store/unix/store.mli
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

CI: do not retry failed job
  .gitlab/ci/jobs/test/common.yml
  .gitlab/ci/jobs/test/tezt.yml
Due: kaitai_checks, oc.check_lift_limits_patch

add fair stream aggregator
  src/lib_rpc_process/head_daemon.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Tezt: update rpc_process test to suit the new forward policy
  tezt/tests/rpc_process.ml
Due: tezt:build-long

DEBUG to remove
  src/lib_shell/monitor_directory.ml
  src/lib_store/unix/store.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

fixup! Tezt: handle RPC process synchronization (enough?)
  tezt/lib_tezos/node.ml
Due: tezt:build-long

fixup: notify sync on new head only + sync appiled when Some
  src/lib_rpc_process/head_daemon.ml
  src/lib_rpc_process/main.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Revert "DEBUG to remove"
  src/lib_shell/monitor_directory.ml
  src/lib_store/unix/store.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

fix Tezt test
  tezt/tests/rpc_process.ml
Due: tezt:build-long

Store: update protocol table as soon as a block is stored
  src/lib_shell/chain_validator.ml
  src/lib_store/unix/store.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Tezt: restart node to update lazily synchronized store values
  tezt/tests/bootstrap.ml
  tezt/tests/storage_snapshots.ml
Due: tezt:build-long

MIR: Update lexer to include a token for macros
  contrib/mir/src/lexer.rs
  contrib/mir/src/lexer/macros.rs
  contrib/mir/src/syntax.lalrpop
Due: none

MIR: Add a test for macro expansion
  contrib/mir/src/lib.rs
Due: none

MIR: Update lexer/parser and implement macro expansion in parser
  contrib/mir/src/lexer/macros.rs
  contrib/mir/src/parser.rs
  contrib/mir/src/parser/macros.rs
  contrib/mir/src/syntax.lalrpop
Due: none

Tezt: make snapshot drag after rolling import test consistent
  tezt/tests/storage_snapshots.ml
Due: tezt:build-long

Store: improve cementing events
  src/lib_store/shared/store_events.ml
  src/lib_store/unix/block_store.ml
  src/lib_store/unix/block_store.mli
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Tezt: fix inconsistent snapshot drag after rolling import test
  tezt/tests/storage_snapshots.ml
Due: tezt:build-long

CI/unit.yml: move unit templates to common
  .gitlab/ci/jobs/test/common.yml
  .gitlab/ci/jobs/test/unit.yml
Due: kaitai_checks, oc.check_lift_limits_patch
