Repository OKEAMAH/Git: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_get_contracts, kaitai-struct-files, tezos-rust-sdk, tezos-rust-sdk-test-codec, documentation:linkcheck, install_python_focal, install_python_jammy, install_python_bullseye, script:snapshot_alpha_and_link, oc.install_bin_focal, oc.install_bin_jammy, oc.install_bin_rc_focal, oc.install_bin_rc_jammy, oc.install_bin_fedora_37, oc.install_bin_rc_fedora_37, oc.compile_release_sources_bullseye, oc.compile_sources_bullseye, test_kernels, oc.test-liquidity-baking-scripts, kaitai_checks, oc.check_lift_limits_patch, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long, lockfile_sync_check

build_get_contracts:
  script:
  - dune build @devtools/get_contracts/check

kaitai-struct-files:
  stage: client-libs
  needs:
  - trigger
  image: ubuntu:latest
  script:
  - apt update && apt install -y nix-bin make git
  - nix-channel --add https://nixos.org/channels/nixpkgs-unstable nixpkgs
  - nix-channel --update
  ...

tezos-rust-sdk:
  stage: client-libs
  needs:
  - trigger
  image: rust:1.66.0
  script:
  - apt-get update -qy && apt-get install -y openssl libssl-dev clang
  - rustup update
  - rustup component add rustfmt clippy
  - cd contrib/tezos-rust-sdk
  - cargo check --locked
  - cargo build --release
  - cargo test
  - cargo fmt -- --check

tezos-rust-sdk-test-codec:
  stage: client-libs
  needs:
  - trigger
  image: registry.gitlab.com/tezos/opam-repository:runtime-build-dependencies--2703ff3a4dbbfa575a7a3d6dc2fff2a4b23c2045
  script:
  - cd contrib/tezos-rust-sdk/codec
  - cargo build
  - cd ../../..
  - make octez-codec
  - cd contrib/tezos-rust-sdk
  - bash codec/tests/test.bash

documentation:linkcheck:
  stage: doc
  needs: []
  before_script:
  - . ./scripts/version.sh
  - . $HOME/.venv/bin/activate
  script:
  - make all
  - make -C docs redirectcheck
  - make -C docs linkcheck
  allow_failure: true

install_python_focal:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

install_python_jammy:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

install_python_bullseye:
  stage: doc
  needs:
  - trigger
  before_script:
  - if ! echo $CI_RUNNER_TAGS | grep -qe '\btezos\b'; then echo -e "\e[33m/.\ This test is skipped on runners lacking the tezos tag\e[0m"; exit 137; fi
  allow_failure:
    exit_codes: 137
  script:
  ...

script:snapshot_alpha_and_link:
  stage: test
  before_script:
  - . ./scripts/version.sh
  needs:
  - build_x86_64-released
  - build_x86_64-exp-dev-extra
  script:
  - ./.gitlab/ci/jobs/test/script:snapshot_alpha_and_link.sh

oc.install_bin_focal:
  stage: test
  needs:
  - trigger
  script:
  - ./docs/introduction/install-bin-ubuntu.sh
  image: public.ecr.aws/lts/ubuntu:20.04_stable

oc.install_bin_jammy:
  stage: test
  needs:
  - trigger
  script:
  - ./docs/introduction/install-bin-ubuntu.sh
  image: public.ecr.aws/lts/ubuntu:22.04_stable

oc.install_bin_rc_focal:
  stage: test
  needs:
  - trigger
  script:
  - ./docs/introduction/install-bin-ubuntu.sh rc
  image: public.ecr.aws/lts/ubuntu:20.04_stable

oc.install_bin_rc_jammy:
  stage: test
  needs:
  - trigger
  script:
  - ./docs/introduction/install-bin-ubuntu.sh rc
  image: public.ecr.aws/lts/ubuntu:22.04_stable

introduce shell profilers
  src/bin_node/node_replay_command.ml
  src/bin_node/node_run_command.ml
  src/lib_shell/profiler_directory.ml
  src/lib_shell_services/profiler_services.ml
  src/lib_shell_services/shell_profiling.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

plug shell profiler barrier
  src/lib_shell/chain_validator.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

plug requester profiler
  manifest/main.ml
  opam/octez-libs.opam
  src/lib_base/index.mld
  src/lib_requester/dune
  src/lib_requester/requester.ml
  src/lib_requester/test/dune
  src/lib_shell/dune
  src/lib_shell/index.mld
  src/lib_shell/test/dune
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

mempool: improve mempool profiler reports
  src/lib_shell/chain_validator.ml
  src/lib_shell/prevalidator.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

plug mempool profiler
  src/lib_shell/prevalidator.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Prevalidator: Add probs in already_handled function
  src/lib_shell/prevalidator.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Prevalidator: Add probs in update_advertised_mempool_fields
  src/lib_shell/prevalidator.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

plug store profiler
  src/lib_store/unix/store.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

plug store merge profiler
  src/lib_store/unix/block_store.ml
  src/lib_store/unix/cemented_block_store.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

plug p2p reader profiler
  src/lib_shell/p2p_reader.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

plug chain validator profiler
  src/lib_shell/chain_validator.ml
  src/lib_shell/peer_validator.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

plug block validator profiler
  src/lib_shell/block_validator.ml
  src/lib_shell/block_validator_process.ml
  src/lib_validation/block_validation.ml
  src/lib_validation/external_validation.ml
  src/lib_validation/external_validation.mli
  src/lib_validation/external_validator.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

plug baker profilers
  src/proto_017_PtNairob/lib_delegate/baking_actions.ml
  src/proto_017_PtNairob/lib_delegate/baking_nonces.ml
  src/proto_017_PtNairob/lib_delegate/baking_profiler.ml
  src/proto_017_PtNairob/lib_delegate/baking_scheduling.ml
  src/proto_017_PtNairob/lib_delegate/baking_simulator.ml
  src/proto_017_PtNairob/lib_delegate/baking_state.ml
  src/proto_017_PtNairob/lib_delegate/baking_state.mli
  src/proto_017_PtNairob/lib_delegate/block_forge.ml
  src/proto_017_PtNairob/lib_delegate/client_daemon.ml
  src/proto_017_PtNairob/lib_delegate/node_rpc.ml
  src/proto_017_PtNairob/lib_delegate/operation_selection.ml
  src/proto_017_PtNairob/lib_delegate/operation_worker.ml
  src/proto_017_PtNairob/lib_delegate/state_transitions.ml
  src/proto_018_Proxford/lib_delegate/baking_actions.ml
  src/proto_018_Proxford/lib_delegate/baking_nonces.ml
  src/proto_018_Proxford/lib_delegate/baking_profiler.ml
  src/proto_018_Proxford/lib_delegate/baking_scheduling.ml
  src/proto_018_Proxford/lib_delegate/baking_simulator.ml
  src/proto_018_Proxford/lib_delegate/baking_state.ml
  src/proto_018_Proxford/lib_delegate/baking_state.mli
  src/proto_018_Proxford/lib_delegate/block_forge.ml
  src/proto_018_Proxford/lib_delegate/client_daemon.ml
  src/proto_018_Proxford/lib_delegate/node_rpc.ml
  src/proto_018_Proxford/lib_delegate/operation_selection.ml
  src/proto_alpha/lib_delegate/baking_actions.ml
  src/proto_alpha/lib_delegate/baking_nonces.ml
  src/proto_alpha/lib_delegate/baking_profiler.ml
  src/proto_alpha/lib_delegate/baking_scheduling.ml
  src/proto_alpha/lib_delegate/baking_simulator.ml
  src/proto_alpha/lib_delegate/baking_state.ml
  src/proto_alpha/lib_delegate/baking_state.mli
  src/proto_alpha/lib_delegate/block_forge.ml
  src/proto_alpha/lib_delegate/client_daemon.ml
  src/proto_alpha/lib_delegate/node_rpc.ml
  src/proto_alpha/lib_delegate/operation_selection.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

plug RPC profiler
  src/bin_node/node_run_command.ml
  src/lib_shell/chain_validator.ml
  src/lib_shell_services/shell_profiling.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

RBT: use full block hash name for separation in baker_profiling.txt
  src/proto_017_PtNairob/lib_delegate/baking_scheduling.ml
  src/proto_alpha/lib_delegate/baking_scheduling.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

RBT: profile every calls to call_service
  manifest/main.ml
  src/lib_rpc_http/RPC_client.ml
  src/lib_rpc_http/RPC_profiler.ml
  src/lib_rpc_http/RPC_profiler.mli
  src/lib_rpc_http/dune
  src/proto_017_PtNairob/lib_delegate/client_daemon.ml
  src/proto_017_PtNairob/lib_delegate/dune
  src/proto_018_Proxford/lib_delegate/dune
  src/proto_alpha/lib_delegate/client_daemon.ml
  src/proto_alpha/lib_delegate/dune
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

RBT: switch to full block hash for section in profiling report
  src/proto_017_PtNairob/lib_delegate/baking_nonces.ml
  src/proto_018_Proxford/lib_delegate/baking_nonces.ml
  src/proto_alpha/lib_delegate/baking_nonces.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

RBT: generic reset_block_section function for profilers
  src/lib_shell/block_validator.ml
  src/lib_shell_services/shell_profiling.ml
  src/lib_store/unix/store.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

RBT: generic reset_block_section for baking_profiler
  src/proto_alpha/lib_delegate/baking_profiler.ml
  src/proto_alpha/lib_delegate/node_rpc.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

augment environement variable with output directory option
  src/bin_node/node_replay_command.ml
  src/bin_node/node_run_command.ml
  src/proto_017_PtNairob/lib_delegate/client_daemon.ml
  src/proto_alpha/lib_delegate/client_daemon.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Profiler: add a timestamp to all toplevel record section
  src/lib_base/unix/simple_profiler.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

RBT: block section for merge profiler
  src/lib_store/unix/block_store.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

yes-node
  src/lib_crypto/signature_v0.ml
  src/lib_crypto/signature_v1.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

add sign delay to baker sign site
  src/proto_017_PtNairob/lib_delegate/baking_actions.ml
  src/proto_018_Proxford/lib_delegate/baking_actions.ml
  src/proto_alpha/lib_delegate/baking_actions.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

WIP Proto/Michelson: distinguish interpreter errors
  src/proto_alpha/lib_plugin/RPC.ml
  src/proto_alpha/lib_plugin/script_interpreter_logging.ml
  src/proto_alpha/lib_protocol/script_interpreter.ml
  src/proto_alpha/lib_protocol/script_interpreter.mli
  src/proto_alpha/lib_protocol/script_interpreter_defs.ml
  src/proto_alpha/lib_protocol/script_typed_ir.ml
  src/proto_alpha/lib_protocol/script_typed_ir.mli
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Key_value_store: Handle a cache miss case during remove
  src/lib_stdlib_unix/key_value_store.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Proto: do not clean useless frozen deposits
  src/proto_alpha/lib_protocol/init_storage.ml
Due: build_get_contracts, documentation:linkcheck, script:snapshot_alpha_and_link, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Test/Key_value_store: Strengthen the property to handle cache miss
  src/lib_stdlib_unix/test/test_key_value_store_fuzzy.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

[WIP] DAL: Implement a GC for old shards
  src/bin_dal_node/daemon.ml
  src/bin_dal_node/store.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Key_value_store: Remove outdated comment
  src/lib_stdlib_unix/key_value_store.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

[WIP] Try to remove remenent file
  src/lib_stdlib_unix/test/test_key_value_store_fuzzy.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

CI: disable GCP runners
  .gitlab/ci/jobs/test/tezt.yml
Due: kaitai_checks, oc.check_lift_limits_patch

Wasm Debugger: use LTerm for command history
  src/lib_wasm_debugger/repl_helpers.ml
  src/lib_wasm_debugger/wasm_debugger.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

EVM/Benchmarks: fix benchmarking script
  etherlink/kernel_evm/benchmarks/package-lock.json
  etherlink/kernel_evm/benchmarks/package.json
  etherlink/kernel_evm/benchmarks/scripts/run_benchmarks.js
Due: none

EVM/Benchmarks: format script using Prettier
  etherlink/kernel_evm/benchmarks/scripts/run_benchmarks.js
Due: none

Wasm Debugger: use LTerm for command execution io
  src/lib_wasm_debugger/commands.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

WASM Debugger: allow chaining commands using ';'
  src/lib_wasm_debugger/wasm_debugger.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

WASM Debugger: add command completions
  etherlink/bin_evm_node/lib_dev/sequencer_state.ml
  src/lib_wasm_debugger/commands.ml
  src/lib_wasm_debugger/repl_helpers.ml
  src/lib_wasm_debugger/wasm_debugger.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

WASM Debugger: add path completions
  src/lib_wasm_debugger/commands.ml
  src/lib_wasm_debugger/wasm_debugger.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

WASM Debugger: allow to disable storage completions
  src/lib_wasm_debugger/config.ml
  src/lib_wasm_debugger/wasm_debugger.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, kaitai_checks, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Path conditions:
  build_get_contracts: any of: src/**/*, devtools/get_contracts/**/*
  kaitai-struct-files: any of: contrib/kaitai-struct-files/*, contrib/kaitai-struct-files/**/*
  tezos-rust-sdk: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  tezos-rust-sdk-test-codec: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  documentation:linkcheck: (any of: docs/**/*) or (any of: src/**/*)
  install_python_focal: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_jammy: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_bullseye: any of: docs/developer/install-python-debian-ubuntu.sh
  script:snapshot_alpha_and_link: any of: src/proto_alpha/**/*, scripts/snapshot_alpha_and_link.sh, scripts/snapshot_alpha.sh, scripts/user_activated_upgrade.sh
  oc.install_bin_focal: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_jammy: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_focal: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_jammy: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_fedora_37: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_fedora_37: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.compile_release_sources_bullseye: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.compile_sources_bullseye: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  test_kernels: any of: src/kernel_*/**/*, src/risc_v/**/*
  oc.test-liquidity-baking-scripts: any of: src/**/*, scripts/ci/test_liquidity_baking_scripts.sh, scripts/check-liquidity-baking-scripts.sh
  kaitai_checks: any of: src/**/*, contrib/*kaitai*/**/*, .gitlab/**/*, .gitlab-ci.yml
  oc.check_lift_limits_patch: any of: src/bin_tps_evaluation/lift_limits.patch, src/proto_alpha/lib_protocol/main.ml, .gitlab/**/*, .gitlab-ci.yml
  tezt: any of: src/**/*, test/**/*
  tezt-greedy-4k: any of: src/**/*, test/**/*
  tezt-greedy-3k: any of: src/**/*, test/**/*
  tezt:static-binaries: any of: src/**/*, test/**/*
  tezt:build-long: any of: src/**/*, tezt/**/*
  lockfile_sync_check: any of: scripts/version.sh, tezos.opam.locked
