Repository OKEAMAH/Git: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_get_contracts, kaitai-struct-files, tezos-rust-sdk, tezos-rust-sdk-test-codec, documentation:linkcheck, install_python_focal, install_python_jammy, install_python_bullseye, script:snapshot_alpha_and_link, oc.install_bin_focal, oc.install_bin_jammy, oc.install_bin_rc_focal, oc.install_bin_rc_jammy, oc.install_bin_fedora_37, oc.install_bin_rc_fedora_37, oc.compile_release_sources_bullseye, oc.compile_sources_bullseye, test_kernels, oc.test-liquidity-baking-scripts, check_lift_limits_patch, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long, lockfile_sync_check

Path conditions:
  build_get_contracts: any of: src/**/*, devtools/get_contracts/**/*
  kaitai-struct-files: any of: contrib/kaitai-struct-files/*, contrib/kaitai-struct-files/**/*
  tezos-rust-sdk: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  tezos-rust-sdk-test-codec: any of: contrib/tezos-rust-sdk/, contrib/tezos-rust-sdk/*, contrib/tezos-rust-sdk/**/*
  documentation:linkcheck: (any of: docs/**/*) or (any of: src/**/*)
  install_python_focal: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_jammy: any of: docs/developer/install-python-debian-ubuntu.sh
  install_python_bullseye: any of: docs/developer/install-python-debian-ubuntu.sh
  script:snapshot_alpha_and_link: any of: src/proto_alpha/**/*, scripts/snapshot_alpha_and_link.sh, scripts/snapshot_alpha.sh, scripts/user_activated_upgrade.sh
  oc.install_bin_focal: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_jammy: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_focal: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_jammy: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_fedora_37: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.install_bin_rc_fedora_37: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.compile_release_sources_bullseye: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  oc.compile_sources_bullseye: any of: docs/introduction/install*.sh, docs/introduction/compile*.sh
  test_kernels: any of: src/kernel_*/**/*, src/risc_v/**/*
  oc.test-liquidity-baking-scripts: any of: src/**/*, scripts/ci/test_liquidity_baking_scripts.sh, scripts/check-liquidity-baking-scripts.sh
  check_lift_limits_patch: any of: src/bin_tps_evaluation/lift_limits.patch, src/proto_alpha/lib_protocol/main.ml
  tezt: any of: src/**/*, test/**/*
  tezt-greedy-4k: any of: src/**/*, test/**/*
  tezt-greedy-3k: any of: src/**/*, test/**/*
  tezt:static-binaries: any of: src/**/*, test/**/*
  tezt:build-long: any of: src/**/*, tezt/**/*
  lockfile_sync_check: any of: scripts/version.sh, tezos.opam.locked

add cpu usage relative to parent
  src/lib_base/unix/simple_profiler.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

more probes
  src/lib_shell/prevalidator.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

add delay before injection argument in the simulator
  devtools/testnet_experiment_tools/sigs.ml
  devtools/testnet_experiment_tools/simulation_scenario.ml
  devtools/testnet_experiment_tools/tool_017_PtNairob.ml
  devtools/testnet_experiment_tools/tool_018_Proxford.ml
  devtools/testnet_experiment_tools/tool_alpha.ml
Due: none

add timers to requests + prevalidator all request to info
  src/lib_shell/prevalidator.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

rework p2p reader crap
  src/lib_shell/p2p_reader.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Revert "more probes"
  src/lib_shell/prevalidator.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Revert "rework p2p reader crap"
  src/lib_shell/p2p_reader.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

change mempool worker queue
  src/lib_shell/chain_validator.ml
  src/lib_shell/prevalidator.ml
  src/lib_shell/prevalidator.mli
  src/lib_shell_services/prevalidator_worker_state.ml
  src/lib_shell_services/prevalidator_worker_state.mli
  src/lib_workers/worker.ml
  src/lib_workers/worker.mli
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

disable remote rpc server
  src/bin_node/node_run_command.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Revert "add timers to requests + prevalidator all request to info"
  src/lib_shell/prevalidator.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Revert "change mempool worker queue"
  src/lib_shell/chain_validator.ml
  src/lib_shell/prevalidator.ml
  src/lib_shell/prevalidator.mli
  src/lib_shell_services/prevalidator_worker_state.ml
  src/lib_shell_services/prevalidator_worker_state.mli
  src/lib_workers/worker.ml
  src/lib_workers/worker.mli
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Revert "disable remote rpc server"
  src/bin_node/node_run_command.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Devtools: proto_context_du
  devtools/proto_context_du/.ocamlformat
  devtools/proto_context_du/config.ml
  devtools/proto_context_du/dune
  devtools/proto_context_du/main.ml
  manifest/main.ml
  opam/internal-devtools.opam
Due: none

CI: build docs after octez binaries are available
  .gitlab/ci/jobs/doc/build_all.yml
Due: none

Add initial version of [ci]
  ci/bin/dune
  ci/bin/main.ml
  ci/bin/rules.ml
  ci/bin/rules.mli
  ci/bin/tezos_ci.ml
  ci/bin/tezos_ci.mli
  ci/lib/base.ml
  ci/lib/dune
  ci/lib_gitlab_ci/dune
  ci/lib_gitlab_ci/if.ml
  ci/lib_gitlab_ci/if.mli
  ci/lib_gitlab_ci/predefined_vars.ml
  ci/lib_gitlab_ci/predefined_vars.mli
  ci/lib_gitlab_ci/to_yaml.ml
  ci/lib_gitlab_ci/to_yaml.mli
  ci/lib_gitlab_ci/types.ml
  ci/lib_gitlab_ci/util.ml
  ci/lib_gitlab_ci/util.mli
  ci/makefile
  scripts/version.sh
Due: lockfile_sync_check

CI: check that [ci] has run in [sanity_ci]
  .gitlab/ci/jobs/sanity/sanity_ci.yml
Due: none

WIP: force CI
  .gitlab-ci.yml
Due: none

Revert "WIP: force CI"
  .gitlab-ci.yml
Due: none

WIP
  tezt/lib_tezos/node.ml
  tezt/tests/main.ml
  tezt/tests/rpc_process.ml
Due: tezt:build-long

CI: Add FLAKE_TEST pipeline
  .gitlab-ci.yml
  .gitlab/ci/jobs/test/tezt_flake.yml
  .gitlab/ci/jobs/test/unit_flake.sh
  .gitlab/ci/jobs/test/unit_flake.yml
  .gitlab/ci/jobs/test/unit_js_flake.yml
  .gitlab/ci/pipelines/flake_test.yml
  .gitlab/ci/pipelines/flake_test_variables.yml
Due: none

CI/unit.yml: move unit templates to common
  .gitlab/ci/jobs/test/common.yml
  .gitlab/ci/jobs/test/unit.yml
Due: none

Scripts: add [gitlab/run_pipeline.sh]
  scripts/gitlab/run_pipeline.sh
Due: none

Dummy restart test
  tezt/tests/main.ml
  tezt/tests/restart.ml
Due: tezt:build-long

Add a cache to build jobs
  .gitlab/ci/jobs/build/kernels.sh
  .gitlab/ci/jobs/build/kernels.yml
  .gitlab/ci/jobs/build/x86_64.yml
  scripts/ci/build_full_unreleased.sh
Due: none

network delay
  src/lib_p2p/p2p.ml
Due: build_get_contracts, documentation:linkcheck, oc.test-liquidity-baking-scripts, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

Manifest: ignore [ci]
  manifest/main.ml
Due: none

Add [README.md]
  ci/README.md
Due: none

CI: strip .gitlab-ci.yml before regeneration
  .gitlab-ci.yml
Due: none

CI: regenerate .gitlab-ci.yml (almost)
  .gitlab-ci.yml
Due: none

CI: regenerate .gitlab-ci.yml
  .gitlab-ci.yml
  .gitlab/ci/jobs/shared/images.yml
Due: none

devtools/proto_context_du: improved interactive output
  devtools/proto_context_du/main.ml
Due: none

No GCP for flake test pipelines
  .gitlab/ci/jobs/test/tezt_flake.yml
Due: none

Kaitai: Add 'generate_input_samples.sh` script
  Makefile
  contrib/kaitai-struct-files/generate_input_samples.sh
  contrib/kaitai-struct-files/input/invalid/ground__uint16/01.hex
  contrib/kaitai-struct-files/input/invalid/ground__uint8/01.hex
  contrib/kaitai-struct-files/input/valid/ground__uint16/01.hex
  contrib/kaitai-struct-files/input/valid/ground__uint8/01.hex
  contrib/kaitai-struct-files/input/valid/ground__uint8/02.hex
  contrib/kaitai-struct-files/input/valid/ground__uint8/03.hex
  contrib/kaitai-struct-files/kaitai_e2e.sh
Due: kaitai-struct-files

Tezt: proto. agn., 1_000 runs
  tezt/tests/main.ml
  tezt/tests/restart.ml
Due: tezt:build-long

devtools/du: use octez-node-config
  devtools/proto_context_du/config.ml
  devtools/proto_context_du/dune
Due: none

TMP! Remove everything that is RISC-V related
  .gitlab/ci/jobs/packaging/opam_package.yml
  dune-project
  manifest/main.ml
  opam/octez-risc-v-pvm-test.opam
  opam/octez-risc-v-pvm.opam
  opam/tezt-risc-v-sandbox.opam
  src/risc_v/pvm/dune
  src/risc_v/pvm/test/dune
  tezt/lib_risc_v_sandbox/dune
  tezt/tests/dune
  tezt/tests/main.ml
Due: build_get_contracts, documentation:linkcheck, test_kernels, oc.test-liquidity-baking-scripts, tezt, tezt-greedy-4k, tezt-greedy-3k, tezt:static-binaries, tezt:build-long

EVM/Kernel: simplify rlp encoding of kernel upgrade
  etherlink/kernel_evm/kernel/src/inbox.rs
Due: none

EVM/Tezt: allow eth as non global installation
  tezt/lib_ethereum/eth_cli.ml
Due: tezt:build-long

ci: fix build scripts for gcp
  .gitlab/ci/jobs/doc/documentation:build_all.sh
  .gitlab/ci/jobs/doc/linkcheck.yml
  .gitlab/ci/jobs/sanity/sanity_ci.yml
  .gitlab/ci/jobs/shared/templates.yml
  .gitlab/ci/jobs/test/check_scripts.yml
  .gitlab/ci/jobs/test/common.yml
  .gitlab/ci/jobs/test/misc_checks.yml
  scripts/ci/build_full_unreleased.sh
  scripts/ci/build_static_binaries.sh
Due: none

ci: set FF_KUBERNETES_HONOR_ENTRYPOINT: false
  .gitlab-ci.yml
Due: none
